Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Reworked `generator-dirs:` as discussed in https://github.com/Open-CMSIS-Pack/devtools/issues/832
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[projmgr] Fix unit test case for macOS
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Issue860 1 (#542) (#874)
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest.gpdsc.template
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest_Generated_Component.c.template
  test/projects/RteTestM4/RteTestM4_Board.cprj
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest_Generated_Component.c
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Reworked `generator-dirs:` as discussed in https://github.com/Open-CM… (#876)
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[rtemodel, projmgr] Update linker script and regions header file alignment
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/ac6_linker_script.sct
  tools/projmgr/templates/gcc_linker_script.ld
  tools/projmgr/templates/iar_linker_script.icf
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.AC6.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.IAR.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Release.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestSolution/ref/test.target_options+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_16_1
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_20_0
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_6_5
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.gcc
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.iar
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] CMake IAR: enable object files extension replacement
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

[buildmgr, projmgr] Adjust gpdsc validation severity
  tools/buildmgr/cbuild/include/CbuildKernel.h
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest_Invalid.gpdsc
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest_Warning.gpdsc
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Update versions (#548)
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/templates/{{ProjectName}}.cproject.yml
  tools/projmgr/templates/{{SolutionName}}.csolution.yml
Due: projmgr-cov

[projmgr] Update cbuild.yml with compiler root replacement
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
Due: projmgr-cov

[projmgr] Add list environment command
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix SetLinkerNode for MacOS
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

[buildmgr] Fix CPRJ target name parsing (#549)
  libs/rtemodel/src/RteCprjProject.cpp
Due: none

[buildmgr] Fix CPRJ target name parsing (#549) (#885)
  libs/rtemodel/src/RteCprjProject.cpp
Due: none

[projmgr] Update cbuild.yml with compiler root replacement (#884)
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
Due: projmgr-cov

[projmgr] Update versions (#548) (#883)
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/templates/{{ProjectName}}.cproject.yml
  tools/projmgr/templates/{{SolutionName}}.csolution.yml
Due: projmgr-cov

[projmgr] Add 'output' name and type to cbuild.yml
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/library.cproject.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
Due: projmgr-cov

List LongPathEnabled config
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/src/UnitTests.cpp
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Restore VersionCmp::MatchMode::ANY_VERSION since it is used in pack Installer (#553)
  libs/rteutils/include/VersionCmp.h
Due: none

List LongPathEnabled config (#889)
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/src/UnitTests.cpp
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Restore VersionCmp::MatchMode::ANY_VERSION since it is used in pack Installer (#553) (#892)
  libs/rteutils/include/VersionCmp.h
Due: none

[projmgr] Update active RTE project name (#554)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
Due: projmgr-cov

Memory regions file: (#555)
  libs/rtemodel/src/RteTarget.cpp
Due: none

[projmgr] Update active RTE project name
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
Due: projmgr-cov

Memory regions file: (#555) (#900)
  libs/rtemodel/src/RteTarget.cpp
Due: none

clevel updated to clayer
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

clevel updated to clayer (#903)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Update YML-Input-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Fix linker node priority order
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Linker Script Management - small issues #901 (#558)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/WildCards.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Linker Script Management - small issues
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/WildCards.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

PackChk: improved error reporting for invalid command line and when PACK.XSD has not been found. (#559)
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
Due: packchk-cov

Update YML-Input-Format.md (#904)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov
