Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Change `Local Path:` absolute path to relative path starting from coslution.yml
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add `check` command for potential pack updates (#2459)
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo1.FLM
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo2.FLM
  test/packs/ARM/RteTestBoard/0.0.1/Documents/README.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd.cproject.yml
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd.csolution.yml
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd_my-packs.csolution.yml
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/my-packs/RteTestPack/ARM.RteTestBoard.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[RPC]: deliver infos for missing packs
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/missing_pack.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] CLANG support: re-add `-mfpu` option
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

[projmgr] Throw warning when multiple packs versions are simultaneously selected
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_multiple_versions.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Use `check updates` instead of `check`
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Use `check pack-updates` instead of `check` (#2464)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Parse and generate systemview
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

Address copilot review
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Fix test
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Address review comment
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[projmgr] Refine warning about pack selection
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[RPC]: deliver infos for missing packs (#2463)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/missing_pack.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Parse systemview.file
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Added telnet file
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Normalize paths
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Cleanup
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

[projmgr] Added debugger systemview node support (#2457)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/invalid_telnet_rtt_schema.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Use lychee link checker
  .github/markdown-link-check.jsonc
  .github/workflows/markdown.yml
Due: none

Added lychee.toml
  .github/lychee.toml
  .github/workflows/buildmgr.yml
  .github/workflows/markdown.yml
  LICENSE.md
  libs/rtemodel/docs/RTE+Model+Library+Overview.md
  tools/buildmgr/docs/doxygen/Doxygen_Templates/cmsis_header.html
  tools/buildmgr/docs/doxygen/index.html
  tools/packchk/README.md
  tools/packgen/README.md
Due: packchk-cov, packgen-cov, buildmgr-cov

Update to safe HTTPS
  LICENSE
  cmake/GetGitRevisionDescription.cmake
  cmake/GetGitRevisionDescription.cmake.in
Due: none

Check local file anchors
  .github/lychee.toml
  .github/workflows/markdown.yml
Due: none

Clean residual
  .github/workflows/markdown.yml
  tools/projmgr/schemas/debug-adapters.schema.json
Due: projmgr-cov

Remove link checker summary from GH summary page
  .github/workflows/markdown.yml
Due: none

Trigger cmsis-toolbox nightly after finishing devtools nightly
  .github/workflows/nightly.yml
Due: none

addressed feedback
  .github/workflows/nightly.yml
Due: none

[projmgr] Introduce MLOps management
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/cbuild-mlops.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildMlops.cpp
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/data/MLOps/ai_layer/ai_layer.clayer.yml
  tools/projmgr/test/data/MLOps/core0/core0.cproject.yml
  tools/projmgr/test/data/MLOps/core1/core1.cproject.yml
  tools/projmgr/test/data/MLOps/extended.csolution.yml
  tools/projmgr/test/data/MLOps/failure1.csolution.yml
  tools/projmgr/test/data/MLOps/failure2.csolution.yml
  tools/projmgr/test/data/MLOps/failure3.csolution.yml
  tools/projmgr/test/data/MLOps/failure4.csolution.yml
  tools/projmgr/test/data/MLOps/fvp/fvp_config.txt
  tools/projmgr/test/data/MLOps/minimal.csolution.yml
  tools/projmgr/test/data/MLOps/npu_macs_only.csolution.yml
  tools/projmgr/test/data/MLOps/npu_type_only.csolution.yml
  tools/projmgr/test/data/MLOps/ref/extended.cbuild-mlops.yml
  tools/projmgr/test/data/MLOps/ref/minimal.cbuild-mlops.yml
  tools/projmgr/test/data/MLOps/vela/custom.ini
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix indentations
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
Due: projmgr-cov

call with an input param
  .github/workflows/nightly.yml
Due: none

Apply suggestions from code review
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/src/ProjMgrCbuildMlops.cpp
Due: projmgr-cov

Renaming input variables
  .github/workflows/nightly.yml
Due: none
