Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Clang 15 warnings (#737)
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/rtefsutils/CMakeLists.txt
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteModel.h
  libs/xmltree/include/XmlItem.h
  libs/xmltree/include/XmlTreeItem.h
Due: none

Explicitly link stdc++fs for GCC 8
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/rtefsutils/CMakeLists.txt
Due: none

Add missing include
  tools/projmgr/src/ProjMgrGenerator.cpp
Due: projmgr-cov

Fixes for GCC 8 (#746)
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/rtefsutils/CMakeLists.txt
  tools/projmgr/src/ProjMgrGenerator.cpp
Due: projmgr-cov

Handle regex exceptions
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

Fix toolchain regex
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

Update test cases for alignment with mac CI infrastructure
  tools/buildmgr/test/testinput/Examples/GCC/Library/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Library/project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/LibraryCustom/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/LibraryCustom/project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_ns/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_s/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_s/FVP_Simulation_Model.cprj
  tools/buildmgr/test/testinput/Examples/GCC/Whitespace/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Whitespace/Target_Name.cprj
Due: buildmgr-cov

[devtools] Add `gendir` component instance attribute (#385)
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/_test-gpdsc.Debug_CM0/RTE_Components.h
  tools/projmgr/test/data/TestGenerator/layer/test.clayer.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-layer.cproject.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-layer.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[devtools] Add `gendir` component instance attribute
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/_test-gpdsc.Debug_CM0/RTE_Components.h
  tools/projmgr/test/data/TestGenerator/layer/test.clayer.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-layer.cproject.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-layer.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

RefApp-Framework.md - first improvements (WiP)
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

Details for the Reference Application Framework provided
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

RefApp-Framework - added information about header files, minor corrections.
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

typo
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

PackChk reports INFO messages when generate STM32L5xx_DFP and STM32L0xx_DFP (#479)
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/ValidateSemantic.cpp
Due: packchk-cov

typos
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

List yml ordered contexts
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/test.csolution_ordered.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

MarkDown Lint correction
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

Reference Application Framework: clarifications and technical details added (#753)
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[csolution/packchk] 'name' attribute specifying folder in pack with file element causes segmentation fault. #657 (#482)
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FilenameIsDir/Files/header1.h
  tools/packchk/test/data/FilenameIsDir/Files/test1.c
  tools/packchk/test/data/FilenameIsDir/TestVendor.FilenameIsDirPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Update CheckFiles.cpp
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

[csolution/packchk] 'name' attribute specifying folder in pack with file element causes segmentation fault.
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FilenameIsDir/Files/header1.h
  tools/packchk/test/data/FilenameIsDir/Files/test1.c
  tools/packchk/test/data/FilenameIsDir/TestVendor.FilenameIsDirPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

PackChk reports INFO messages when generate STM32L5xx_DFP and STM32L0xx_DFP
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/ValidateSemantic.cpp
Due: packchk-cov

PackChk should check for spaces in the name element of the <file> tag
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

[RTE Model] Add support for new file attributes language and scope #701 (#477)
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

list yml ordered contexts
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/test.csolution_ordered.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework toolchain registration (#480)
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrMain.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/toolchain.cproject.yml
  tools/projmgr/test/data/TestSolution/toolchain.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[RTE Model] Add support for new file attributes language and scope
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

[projmgr] Rework toolchain registration
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrMain.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/toolchain.cproject.yml
  tools/projmgr/test/data/TestSolution/toolchain.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Restrict generator call to a single context at a time
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Fix projects using preincludes in IAR (#734)
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

[buildmgr] Fix file specific defines
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/AC6/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/AccessSequence/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/File.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/File2.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/Project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
Due: buildmgr-cov

[packchk] PackChk should check for spaces in the name element of the <file> tag (#485)
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FileNameHasSpace/Files/Test M3.dbgconf
  tools/packchk/test/data/FileNameHasSpace/Files/Test M3.pdf
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x 128.FLM
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x CMSIS.c
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x CMSIS.h
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x.h
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x.svd
  tools/packchk/test/data/FileNameHasSpace/Files/startup_Test M30x.s
  tools/packchk/test/data/FileNameHasSpace/Files/system_Test M30x.c
  tools/packchk/test/data/FileNameHasSpace/Files/system_Test M30x.h
  tools/packchk/test/data/FileNameHasSpace/TestVendor.FileNameHasSpacePack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[RTE Model/csolution] Add generator files from selected components to cbuild.yml (extended: FileCategoryType) #722 (#486)
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/RteTestGen.params
  test/packs/ARM/RteTestGenerator/0.1.0/Include/RteTestInc.h
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTestGen.c.template
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTestGen.h.template
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject3_1/TestProject3_1.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_1/main.c
  tools/projmgr/test/data/TestSolution/genfiles.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

GitHub: Cache gcc-arm installer
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Fixup: Remove unused id from cache step
  .github/workflows/buildmgr.yml
Due: none

[RTE Model/csolution] Add generator files from selected components to cbuild.yml (extended: FileCategoryType)
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/RteTestGen.params
  test/packs/ARM/RteTestGenerator/0.1.0/Include/RteTestInc.h
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTestGen.c.template
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTestGen.h.template
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject3_1/TestProject3_1.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_1/main.c
  tools/projmgr/test/data/TestSolution/genfiles.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
