Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

[toolbox] Release separated archives, add packchk
  .github/workflows/toolbox.yml
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/progress.md
  tools/toolbox/scripts/set-default.sh
Due: none

[projmgr] Fixed correct test report naming
  .github/workflows/projmgr.yml
Due: none

Installation now based on Archive files
  tools/toolbox/README.md
  tools/toolbox/docs/installation.md
Due: none

Debug probe from board description: respect empty Pname attribute (#214)
  libs/rtemodel/src/RteBoard.cpp
Due: none

Debug probe from board description: respect empty Pname attribute
  libs/rtemodel/src/RteBoard.cpp
Due: none

[packchk] Add test with directory starting with "."
  tools/packchk/test/data/TestPackDot/.Files/header1.h
  tools/packchk/test/data/TestPackDot/.Files/test1.c
  tools/packchk/test/data/TestPackDot/TestVendor.TestPackDot.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

Update tools/toolbox/README.md
  tools/toolbox/README.md
Due: none

Update tools/toolbox/docs/installation.md
  tools/toolbox/docs/installation.md
Due: none

MCU-Build-Actions: Change location
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
  .github/workflows/toolbox.yml
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Improved installation and extended the overview
  tools/README.md
  tools/projmgr/docs/images/CMSIS-Toolbox-Development-Workflow.png
  tools/toolbox/docs/installation.md
Due: projmgr1

Linux, Bash and MacOS information added
  tools/toolbox/docs/installation.md
Due: none

[projmgr] Update board and device schema requirements (#216)
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

[projmgr] Update board and device schema requirements
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

YML-Format.md: Board revision added Installation.md: revised installation
  tools/projmgr/docs/Manual/YML-Format.md
  tools/toolbox/docs/installation.md
Due: projmgr1

Improved installation and extended the overview (#295)
  tools/README.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/images/CMSIS-Toolbox-Development-Workflow.png
  tools/toolbox/docs/installation.md
Due: projmgr1

[projmgr] Initialize model explicit before converting contexts
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr1

[projmgr] Add process context test case
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Initialize model explicit before converting contexts
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

File pattern support addon - devtools issue #82
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

C and C++ linker flags support addon - devtools issue #224
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Update README.md
  tools/toolbox/README.md
Due: none

Update README.md (#303)
  tools/toolbox/README.md
Due: none

Update installation.md
  tools/toolbox/docs/installation.md
Due: none

[buildmgr] Update AC6 compiler support v6.18.0
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Clean-up generic string filter
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1
