Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Strip whitespaces when copy information to RTE_Components.h
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

Use of expanded regex notations (#999)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Strip whitespaces when copy information to RTE_Components.h (#1688)
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Use of expanded regex notations (#999) (#1689)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

fix #1690 adding info for config wizard
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

restore empty line
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
Due: none

fix #1690 adding info for config wizard (#1695)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

cbuild setup delivering missing info when no compiler specified
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/no_compiler.cproject.yml
  tools/projmgr/test/data/TestLayers/no_compiler.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

cbuild setup delivering missing info when no compiler specified (#1002) (#1701)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/no_compiler.cproject.yml
  tools/projmgr/test/data/TestLayers/no_compiler.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validate that $ProjectDir()$ is expanded
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Avoid creation of files when dry-running generator
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
Due: projmgr-cov

[projmgr] Allow further processing in case of pack loading error
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+Gen.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Added support for SHAKTI E-Class and C-Class SoC
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/src/SvdAddressBlock.cpp
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

[projmgr] Check config files existence and versions (#1006)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@3.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@2.1.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@2.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.cproject.yml
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Check config files existence and versions
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@3.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@2.1.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.2.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@2.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/system_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.2.2
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.cproject.yml
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add PLM status into config file nodes in cbuild.yml (#1007)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/Instances/ref/instances.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/ref/project.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add PLM status into config file nodes in cbuild.yml
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/Instances/ref/instances.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/ref/project.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Skip missing `pname` error when layer variables are not defined (#1008)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Skip missing `pname` error when layer variables are not defined
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[rtemodel] Adjust default heap in regions file according to total RAM (#1010)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

[rtemodel] Adjust default heap in regions file according to total RAM
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

[devtools] Add support for trustzone mode `secure-only`
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteConstants.cpp
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/trustzone.Debug+secure-only.cbuild.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/trustzone.Debug+secure-only.cprj
  tools/projmgr/test/data/TestSolution/DeviceAttributes/solution.csolution.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/trustzone/secure-only.clayer.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/trustzone/trustzone.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Generate warning when linker script files are ignored (#1013)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Generate warning when linker script files are ignored
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Further improve warning/error messages (#1590)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Removed schema restrictions on depends-on
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Updated error message
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Updated tests
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Updated test
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov
