Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[rtemodel] Suppress info message concerning RTE header file recreation (#1415)
  libs/rtemodel/src/RteTarget.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

[rtemodel] Suppress info message concerning RTE header file recreation
  libs/rtemodel/src/RteTarget.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

[projmgr] Fix `pname` for SCVD entries in `cbuild-run` (#1416)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/core0.cproject.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[projmgr] Fix `pname` for SCVD entries in `cbuild-run`
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/core0.cproject.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Add `flash-info` section
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Emit `blank-val` and `fill-val` with 64bit width (#1420)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Emit `blank-val` and `fill-val` with 64bit width
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/CMakeLists.txt
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Update buildmgr documentation for release 2.13.0
  buildmgr/2.13.0/cmsis.js
Due: none

Modify pack handling: reload only modified packs
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Update libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/src/RteFsUtils.cpp
Due: none

Add localtime_s to cross-platform (#1426)
  libs/crossplatform/include/CrossPlatform.h
  libs/crossplatform/test/src/UnitTests.cpp
  libs/rtefsutils/src/RteFsUtils.cpp
Due: none

[projmgr] Update `cbuild-idx` also in case of early convert errors (#1425)
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ref/test_missing_project.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update markdown link check action
  .github/workflows/markdown.yml
Due: none

Update markdown link check action (#2378)
  .github/workflows/markdown.yml
Due: none

[projmgr] Update csolution usage: `convert` description
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Purge packs when clear global model (#1434)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlTreeItem.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[csolution-rpc] Expose evaluated dynamic access sequences
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/variables/solutionDir.clayer.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Purge packs when clear global model
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlTreeItem.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
