Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[ctrace] Align help output with specification
  tools/ctrace/src/cli/CliParser.cpp
  tools/ctrace/test/unit/src/cli/CliParserTests.cpp
Due: none

[ctrace] Restore full line coverage
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
Due: none

[ctrace] Document processor identity resolution
  tools/ctrace/src/tracerun/CtraceRunMeta.cpp
Due: none

[ctrace] Align tests, build, and documentation
  .github/workflows/ctrace.yml
  CMakeLists.txt
  LICENSE.md
  tools/ctrace/CMakeLists.txt
  tools/ctrace/README.md
  tools/ctrace/cmake/dependencies/ConfigureOpenCSD.cmake
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/CMakeLists.txt
  tools/ctrace/src/cli/ProductInfo.h.in
  tools/ctrace/test/data/Arm-reset/Arm.ctrace-run.yml
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/trace-run/Board.ctrace-run.yml
  tools/ctrace/test/data/trace-run/Minimal.ctrace-run.yml
  tools/ctrace/test/integration/CMakeLists.txt
  tools/ctrace/test/integration/src/CtraceTestCommand.cmake
  tools/ctrace/test/integration/src/RunExpectedFailure.cmake
  tools/ctrace/test/integration/src/RunTraceRunYaml.cmake
  tools/ctrace/test/unit/CMakeLists.txt
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdItmDecoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfStreamWriterTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
  tools/ctrace/test/unit/support/OpenCsdSessionTestSupport.h
  tools/ctrace/test/unit/support/OpenCsdTestSupport.h
  tools/ctrace/test/unit/support/TestSupport.h
  tools/ctrace/test/unit/support/TraceOutputTestSupport.h
Due: none

[ctrace] Restore required trace-run test coverage
  tools/ctrace/test/data/trace-run/Minimal.ctrace-run.yml
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
Due: none

[ctrace] Align trace-run validation with schema
  tools/ctrace/src/tracerun/TraceRunConfig.h
  tools/ctrace/src/tracerun/YmlTraceRunConfigReader.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
Due: none

fix(ctrace): leave CSV stream empty for unformatted trace
  tools/ctrace/docs/constraints.md
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.csv
  tools/ctrace/test/integration/src/RunResetRecoveryFixture.cmake
  tools/ctrace/test/unit/src/CtraceMainTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdPacketCollectorTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
Due: none

Added Infineon_Device_Configurator and InfineonMcuConfigWizard (#2528)
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

fix(ctrace): scope workflow path triggers
  .github/workflows/ctrace.yml
  AGENTS.md
Due: none

refactor(ctrace): use gtest integration suite
  .github/workflows/ctrace.yml
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/test/integration/CMakeLists.txt
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/integration/src/CtraceTestCommand.cmake
  tools/ctrace/test/integration/src/RunExpectedFailure.cmake
  tools/ctrace/test/integration/src/RunResetRecoveryFixture.cmake
  tools/ctrace/test/integration/src/RunTraceFixture.cmake
  tools/ctrace/test/integration/src/RunTraceRunYaml.cmake
  tools/ctrace/test/unit/CMakeLists.txt
  tools/ctrace/test/unit/src/CtraceMainTests.cpp
  tools/ctrace/test/unit/src/cli/CliParserTests.cpp
  tools/ctrace/test/unit/src/control/DecodeConsumersTests.cpp
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/CortexMPostDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdErrorControllerTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdPacketCollectorTests.cpp
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunDiscoveryTests.cpp
  tools/ctrace/test/unit/support/TestSupport.h
Due: none

fix(ctrace): use stable coverage target
  AGENTS.md
  codecov.yml
Due: none

[ctrace] Restore existing dependency versions in license
  LICENSE.md
Due: none

[ctrace] Fix coverage build and minimize repository changes
  .github/workflows/ctrace.yml
  LICENSE.md
  codecov.yml
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Update CodeQL action versions to v4.37.6
  .github/workflows/codeql-analysis.yml
Due: none

Add possibility to use piped attributes for comparison
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rteutils/include/WildCards.h
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

Add possibility to use piped attributes for comparison (#2559)
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rteutils/include/WildCards.h
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

RPC: Context change to respect 'all' flag to list packs and components
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

RPC: Context change to respect 'all' flag to list packs and components (#2564)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Add CodeQL actions group to Dependabot config
  .github/dependabot.yaml
Due: none

Update CodeQL Action versions to v4.37.7
  .github/workflows/codeql-analysis.yml
Due: none

Add compiler aliases to solution toolchain configuration
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrYamlParserUnitTest.cpp
Due: projmgr-cov

Restrict the schema to disallow versions for compiler-alias
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[CI] Migrate from ubuntu-22.04 to ubuntu-24.04
  .devcontainer/ubuntu-24.04/Dockerfile
  .devcontainer/ubuntu-24.04/devcontainer.json
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_ctrace.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/ctrace.yml
  .github/workflows/global.yaml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/shared_setup_env.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

Add solution-level compiler aliases
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrYamlParserUnitTest.cpp
Due: projmgr-cov

Exclude buildmgr from cppcheck scan
  .github/workflows/cpp-linter.yml
Due: none

Fixed cpp check findings
  .github/.cppcheck_suppressions
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteTarget.cpp
  tools/packgen/src/PackGen.cpp
Due: packgen-cov

[projmgr] Add native CMake project support
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/CmakeSupport/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
