Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Restrict `execute` and `depends-on` schema patterns (#1031)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestSolution/Executes/error.csolution.yml
  tools/projmgr/test/data/TestSolution/Executes/project/project.cproject.yml
  tools/projmgr/test/data/TestSolution/Executes/solution.csolution.yml
Due: projmgr-cov

[projmgr] Fix `FormatPath` case handling (windows) (#1030)
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Restrict `execute` and `depends-on` schema patterns (#1031) (#1769)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestSolution/Executes/error.csolution.yml
  tools/projmgr/test/data/TestSolution/Executes/project/project.cproject.yml
  tools/projmgr/test/data/TestSolution/Executes/solution.csolution.yml
Due: projmgr-cov

[projmgr] Simplify and restrict different drive path formatting to windows
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[devtools] Extend `language-C` accepted values: `c17` and `c23` (#1032)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

[projmgr] Fix `FormatPath` case handling (windows) (#1030) (#1770)
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[devtools] Extend `language-C` accepted values: `c17` and `c23` (#1032) (#1772)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Rework board mounted devices check (#1033)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/board-devices.cproject.yml
  tools/projmgr/test/data/TestSolution/board-devices.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework board mounted devices check (#1033) (#1773)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/board-devices.cproject.yml
  tools/projmgr/test/data/TestSolution/board-devices.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Improved algorithm to locate compatible toolchain
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Error handling during list toolchain
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Early return on access-sequence resolution fails
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/test-not_exisitng-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-not_exisitng-access-sequences1.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-not_exisitng-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-not_exisitng-access-sequences2.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Missing required pack msg
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/pack_version_not_available.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_version_not_available.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_version_not_available.cbuild-pack.yml
Due: projmgr-cov

Update pack_version_not_available.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_version_not_available.csolution.yml
Due: projmgr-cov

Update ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix recursion in GetEffectiveProtection by using GetProtection
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

Context specific error listing
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
Due: projmgr-cov

add protection handling to SvdItem::CopyItem and add SvdItem::SetProtection
  tools/svdconv/SVDModel/include/SvdItem.h
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

[devtools] extend `language-C` and `language-CPP` supported values
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
