Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Add nullptr guards
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[RteModel] Update unit tests summary checks
  libs/rtemodel/test/src/RteChkTest.cpp
Due: none

[projmgr] Expose crash when running csolution convert
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Src/RteTestConfig.c
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest.gpdsc.template
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject3_1/TestProject3_1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Fix typo in SVDConv product name
  tools/svdconv/SVDConv/src/ProductInfo.h.in
Due: svdconv-cov

Enforce toolchains are registered using environment variables
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/genfiles.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/typefilters.cproject.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Fix typo in SVDConv product name (#1556)
  tools/svdconv/SVDConv/src/ProductInfo.h.in
Due: svdconv-cov

[projmgr] Check `created-for:` with version number
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/Executes/error.csolution.yml
  tools/projmgr/test/data/TestSolution/Executes/solution.csolution.yml
  tools/projmgr/test/data/TestSolution/created-for.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Generate RTE directory in project tree
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Generate RTE directory in project tree (#1564)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validate $ProjectDir()$ in output-dirs->cprjdir (#1570)
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[rtemodel] Unify file `scope` attribute
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/src/RteValueAdjuster.cpp
  tools/projmgr/test/data/TestSolution/LanguageAndScope/ref/lang-scope.Debug_AC6+RteTest_ARMCM3.cbuild.yml
Due: projmgr-cov

[projmgr] Throw warning in case `board` or `device` name are set in *.cproject.yml or *.clayer.yml
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix evaluation of `cprjdir` custom path
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Allow further precedences processing regardless of partial errors
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Clean-up new introduced test cases
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validate $ProjectDir()$ in output-dirs->cprjdir (#1570) (#1571)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] improve relative path support Contributed by STMicroelectronics
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

[buildmgr] improve relative path support
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

[projmgr] Refined error message (#944)
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Handle select-compiler info when compiler is not defined
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/SelectableToolchains/cdefault.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/ref/select-compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.cproject.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fixed: Message on check against sau num regions = 0
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
Due: svdconv-cov

[projmgr] Refined error message
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Handle `select-compiler` info when compiler is not defined
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/SelectableToolchains/cdefault.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/ref/select-compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.cproject.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validate component sources
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ComponentSources/components.cproject.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/components.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Skip emitting linker options for library targets
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cprj
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
