Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Refiine unwind tables in default compiler settings
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

fix(svdconv): recognize CA55 and correct Cortex-A IRQ limits
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/src/SvdInterrupt.cpp
  tools/svdconv/SVDModel/src/SvdTypes.cpp
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/SvdInterruptTest.cpp
Due: svdconv-cov

fix(svdconv): default omitted vtorPresent to true
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

fix(svdconv): report unsupported SFR generation on non-Windows platforms
  tools/svdconv/SVDConv/README.md
  tools/svdconv/SVDConv/src/ParseOptions.cpp
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

docs(svdconv): shorten generation error description for markdownlint
  tools/svdconv/SVDConv/README.md
Due: svdconv-cov

[projmgr] Refine unwind tables in default compiler settings (#2618)
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Add global options to CMake init flags
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

fix(svdconv): report unsupported SFR generation on non-Windows platforms (#2621)
  tools/svdconv/SVDConv/README.md
  tools/svdconv/SVDConv/src/ParseOptions.cpp
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

fix(svdconv): default omitted vtorPresent to true (#2620)
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

fix(ctrace): clarify trace processing summary
  tools/ctrace/src/control/DecodeConsumers.h
  tools/ctrace/src/control/FileDecodeJob.cpp
  tools/ctrace/src/decode/DecodePipeline.h
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
Due: none

Revert changes in initial CMake flags
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

[projmgr] Revert changes in initial CMake flags
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Update cdefault.yml
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Update cdefault.yml (#2626)
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

fix(svdconv): recognize CA55 and correct Cortex-A IRQ limits (#2619)
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/src/SvdInterrupt.cpp
  tools/svdconv/SVDModel/src/SvdTypes.cpp
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/SvdInterruptTest.cpp
Due: svdconv-cov

fix optimize for size flag CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

fix(ctrace): address coverage gaps and CodeQL warning
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/src/decode/OpenCsdFormattedItmSession.cpp
  tools/ctrace/src/decode/OpenCsdFormattedItmSession.h
  tools/ctrace/src/decode/OpenCsdItmDecoder.cpp
  tools/ctrace/src/diagnostics/TraceIssueReporter.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdFormattedItmSessionTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdItmDecoderTests.cpp
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
Due: none

fix optimize for size flag CLANG.17.0.1.cmake (#2628)
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

fix(ctrace): retain partial CSV and enrich trace diagnostics
  tools/ctrace/README.md
  tools/ctrace/docs/THIRD_PARTY_NOTICES.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/architecture.svg
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/ctf-format.md
  tools/ctrace/docs/multi-source-design.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/control/DecodeConsumers.cpp
  tools/ctrace/src/control/DecodeConsumers.h
  tools/ctrace/src/control/FileDecodeJob.cpp
  tools/ctrace/src/decode/OpenCsdErrorController.cpp
  tools/ctrace/src/decode/OpenCsdItmDecoder.cpp
  tools/ctrace/src/decode/OpenCsdPacketCollector.cpp
  tools/ctrace/src/decode/OpenCsdPacketCollector.h
  tools/ctrace/src/diagnostics/TraceIssueReporter.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/output/TraceOutput.h
  tools/ctrace/src/output/TraceOutputLifecycle.cpp
  tools/ctrace/src/output/TraceOutputLifecycle.h
  tools/ctrace/src/output/csv/CsvFileOutput.cpp
  tools/ctrace/src/output/csv/CsvFileOutput.h
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/src/output/csv/CsvRowMapper.h
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.csv
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/TB-Trace/README.md
  tools/ctrace/test/data/formatted-synthetic/README.md
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/integration/src/ValidateFixtureIntegrity.cmake
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdErrorControllerTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdItmDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdPacketCollectorTests.cpp
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
Due: none

fix(ctrace): support PC sampling status markers
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/ctf-format.md
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/src/output/ctf/CtfBundleOutput.cpp
  tools/ctrace/src/output/ctf/CtfBundleOutput.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/data/Blinky+Arm/expected/Blinky+Arm.ctf/metadata
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/trace-pc-sample/README.md
  tools/ctrace/test/data/trace-pc-sample/trace-pc-sample.ctrace-run.yml
  tools/ctrace/test/data/trace-pc-sample/trace-pc-sample.raw
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/integration/src/ValidateBabeltrace2Consumer.cmake
  tools/ctrace/test/integration/src/ValidateFixtureIntegrity.cmake
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/src/output/ctf/TraceCompassXmlWriterTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
Due: none

fix(ctrace): remove obsolete output abort wrappers
  tools/ctrace/src/control/DecodeConsumers.cpp
  tools/ctrace/src/control/DecodeConsumers.h
  tools/ctrace/src/output/TraceOutputLifecycle.cpp
  tools/ctrace/src/output/TraceOutputLifecycle.h
  tools/ctrace/test/unit/src/control/DecodeConsumersTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
Due: none

feat(ctrace): add bounded trace analysis skill
  tools/ctrace/skills/analyze-ctrace/SKILL.md
  tools/ctrace/skills/analyze-ctrace/references/csv-interpretation.md
Due: none

docs(ctrace): clarify analysis skill compatibility and filter syntax
  tools/ctrace/skills/analyze-ctrace/SKILL.md
Due: none

[projmgr] Update versions
  tools/projmgr/CMakeLists.txt
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-mlops.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

test(ctrace): cover zero PC values and streamline fixture docs
  tools/ctrace/README.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/trace-pc-sample/README.md
  tools/ctrace/test/integration/src/ValidateFixtureIntegrity.cmake
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
Due: none

docs(ctrace): clarify temporary format override and release packaging
  tools/ctrace/docs/THIRD_PARTY_NOTICES.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/multi-source-design.md
  tools/ctrace/docs/todo.md
Due: none

fix(ctrace): support PC sampling status markers (#2629)
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/ctf-format.md
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/src/output/ctf/CtfBundleOutput.cpp
  tools/ctrace/src/output/ctf/CtfBundleOutput.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/data/Blinky+Arm/expected/Blinky+Arm.ctf/metadata
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/trace-pc-sample/README.md
  tools/ctrace/test/data/trace-pc-sample/trace-pc-sample.ctrace-run.yml
  tools/ctrace/test/data/trace-pc-sample/trace-pc-sample.raw
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/integration/src/ValidateBabeltrace2Consumer.cmake
  tools/ctrace/test/integration/src/ValidateFixtureIntegrity.cmake
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/src/output/ctf/TraceCompassXmlWriterTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
Due: none

feat(ctrace): process all trace channels per solution set
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/architecture.svg
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/ctf-format.md
  tools/ctrace/docs/multi-source-design.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/control/TraceDirectoryJob.cpp
  tools/ctrace/src/control/TraceDirectoryJob.h
  tools/ctrace/src/output/OutputRequirements.cpp
  tools/ctrace/src/tracerun/TraceRunDiscovery.cpp
  tools/ctrace/src/tracerun/TraceRunDiscovery.h
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/integration/src/ValidateBabeltrace2Consumer.cmake
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunDiscoveryTests.cpp
Due: none

test(svdconv): expand unit and generator coverage
  tools/svdconv/test/integtests/CMakeLists.txt
  tools/svdconv/test/integtests/src/SvdConvEnumHeaderTests.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/SvdCExpressionParserTest.cpp
  tools/svdconv/test/unittests/src/SvdCpuModelTest.cpp
  tools/svdconv/test/unittests/src/SvdModelValidationTest.cpp
  tools/svdconv/test/unittests/src/SvdOptionsTest.cpp
  tools/svdconv/test/unittests/src/SvdUtilsConversionTest.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
