Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] PLM status: consider config file's pre-release qualifier (#1993)
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ComponentSources/RTE/RteTest/ConfigInclude.h
  tools/projmgr/test/data/TestSolution/ComponentSources/RTE/RteTest/ConfigInclude.h.base@1.8.0-dev0
  tools/projmgr/test/data/TestSolution/ComponentSources/ref/versions.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/versions.cproject.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/versions.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] issue warning for explicit include paths in *.pdsc to config files #1644 (#1168)
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/RteTestBoard/ARM.RteTestBoard.pdsc
  tools/packchk/test/data/RteTestBoard/Board/Flash/BoardAlgo1.FLM
  tools/packchk/test/data/RteTestBoard/Board/Flash/BoardAlgo2.FLM
  tools/packchk/test/data/RteTestBoard/Documents/README.md
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

ProjMgr: in silence mode only output to string buffers
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rteutils/include/CollectionUtils.h
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

ProjMgr: in silence mode only output to string buffers (#1995)
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rteutils/include/CollectionUtils.h
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[packchk] Validate <mountedDevice> specifying an existing device #1079 (#1994)
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/RteTestBoard/ARM.RteTestBoard.pdsc
  tools/packchk/test/data/RteTestBoard/Board/Flash/BoardAlgo1.FLM
  tools/packchk/test/data/RteTestBoard/Board/Flash/BoardAlgo2.FLM
  tools/packchk/test/data/RteTestBoard/Documents/README.md
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[packchk] issue warning for explicit include paths in *.pdsc to config files #1644 (#1173)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header3.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] issue warning for explicit include paths in *.pdsc to config files #1644 (#1999)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header3.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[svdconv] disableCondition Inheritance leads to a segment violation #1796 (#1176)
  tools/svdconv/SVDModel/include/SvdCExpression.h
  tools/svdconv/SVDModel/include/SvdPeripheral.h
  tools/svdconv/SVDModel/src/SvdCExpression.cpp
  tools/svdconv/SVDModel/src/SvdPeripheral.cpp
  tools/svdconv/Test/data/accViolationDisableCond/accViolationDisableCond.xml
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

[svdconv] disableCondition Inheritance leads to a segment violation #1796 (#1176) (#2005)
  tools/svdconv/SVDModel/include/SvdCExpression.h
  tools/svdconv/SVDModel/include/SvdPeripheral.h
  tools/svdconv/SVDModel/src/SvdCExpression.cpp
  tools/svdconv/SVDModel/src/SvdPeripheral.cpp
  tools/svdconv/Test/data/accViolationDisableCond/accViolationDisableCond.xml
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

[svdconv] Tag <protection> unknown or not allowed on AddressBlock level #1148 (#1179)
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

[projmgr] Skip `dbgconf` output when not provided by user nor by DFP
  tools/projmgr/src/ProjMgrCbuild.cpp
Due: projmgr-cov

CMSIS-SVD: Enhance SVDConv for Mizar
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

[svdconv] Tag <protection> unknown or not allowed on AddressBlock level #1148 (#1179) (#2006)
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

[projmgr] Skip `dbgconf` output when not provided by user nor by DFP (#2009)
  tools/projmgr/src/ProjMgrCbuild.cpp
Due: projmgr-cov

CMSIS-SVD: Enhance SVDConv for Mizar (#2010)
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

[Schema] Added links to debugger, memory and load node (#1181)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

packchk: add validation for <csolution> element #2007 (#1182)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/CsolutionTag/Files/header1.h
  tools/packchk/test/data/CsolutionTag/Files/test1.c
  tools/packchk/test/data/CsolutionTag/License.txt
  tools/packchk/test/data/CsolutionTag/TestVendor.CsolutionTag.pdsc
  tools/packchk/test/data/CsolutionTag/boards/myboard/cmsis/layers/baremetal/Board.clayer.yml
  tools/packchk/test/data/CsolutionTag/boards/myboard/cmsis/templates/Device/Simple/Simple.csolution.yml
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

packchk: add validation for <csolution> element #2007 (#1182) (#2012)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/CsolutionTag/Files/header1.h
  tools/packchk/test/data/CsolutionTag/Files/test1.c
  tools/packchk/test/data/CsolutionTag/License.txt
  tools/packchk/test/data/CsolutionTag/TestVendor.CsolutionTag.pdsc
  tools/packchk/test/data/CsolutionTag/boards/myboard/cmsis/layers/baremetal/Board.clayer.yml
  tools/packchk/test/data/CsolutionTag/boards/myboard/cmsis/templates/Device/Simple/Simple.csolution.yml
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Error M382vs64bit 1264 (#1177)
  tools/svdconv/SVDModel/include/SvdRegister.h
  tools/svdconv/SVDModel/src/SvdRegister.cpp
  tools/svdconv/Test/data/ResetMask/ResetMask.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

Error M382vs64bit 1264 (#1177) (#2013)
  tools/svdconv/SVDModel/include/SvdRegister.h
  tools/svdconv/SVDModel/src/SvdRegister.cpp
  tools/svdconv/Test/data/ResetMask/ResetMask.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

[cbuild-gen-idx.yml] Always output fully qualified device and board identifier
  tools/projmgr/src/ProjMgrCbuildGenIdx.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/extgen.cbuild-gen-idx.yml
Due: projmgr-cov

[cbuild-run] Add implicit access attributes for `memory` with legacy `id` (#1185)
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Add implicit access attributes for `memory` with legacy `id`
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
Due: projmgr-cov

Updated googletest version to v1.6.0
  external/yaml-cpp.patch
  libs/rtemodel/test/src/RteExampleTest.cpp
Due: none

Update yaml-cpp.patch
  external/yaml-cpp.patch
Due: none

Update yaml-cpp.patch
  .github/workflows/buildmgr.yml
  external/json-schema-validator.patch
  external/json.patch
  external/yaml-cpp.patch
Due: none

Updated googletest version to v1.6.0 (#2031)
  .github/workflows/buildmgr.yml
  external/json-schema-validator.patch
  external/json.patch
  external/yaml-cpp.patch
  libs/rtemodel/test/src/RteExampleTest.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
