Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Clean test report download for arm64
  .github/workflows/projmgr.yml
Due: none

Reduce number of characters in JSON schema title
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

enforced component selection using extended component identifier #774 (#516)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM4/RteTestM4_Board.cprj
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProjectEnforcedComponent/TestProjectEnforcedComponent.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProjectEnforcedComponent/main.c
  tools/projmgr/test/data/TestSolution/test.enforced_component.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

enforced component selection using extended component identifier #774 (#516) (#850)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM4/RteTestM4_Board.cprj
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProjectEnforcedComponent/TestProjectEnforcedComponent.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProjectEnforcedComponent/main.c
  tools/projmgr/test/data/TestSolution/test.enforced_component.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

RTE Model refactoring bugfix
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

RTE Model refactoring bugfix (#851)
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

MDLint issue fixed
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Added generated-by node to generated yml files
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

[projmgr] Added generated-by node to generated yml files
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

[linker:] node added to YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[buildmgr] Add support for linker script pre-processing
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/MyMain.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/Device/ARMCM3/gcc_arm.ld
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/Device/ARMCM3/regions_ARMCM3.h
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/Device/ARMCM3/startup_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/Device/ARMCM3/system_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/_Target_1/RTE_Components.h
Due: buildmgr-cov

Proposal: Introduce 'context-set' (selection of context for application build)
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

typos corrected
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Component auto-resolve: (#531)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
Due: none

Component auto-resolve: (#531) (#857)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
Due: none

Refinement of YML-Input format (#852)
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[projmgr] Add support for specifying linker regions file
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Update header with caller name and version in generated *.h files
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/projects/RteTestM3/RTE_Update_Header/Device/RteTest_ARMCM3/ARMCM3_ac6.sct
  test/projects/RteTestM3/RTE_Update_Header/Device/RteTest_ARMCM3/startup_ARMCM3.c
  test/projects/RteTestM3/RTE_Update_Header/Device/RteTest_ARMCM3/system_ARMCM3.c
  test/projects/RteTestM3/RTE_Update_Header/RteTest/ComponentLevelConfig_0.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/ComponentLevelConfig_1.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/Config/ConfigInclude.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/ConfigInclude.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/GlobalLevelConfig.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/MyDir/RelativeComponentLevelConfig_0.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/MyDir/RelativeComponentLevelConfig_1.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/RelativeComponentLevelConfig_0.h
  test/projects/RteTestM3/RTE_Update_Header/RteTest/RelativeComponentLevelConfig_1.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RteTestM3_Rte_Update_Header.cprj
  tools/buildmgr/cbuild/src/CbuildKernel.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
Due: projmgr-cov, buildmgr-cov

[buildmgr] Add support for linker script pre-processing `define`
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessing/RTE/Device/ARMCM3/gcc_arm.ld
Due: buildmgr-cov

[projmgr] Add support for specifying linker pre-processing `define`
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Set default linker script
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/ac6_linker_script.sct
  tools/projmgr/templates/gcc_linker_script.ld
  tools/projmgr/templates/iar_linker_script.icf
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.AC6.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.IAR.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Release.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.cbuild-idx.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestSolution/ref/test.target_options+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_16_1
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_20_0
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_6_5
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.gcc
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.iar
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Fix IAR Compiler preinclude flag (#536)
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Fix IAR Compiler preinclude flag (#536) (#866)
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

[buildmgr, projmgr] Add linker library flags handling
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/StandardLibrary/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/StandardLibrary/MyMain.c
  tools/buildmgr/test/testinput/Examples/GCC/StandardLibrary/MyProject.cprj
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/StandardLibrary/library.cproject.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/library.csolution.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Extend schema with created-by, created-for & description fields (#537)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Extend schema with created-by, created-for & description fields
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[projmgr] Check cprojects directories separation
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestSolution/multiple.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuildgen] regression with 1.6.0: gpdsc file ignored #860 (#539)
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr-cov, buildmgr-cov

[cbuildgen] regression with 1.6.0: gpdsc file ignored #860 (#539) (#873)
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr-cov, buildmgr-cov

Issue860 1 (#542)
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest.gpdsc.template
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest_Generated_Component.c.template
  test/projects/RteTestM4/RteTestM4_Board.cprj
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTest_Generated_Component.c
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[rtemodel, projmgr] Update linker script and regions header file alignment
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/ac6_linker_script.sct
  tools/projmgr/templates/gcc_linker_script.ld
  tools/projmgr/templates/iar_linker_script.icf
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.AC6.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.IAR.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Release.cprj
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestSolution/ref/test.target_options+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_16_1
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_20_0
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_6_5
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.gcc
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.iar
Due: projmgr-cov
