Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Manual clarifications, added `condition` and `constructed-files` to YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Manual clearifications (#463)
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Pre_Include__ -> PreInclude_
  libs/rtemodel/include/RteAttributes.h
  libs/rtemodel/src/RteAttributes.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/_RteTestM3_ConfigFolder/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE/_RteTestM3/Pre_Include_RteTest_ComponentLevel.h
Due: none

CBuild YML: added "components: selected-by" and "packs: local-repository"
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

CBuild YML: added "components: selected-by" and "packs: local-repository" (#468)
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

[projmgr,rtemodel] Address review comments, clarify that the *etGeneratorInputFile() is working with an absolute path to the generator input file
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteCallback.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

[projmgr] Add test for $G and output-dirs[gendir]
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  tools/projmgr/test/data/TestSolution/TestProject3/TestProject3.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3/main.c
  tools/projmgr/test/data/TestSolution/gendir.csolution.yml
  tools/projmgr/test/data/TestSolution/outdirs.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
Due: projmgr1

[projmgr] Fix failing test due to newly added generated component
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[test/packs] Fix failing test, add command for generator on Mac
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
Due: none

[projmgr] Fix failing test for Mac since there is now a generator
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Fix more failing tests for Mac
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Add support for output-dirs[gendir] and $G (#462)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteCallback.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProject3/TestProject3.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3/main.c
  tools/projmgr/test/data/TestSolution/gendir.csolution.yml
  tools/projmgr/test/data/TestSolution/outdirs.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

GitHub: Don't trigger source code checks when only documentation is touched
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
Due: none

[Doc] Updated README with coverage generation instructions (#302)
  README.md
Due: none

GitHub: Don't trigger source code checks when only documentation is touched (#471)
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
Due: none

[Doc] Updated README with coverage generation instructions
  README.md
Due: none

GitHub: Dedicated action for changes to markdown files.
  .github/workflows/markdown.yml
Due: none

Add GitHub problem matcher for markdownlint.
  .github/markdownlint.json
  .github/markdownlint.jsonc
  .github/workflows/markdown.yml
Due: none

Fix markdownlint warnings
  .github/markdownlint.jsonc
  CONTENT.md
  LICENSE.md
  README.md
  docs/ADDING_UNIT_TESTS.md
  docs/GUIDELINES.md
  external/CONTENT.md
  libs/CONTENT.md
  scripts/CONTENT.md
  test/CONTENT.md
  tools/CONTENT.md
  tools/README.md
Due: none

Update GUIDELINES.md
  docs/GUIDELINES.md
Due: none

Fix markdownlint warnings.
  libs/rtefsutils/README.md
  libs/rteutils/src/README.md
  tools/buildmgr/README.md
  tools/buildmgr/docs/cbuild.md
  tools/buildmgr/test/CONTENT.md
  tools/buildmgr/test/docs/README.md
  tools/cpackget/docs/cpackget.md
  tools/packchk/docs/packchk.md
  tools/packchk/test/CONTENT.md
  tools/packgen/docs/packgen.md
  tools/projmgr/README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Q3Features/Pack2CSolution.md
  tools/projmgr/docs/SystemArchitecture.md
Due: packchk1, projmgr1

Fix further markdownlint warnings
  .github/workflows/markdown.yml
  README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

Fixup to workflow
  .github/workflows/markdown.yml
Due: none

Add markdown-link-check for checking hyperlinks.
  .github/workflows/markdown.yml
Due: none

Fix broken links in markdown files.
  .github/markdown-link-check.jsonc
  .github/workflows/markdown.yml
  external/CONTENT.md
  libs/CONTENT.md
  tools/CONTENT.md
  tools/README.md
  tools/buildmgr/README.md
  tools/cpackget/docs/cpackget.md
  tools/projmgr/README.md
Due: projmgr1

Fixup to README.md
  README.md
Due: none

GitHub: Dedicated action for changes to markdown files.
  .github/markdown-link-check.jsonc
  .github/markdownlint.json
  .github/markdownlint.jsonc
  .github/workflows/markdown.yml
  CONTENT.md
  LICENSE.md
  README.md
  docs/ADDING_UNIT_TESTS.md
  docs/GUIDELINES.md
  external/CONTENT.md
  libs/CONTENT.md
  libs/rtefsutils/README.md
  libs/rteutils/src/README.md
  scripts/CONTENT.md
  test/CONTENT.md
  tools/CONTENT.md
  tools/README.md
  tools/buildmgr/README.md
  tools/buildmgr/docs/cbuild.md
  tools/buildmgr/test/CONTENT.md
  tools/buildmgr/test/docs/README.md
  tools/cpackget/docs/cpackget.md
  tools/packchk/docs/packchk.md
  tools/packchk/test/CONTENT.md
  tools/packgen/docs/packgen.md
  tools/projmgr/README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Q3Features/Pack2CSolution.md
  tools/projmgr/docs/SystemArchitecture.md
Due: packchk1, projmgr1

[packgen, buildmgr] Fix CodeQL warnings
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
  tools/packgen/src/PackGenMain.cpp
Due: none

Fixed incorrect network paths in CMakeLists
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/test/unittests/src/BuildSystemGeneratorTests.cpp
Due: none

CodeQL: Update GH action.
  .github/workflows/codeql-analysis.yml
Due: none

Generator Proposal reworked (now it separate *.MD file)
  tools/projmgr/docs/Manual/Generator (Proposal).md
  tools/projmgr/docs/Manual/images/RTE-Scenarios.png
  tools/projmgr/docs/Manual/images/Workflow-Generator.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

PackGen: Fix CodeQL warning #249
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
Due: none
