Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

[rtemodel] Add pdsc retrieving from package 'path' attribute
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/RteTestM3_PackPath.cprj
  test/projects/RteTestM3/RteTestM3_PackPath_Invalid.cprj
  test/projects/RteTestM3/RteTestM3_PackPath_MultiplePdscs.cprj
  test/projects/RteTestM3/RteTestM3_PackPath_NoPdsc.cprj
Due: none

[projmgr] Forward selected local packs 'path' to CPRJ
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_path.cproject.yml
  tools/projmgr/test/data/TestSolution/pack_path.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/pack_path+CM0.cprj
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[buildmgr] Use generated Translation controls
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Asm/GAS.s
  tools/buildmgr/test/testinput/Examples/GCC/Asm/PreProcessed.S
  tools/buildmgr/test/testinput/Examples/GCC/Asm/Target.cprj
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/File.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/File2.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/Project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/File1.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/File2.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/Project.cprj
Due: none

[projmgr] Extend default file content visibility to all commands
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr1

[projmgr] Fix misc C* at component level
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

[buildmgr] Update release notes and versions
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

[buildmgr] Fix: CMakeLists flag entries generated for Empty flags
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/testinput/Examples/GCC/RelativePath/CMakeLists.txt.ref
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

[buildmgr] Update cpackget version
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
Due: none

[toolbox] Update versions and progress
  .github/workflows/toolbox.yml
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/progress.md
Due: none

[buildmgr] Fix flag field generation when empty flags
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
Due: none

Update YML-Format.md
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

Projmgr documentation
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Update sorting of target lists
  cmake/GetCMakeTargets.cmake
Due: none

[projmgr] list pack command to list packs from solution only
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Remove trailing slashes from Access Sequences
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences1.cproject.yml
Due: projmgr1

[packchk] wrong ERROR M310
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk1

Improved CheckCaseSense
  tools/packchk/src/CheckFiles.cpp
Due: packchk1

[buildmgr] Build tree cleanup
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/integrationtests/src/CBuildAC6Tests.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.h
  tools/buildmgr/test/integrationtests/src/CPackGetTests.cpp
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/buildmgr/test/unittests/src/CBuildUnitTestEnv.cpp
  tools/buildmgr/test/unittests/src/CBuildUnitTestEnv.h
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
Due: none

[buildmgr] Code coverage
  .github/workflows/buildmgr.yml
  codecov.yml
Due: none

[csolution] [cbuild] directory tree gets difficult to use. Add capability to define custom output directories.
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Add code related to cross-compile to aarch64
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_test_libs.json
  .github/matrix_includes_toolbox.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
  .github/workflows/toolbox.yml
  README.md
  cmake/GetCMakeTargets.cmake
  cmake/TC-linux-aarch64.cmake
Due: none

[packchk] Add test with directory starting with "."
  tools/packchk/test/data/TestPackDot/.Files/header1.h
  tools/packchk/test/data/TestPackDot/.Files/test1.c
  tools/packchk/test/data/TestPackDot/TestVendor.TestPackDot.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1
