Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Set Bname to empty string if not defined (#1351)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/data/TestProject/test_component_csub.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.FromComponent+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.FromComponent+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Set Bname to empty string if not defined (#1351) (#2270)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/data/TestProject/test_component_csub.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.FromComponent+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.FromComponent+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Update SMC2 entry and add SMC3 entry (#2255)
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

Add upgrade pack version test for cbuild-pack.yml (#1353)
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version_upgrade.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version_upgrade.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fixes for RPC methods (#1352)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestLayers/ref/rpc-discover-layers.json
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Add upgrade pack version test for cbuild-pack.yml (#1353) (#2271)
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version_upgrade.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version_upgrade.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fixes for RPC methods (#1352) (#2272)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestLayers/ref/rpc-discover-layers.json
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Fix clean-up for successive RPC `ConvertSolution` calls
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Restrict check of package requirements (#1358)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Restrict check of package requirements
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Add support for Star-MC3 and correct the support of Cortex-M52
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

Add mcpu handling for Star-MC3
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Ensure packs with explicit paths have priority over installed
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
Due: none

Ensure packs with explicit paths have priority over installed (#2288)
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
Due: none

[projmgr] Reduce severity of missing `dbgconf` from error to warning (#1359)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Preserve `west` groups in cbuild.yml (#1362)
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/WestSupport/out/core0/CM0/Debug/core0.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/WestSupport/ref/core0.Debug+CM0.cbuild.yml
Due: projmgr-cov

[projmgr] Preserve `west` groups in cbuild.yml (#1362) (#2290)
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/WestSupport/out/core0/CM0/Debug/core0.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/WestSupport/ref/core0.Debug+CM0.cbuild.yml
Due: projmgr-cov

[projmgr] Reduce severity of missing `dbgconf` from error to warning (#1359) (#2289)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Clean-up processed contexts by solution reloading
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Update pack identifier schema description
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Rpc pack management (#1368)
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/include/CollectionUtils.h
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrCbuildPack.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Rpc pack management (#1368) (#2296)
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/include/CollectionUtils.h
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrCbuildPack.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

FsUtils::Equivalent() method to compare files (#1370)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

FsUtils::Equivalent() method to compare files (#1370) (#2297)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Add `telnet` handling
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/telnet.cproject.yml
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Address CI tests finding
  tools/projmgr/src/ProjMgrCbuildRun.cpp
Due: projmgr-cov

[projmgr] Fix `west-opt` schema (#1373)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Fix `west-opt` schema
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Align `telnet` test case with debug adapter registry (#1372)
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
