Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

<context>.cbuild.yml extension properties
  .github/workflows/test_libs.yml
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest/0.1.0/API/IConfig.h
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/packs/ARM/RteTest/0.1.0/Template/template.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/TemplateAndApi/ref/template_api.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/TemplateAndApi/template_api.cproject.yml
  tools/projmgr/test/data/TestSolution/TemplateAndApi/template_api.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Add gpdsc `project_files` into *.cbuild.yml group files
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/GpdscWithProjectFiles/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-project-files.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-project-files.cproject.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-project-files.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add config file 'base' and 'update' nodes (#827)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct.base@1.0.0
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.base@2.0.2
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.update@1.0.1
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.update@1.0.2
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c.base@1.0.0
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/_Debug_CM0/RTE_Components.h
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/main.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/project.cproject.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/ref/project.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/test.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add config file 'base' and 'update' nodes
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct.base@1.0.0
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.base@2.0.2
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.update@1.0.1
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c.update@1.0.2
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c.base@1.0.0
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/RTE/_Debug_CM0/RTE_Components.h
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/main.c
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/project.cproject.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/ref/project.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestBaseUpdate/test.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix typos in iar_linker_script.icf.src
  tools/projmgr/templates/iar_linker_script.icf.src
Due: projmgr-cov

Fix typos in iar_linker_script.icf.src (#1378)
  tools/projmgr/templates/iar_linker_script.icf.src
Due: projmgr-cov

[projmgr] Clean empty cprj `components` and `group` elements
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
Due: projmgr-cov

[projmgr] Strip build metadata when handling pack versions
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.cproject.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Strip build metadata when handling pack versions (#1382)
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.cproject.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add pack metadata check
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add pack metadata check (#1386)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Fix CLANG system includes, remove `-mfpu`
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
Due: buildmgr-cov

[projmgr, buildmgr] Add `debug` value to `optimize` node
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestSolution/ref/test_target_options+CM0.cprj
  tools/projmgr/test/data/TestSolution/test_target_options.cproject.yml
Due: projmgr-cov, buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

Support for external generators in RTE Model (multi-core)
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Support for external generators in RTE Model (multi-core) (#1389)
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Cortex-M52 experimental
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

Update AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

Update tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[projmgr] Extend cbuild-idx with layer configurations
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/config.cproject.yml
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/select.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Add `cbuild2cmake` utility, update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Fix device attributes mapping (#845)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/DeviceAttributes/mve/mve.cproject.yml
Due: projmgr-cov
