Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] `add-path`: filter out duplicates and tolerate absolute paths (#1142) (#1970)
  tools/projmgr/include/ProjMgrCbuildBase.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildBase.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.AbsolutePath+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] Validate <mountedDevice> specifying an existing device #1079 (#1148)
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Validate <mountedDevice> specifying an existing device #1079 (#1148) (#1971)
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Debug Config file PLM
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.1.1/Device/ARM/Debug/ARMCM.dbgconf
  test/packs/ARM/RteTest_DFP/0.1.1/Device/ARM/Debug/ARMCM4.dbgconf
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Debug/ARMCM.dbgconf
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Debug/ARMCM4.dbgconf
  test/projects/RteTestM4/RTE/Device/RteTest_ARMCM4_FP/ARMCM4.dbgconf
  test/projects/RteTestM4/RTE/Device/RteTest_ARMCM4_FP/ARMCM4.dbgconf.base@0.1.0
  tools/packchk/src/CheckFiles.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/BaseUnknown/Device/RteTest_ARMCM3/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Major/Device/RteTest_ARMCM3/ARMCM.dbgconf.base@0.1.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Minor/Device/RteTest_ARMCM3/ARMCM.dbgconf.base@0.1.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Patch/Device/RteTest_ARMCM3/ARMCM.dbgconf.base@0.1.0
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: packchk-cov, projmgr-cov

Update RteItemTest.cpp to fix mac test
  libs/rtemodel/test/src/RteItemTest.cpp
Due: none

Update RteItemTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
Due: none

Update RteInstance.h : override keyword
  libs/rtemodel/include/RteInstance.h
Due: none

[packchk] Add a validation step issuing a warning in case no license information is contained in a pack #1304 (#1149)
  tools/packchk/include/ValidateSyntax.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestLicense/TestVendor.TestPackLicense.pdsc
  tools/packchk/test/data/TestLicense/licenses/license1.txt
  tools/packchk/test/data/TestLicense/licenses/license2.txt
  tools/packchk/test/data/TestLicense/licenses/myProprietaryLicense.txt
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Add a validation step issuing a warning in case no license information is contained in a pack #1304 (#1149) (#1974)
  tools/packchk/include/ValidateSyntax.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestLicense/TestVendor.TestPackLicense.pdsc
  tools/packchk/test/data/TestLicense/licenses/license1.txt
  tools/packchk/test/data/TestLicense/licenses/license2.txt
  tools/packchk/test/data/TestLicense/licenses/myProprietaryLicense.txt
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[csolution] Fix: Unsupported registered toolchain causes error in unelated contexts
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuild-run] Implement extensions (`system-resources`, `debug-vars`, `debuggers`)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[csolution] Fix: Unsupported registered toolchain causes error in unelated contexts (#1976)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] Does it check for incomplete <processors>? #1535 (#1151)
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/ProcessorFeatures/TestVendor.ProcessorFeatures.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Does it check for incomplete <processors>? #1535 (#1151) (#1978)
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/ProcessorFeatures/TestVendor.ProcessorFeatures.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Fixed checks for mounted / compatible device (#1152)
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header1.h
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header2.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Fixed checks for mounted / compatible device (#1152) (#1979)
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header1.h
  tools/packchk/test/data/ConfigFileInIncludePath/Header/header2.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] check if the device's memory attribute startup, uninit, etc. are present for all devices #1733 (#1153)
  RTE/_Test/RTE_Components.h
  libs/errlog/include/ErrLog.h
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/MemoryAttributes/Files/TestDevices.h
  tools/packchk/test/data/MemoryAttributes/Files/startup_Test.s
  tools/packchk/test/data/MemoryAttributes/Files/system_Test.c
  tools/packchk/test/data/MemoryAttributes/Files/system_Test.h
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/MemoryAttributes/TestVendor.MemoryAttributes.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Semantic Version : ensure Major.Minor.Patch (#1154)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[packchk] check if the device's memory attribute startup, uninit, etc. are present for all devices #1733 (#1153) (#1980)
  RTE/_Test/RTE_Components.h
  libs/errlog/include/ErrLog.h
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/MemoryAttributes/Files/TestDevices.h
  tools/packchk/test/data/MemoryAttributes/Files/startup_Test.s
  tools/packchk/test/data/MemoryAttributes/Files/system_Test.c
  tools/packchk/test/data/MemoryAttributes/Files/system_Test.h
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/MemoryAttributes/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/MemoryAttributes/TestVendor.MemoryAttributes.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Semantic Version : ensure Major.Minor.Patch (#1981)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Removed file: Rte_Components.h
  RTE/_Test/RTE_Components.h
Due: none

[projmgr] Check specified linker script existence
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linkerScript.ld
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linkerScript.sct
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `load` node handling
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

[packchk] Add validation that a source module cannot be concurrently added to a project by multiple components #1499 (#1158)
  tools/packchk/include/CheckComponents.h
  tools/packchk/src/CheckComponents.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/ConcurrentComponentFiles/ARM.ConcurrentComponentFiles.pdsc
  tools/packchk/test/data/ConcurrentComponentFiles/Files/TestDevices.h
  tools/packchk/test/data/ConcurrentComponentFiles/Files/startup_Test.s
  tools/packchk/test/data/ConcurrentComponentFiles/Files/system_Test.c
  tools/packchk/test/data/ConcurrentComponentFiles/Files/system_Test.h
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/TestLicense.txt
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Add validation that a source module cannot be concurrently added to a project by multiple components #1499 (#1158) (#1991)
  tools/packchk/include/CheckComponents.h
  tools/packchk/src/CheckComponents.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/ConcurrentComponentFiles/ARM.ConcurrentComponentFiles.pdsc
  tools/packchk/test/data/ConcurrentComponentFiles/Files/TestDevices.h
  tools/packchk/test/data/ConcurrentComponentFiles/Files/startup_Test.s
  tools/packchk/test/data/ConcurrentComponentFiles/Files/system_Test.c
  tools/packchk/test/data/ConcurrentComponentFiles/Files/system_Test.h
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/ConcurrentComponentFiles/TestLicense.txt
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Validate define node values (#1166)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test_invalid_defines.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Validate define node values (#1166) (#1992)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test_invalid_defines.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] PLM status: consider config file's pre-release qualifier
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ComponentSources/RTE/RteTest/ConfigInclude.h
  tools/projmgr/test/data/TestSolution/ComponentSources/RTE/RteTest/ConfigInclude.h.base@1.8.0-dev0
  tools/projmgr/test/data/TestSolution/ComponentSources/ref/versions.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/versions.cproject.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/versions.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
