Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[rtemodel] Fix nullptr exception in `RteCallback::ExpandString`
  libs/rtemodel/src/RteCallback.cpp
  tools/projmgr/test/data/TestGenerator/test-gpdsc-error.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[rtemodel] Fix nullptr exception in `RteCallback::ExpandString` (#1474)
  libs/rtemodel/src/RteCallback.cpp
  tools/projmgr/test/data/TestGenerator/test-gpdsc-error.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[rtemodel] Align implementation with specification (#1465)
  libs/rtemodel/src/RtePackage.cpp
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
Due: none

Linker script directory consistent with other files
  libs/rtemodel/src/RteTarget.cpp
Due: none

[crossplatform, projmgr] Handle execution of generator bridge path with spaces (#882)
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/CrossPlatformUtils.cpp
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/src/UnitTests.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/bridge tool.sh
  tools/projmgr/test/data/ExternalGenerator/extgen.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/no-gendir.generator.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/wrong-gendir.generator.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Linker script directory consistent with other files (#1479)
  libs/rtemodel/src/RteTarget.cpp
Due: none

[crossplatform, projmgr] Handle execution of generator bridge path with spaces
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/CrossPlatformUtils.cpp
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/src/UnitTests.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/bridge tool.sh
  tools/projmgr/test/data/ExternalGenerator/extgen.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/no-gendir.generator.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/wrong-gendir.generator.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Resolve board in RteTarget (#888)
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_Board.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_Board.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Resolve board in RteTarget (#888) (#1481)
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_Board.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_Board.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Handling of variable layer paths delivered by cbuild setup
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Handling of variable layer paths delivered by cbuild setup
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/select.clayer.yml
  tools/projmgr/test/data/TestLayers/select.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Remove `configurable` endianness from target attributes
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Implement global generator extensions
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrExtGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/ExternalGenerator/boot/boot.cproject.yml
  tools/projmgr/test/data/ExternalGenerator/extgen.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/extgen.cbuild-gen-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Relax single context requirement for running global generators
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Address CodeQL finding
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Support `--context-set` option in `run` command
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/ExternalGenerator/extgen.cbuild-set.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

buildmgr: Add Cortex-M52 to LLVM/Clang compiler config (#892)
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update and rename AC6.6.18.0.cmake to AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

[projmgr] Extend `configurations` node for layer discovery
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/config1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/config2.clayer.yml
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

AC6 cmake file renamed to 6.16.2
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

[projmgr] Improve `for-board` and `for-device` check in layer (#898)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

buildmgr: Add Cortex-M52 to LLVM/Clang compiler config
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update and rename AC6.6.18.0.cmake to AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

[projmgr] Improve console output in quiet mode
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
