Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[packchk] missing component (Cvariant) not detected when specified in <accept> (M504:) #1052 (#650) (#1061)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Save the original pack info for bootstrap components (#652)
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

Fix crash when same pack is located on 2 paths
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Save the original pack info for bootstrap components (#652) (#1065)
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

Fix crash when same pack is located on 2 paths (#1063)
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

projmgr: Fix linker script templates for Armv8-M TrustZone
  tools/projmgr/templates/ac6_linker_script.sct
  tools/projmgr/templates/clang_linker_script.ld
Due: projmgr-cov

Standardize component IDs (#653)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/RTE_Components.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Standardize component IDs (#653) (#1066)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE_Update_Header/_Target_1/RTE_Components.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Correct display name for API (#654)
  libs/rtemodel/src/RteComponent.cpp
Due: none

Correct display name for API (#654) (#1067)
  libs/rtemodel/src/RteComponent.cpp
Due: none

Add missing includes
  tools/packchk/include/PackOptions.h
  tools/svdconv/SVDConv/include/SvdOptions.h
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/include/SvdUtils.h
Due: packchk-cov, svdconv-cov

Add missing includes (#1068)
  tools/packchk/include/PackOptions.h
  tools/svdconv/SVDConv/include/SvdOptions.h
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/include/SvdUtils.h
Due: packchk-cov, svdconv-cov

Support dry-running generators (#1028)
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject3_3/TestProject3_3.cproject.yml
  tools/projmgr/test/data/TestSolution/gen_nodryrun.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Option --context-replacement to replace context(s)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Update portability check
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/Portability/portability.csolution.yml
  tools/projmgr/test/data/TestSolution/Portability/portability2.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Check cproject filename uniqueness
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestSolution/multiple2.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[csolution] Add list configs command to list configuration files #922 (#661)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[csolution] Add list configs command to list configuration files #922 (#661) (#1074)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework context and layers parsing order
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/contexts.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Address codecov findings
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fixup Clang support (#660)
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov, buildmgr-cov

Fixup Clang support
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov, buildmgr-cov

[rtefsutils] Add LexicallyNormal function (#663)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

[rtefsutils] Add LexicallyNormal function (#663) (#1077)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

Add License Information to cbuild.yml files (BOM for projects) #1046 (#666)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteExampleTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/packs/ARM/RteTest/0.1.0/licenses/ProprietaryLicense.txt
  test/packs/ARM/RteTest/0.1.0/licenses/apache2.0.txt
  test/packs/ARM/RteTest/0.1.0/licenses/licenseBsd.txt
  test/packs/ARM/RteTest/0.1.0/licenses/licenseMit.txt
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Doc/license.txt
  test/projects/RteTestM3/license_info_ref.txt
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Add License Information to cbuild.yml files (BOM for projects) #1046 (#666) (#1080)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteExampleTest.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/packs/ARM/RteTest/0.1.0/licenses/ProprietaryLicense.txt
  test/packs/ARM/RteTest/0.1.0/licenses/apache2.0.txt
  test/packs/ARM/RteTest/0.1.0/licenses/licenseBsd.txt
  test/packs/ARM/RteTest/0.1.0/licenses/licenseMit.txt
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Doc/license.txt
  test/projects/RteTestM3/license_info_ref.txt
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Bring pack ID handling to common format (#667)
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
Due: none

Bring pack ID handling to common format (#667) (#1081)
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
Due: none

Add License Information to cbuild.yml files (BOM for projects) #1046 (#668)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteProject.cpp
  test/projects/RteTestM3/license_info_ref.txt
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Add License Information to cbuild.yml files (BOM for projects) #1046 (#668) (#1083)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteProject.cpp
  test/projects/RteTestM3/license_info_ref.txt
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Bring pack ID handling to common format (#667) (#1081) (#669)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Bring pack ID handling to common format (#667) (#1081) (#669) (#1084)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Copy config file only if its supported by target (#670)
  libs/rtemodel/src/RteProject.cpp
Due: none

Copy config file only if its supported by target (#670) (#1085)
  libs/rtemodel/src/RteProject.cpp
Due: none

Added testspace
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none
