Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/include/ProjMgrLogger.h
Due: projmgr-cov

Add validation of mutually exclusive command line options '-q' and '-v'
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Make sure to reset logger flags after each unit test
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Reset logger flags using `TearDown()`
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: none

Use spaces instead of tabs for consistency
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

[projmgr] make Info message under `verbose` and update affected unit tests
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Add `download-url` into error reporting for external generator failures
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/src/ProjMgrExtGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/extgen.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/test-url/test-url.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Refine changes
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Update numbers in RteChkTest
  libs/rtemodel/test/src/RteChkTest.cpp
Due: none

Update numbers in RteChkTest
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/test/data/ExternalGenerator/test-url/test-url.cproject.yml
Due: none

Add suggestions
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add suggestions 2
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Add `download-url` into error reporting for external generator failures
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/src/ProjMgrExtGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/extgen.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/test-url/test-url.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `$TargetSet$` access sequence for better `tmpdir` separation
  libs/rteutils/include/RteConstants.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/tmpdir-as.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Extend PLM status messages with parent component ID
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Remove redundant code
  libs/rtemodel/include/RteInstance.h
Due: none

[projmgr] Extend PLM status messages with parent component ID
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Show err in Problems, Ouput and cbuild-idx.yml if no compatible layer found
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Use updated action to fix warnings
  .github/Brewfile
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Fix typos in workflow steps for consistency
  .github/workflows/buildmgr.yml
Due: none

Add LGA and NPU feature entries to device table
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk-cov

Ensure pack reference for solution local pack
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Address review comments
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Use updated action to fix warnings (#2420)
  .github/Brewfile
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[PackChk] Add LGA and NPU feature entries to device table (#2422)
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk-cov

Github actions using Node24
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Refine discoverLayer errMsg
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Refine context
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Clarify scope of debug, quiet, and verbose CLI options
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Add `build-scope` to include/exclude component files
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/src/RteFile.cpp
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/StandardLibrary/library.csolution.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/library_componentBuildScope/library_componentBuildScope.cproject.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library_componentBuildScope.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
