Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

[projmgr] Add processor name property into generated CPRJ target
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/test/data/TestSolution/multicore.cproject.yml
  tools/projmgr/test/data/TestSolution/multicore.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/multicore+CM0.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add API's pack into CPRJ requirements
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test-api.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

packchk coverage
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk1

[projmgr] Update test case, add nullptr check
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Update TestCheckFiles.cpp
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk1

Update README.md
  tools/packchk/docs/README.md
Due: packchk1

Update codecov.yml
  codecov.yml
Due: none

reduced cov
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
Due: projmgr1

[ymlschemachecker] Apply schema checker improvements
  external/json-schema-validator.patch
  libs/ymlschemachecker/src/SchemaErrorHandler.cpp
  libs/ymlschemachecker/src/SchemaErrorHandler.h
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
Due: none

[projmgr] Extend commands to handle specified contexts
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[toolbox] Update version
  .github/workflows/toolbox.yml
  tools/toolbox/docs/CMSIS-Toolbox.md
Due: none

[projmgr] Schema search path
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Updated documentation with more examples
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

[projmgr] Open door to vendor specific data addon
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr1

[projmgr] Open door to vendor specific data addon adding open-cmsis scope
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr1

[CodeCov] Mono code coverage
  .github/workflows/packchk.yml
  .github/workflows/projmgr.yml
  codecov.yml
Due: none

[projmgr] fix: Test writing under src tree
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr1

[projmgr] Add device variants check when resolving selected device, add test case
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test.cproject_board_multi_variant.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Find exact error location
  libs/ymlschemachecker/src/SchemaErrorHandler.cpp
  libs/ymlschemachecker/src/SchemaErrorHandler.h
  libs/ymlschemachecker/test/data/clayer.schema.json
  libs/ymlschemachecker/test/data/csettings.schema.json
  libs/ymlschemachecker/test/data/sample-data/additional_property.yaml
  libs/ymlschemachecker/test/data/sample-data/invalid_schema.yaml
  libs/ymlschemachecker/test/data/sample-data/missing_required_property.yaml
  libs/ymlschemachecker/test/src/SchemaChkTests.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr1

Config files plm (#140)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/include/RteCallback.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.ARMCM3_ac6.sct@1.0.0
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.startup_ARMCM3.c@2.0.3
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.system_ARMCM3.c@1.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/RteTest/.ComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/RteTest/MyDir/.RelativeComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM3_pname.cprj
Due: projmgr1

Config files plm
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/include/RteCallback.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.ARMCM3_ac6.sct@1.0.0
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.startup_ARMCM3.c@2.0.3
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/.system_ARMCM3.c@1.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers.Debug/RTE/Device/RteTest_ARMCM0/.system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/Device/RteTest_ARMCM0/.system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/RteTest/.ComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/RTE/RteTest/MyDir/.RelativeComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM3_pname.cprj
Due: projmgr1

Several corrections, possibility to specify linker scripts added
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Projmgr documentation
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

[buildmgr] Clean-up object file references and messages
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
Due: none

[buildmgr] Fix base path of pre-include files with config attribute
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/pack/Keil.PreIncludeTestPack.0.0.1.pack
  tools/buildmgr/test/integrationtests/pack/Keil.PreIncludeTestPack.0.0.2.pack
  tools/buildmgr/test/scripts/preinclude.sh
  tools/buildmgr/test/testinput/Examples/GCC/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/Target.cprj
Due: none

CPRJ schema extensions, MCPRJ proposal
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/MCPRJ.xsd
Due: none

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
