Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Merge from main
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuild-run] Implement multi-core support
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

PackChk should not report .cc as invalid C++ extension (#1121)
  .gitignore
  libs/errlog/include/ErrLog.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/SupportCcFiles/Files/fileWillFail.ccc
  tools/packchk/test/data/SupportCcFiles/Files/header1.h
  tools/packchk/test/data/SupportCcFiles/Files/test1.c
  tools/packchk/test/data/SupportCcFiles/Files/test1.cc
  tools/packchk/test/data/SupportCcFiles/Files/test1.cpp
  tools/packchk/test/data/SupportCcFiles/TestVendor.SupportCcFiles_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Updated usage text for --output option (#1128)
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[Schema] CMSIS Solution project format schema files for improved description (#1129)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

PackChk: enhancement - add check for <board> element <mountedDevice> (#1131)
  tools/packchk/include/ValidateSyntax.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/FM0plus_DFP/Keil.FM0plus_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Update tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Update ProjMgr.cpp
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Updated usage text for --output option (#1128) (#1951)
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[packchk] --xsd option checks schema compliance for pdsc files listed as dependencies (-i) as well #1716 #1132 (#1133)
  tools/packchk/include/CreateModel.h
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
Due: packchk-cov

[packchk] issue warning for explicit include paths in *.pdsc to config files #1644 (#1136)
  .gitignore
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/ConfigFileInIncludePath/Files/header1.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Update PackChk_Msgs.cpp
  tools/packchk/src/PackChk_Msgs.cpp
Due: packchk-cov

[Schema] CMSIS Solution project format schema files for improved description
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[packchk] issue warning for explicit include paths in *.pdsc to config files #1644 (#1136) (#1958)
  .gitignore
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/ConfigFileInIncludePath/Files/header1.h
  tools/packchk/test/data/ConfigFileInIncludePath/TestVendor.ConfigFileInIncludePathPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Improve error message in case of device not found (#1137)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Improve error message in case of device not found
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[packchk] Validate <url> starts with https:// #1109 (#1140)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/TestUrlHttps/TestVendor.TestUrlHttps.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Validate overview attribute of <description> element is a reference to a markdown file contained in the pack that exists #1682 (#1134)
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/DescriptionOverview/Documentation/README.md
  tools/packchk/test/data/DescriptionOverview/Files/header1.h
  tools/packchk/test/data/DescriptionOverview/Files/test1.c
  tools/packchk/test/data/DescriptionOverview/TestVendor.DescriptionOverviewPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] --xsd option checks schema compliance for pdsc files listed as dependencies (-i) as well #1716 #1132 (#1133) (#1957)
  tools/packchk/include/CreateModel.h
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
Due: packchk-cov

[packchk] Validate overview attribute of <description> element is a reference to a markdown file contained in the pack that exists #1682 (#1134) (#1962)
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/DescriptionOverview/Documentation/README.md
  tools/packchk/test/data/DescriptionOverview/Files/header1.h
  tools/packchk/test/data/DescriptionOverview/Files/test1.c
  tools/packchk/test/data/DescriptionOverview/TestVendor.DescriptionOverviewPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

PackChk: enhancement - add check for <board> element <mountedDevice> (#1131) (#1956)
  tools/packchk/include/ValidateSyntax.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/BulbBoard_BSP/Keil.BulbBoard_BSP.pdsc
  tools/packchk/test/data/CheckBoardMountedCompatibleDevices/FM0plus_DFP/Keil.FM0plus_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Update CheckFiles.cpp
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

Update PackChkIntegTests.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

PackChk should not report .cc as invalid C++ extension (#1121) (#1950)
  libs/errlog/include/ErrLog.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/SupportCcFiles/Files/fileWillFail.ccc
  tools/packchk/test/data/SupportCcFiles/Files/header1.h
  tools/packchk/test/data/SupportCcFiles/Files/test1.c
  tools/packchk/test/data/SupportCcFiles/Files/test1.cc
  tools/packchk/test/data/SupportCcFiles/Files/test1.cpp
  tools/packchk/test/data/SupportCcFiles/TestVendor.SupportCcFiles_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[packchk] Validate <url> starts with https:// #1109 (#1139) (#1961)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/TestUrlHttps/TestVendor.TestUrlHttps.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Add version range in csolution and cbuildgen copyright notice (#1144)
  tools/buildmgr/cbuildgen/src/ProductInfo.h.in
  tools/projmgr/src/ProductInfo.h.in
Due: projmgr-cov, buildmgr-cov

[packchk] Issue a warning for description attributes and elements that exceed the recommended limit of 128 (US ASCII) characters #1324 (#1141)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/TestTextExceedsLength/Files/header1.h
  tools/packchk/test/data/TestTextExceedsLength/Files/test1.c
  tools/packchk/test/data/TestTextExceedsLength/TestVendor.TestTextExceedsLength.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Issue a warning for description attributes and elements that exceed the recommended limit of 128 (US ASCII) characters #1324 (#1141) (#1965)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/TestTextExceedsLength/Files/header1.h
  tools/packchk/test/data/TestTextExceedsLength/Files/test1.c
  tools/packchk/test/data/TestTextExceedsLength/TestVendor.TestTextExceedsLength.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] Report warning when deprecated attribute attr="copy" is used in <file> element #1371 (#1143)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FileAttributeDeprecated/Files/header1.h
  tools/packchk/test/data/FileAttributeDeprecated/TestVendor.FileAttributeDeprecated.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] refactored name and version (#1146)
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
Due: packchk-cov

[packchk] Report warning when deprecated attribute attr="copy" is used in <file> element #1371 (#1143) (#1967)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FileAttributeDeprecated/Files/header1.h
  tools/packchk/test/data/FileAttributeDeprecated/TestVendor.FileAttributeDeprecated.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Add version range in csolution and cbuildgen copyright notice
  tools/buildmgr/cbuildgen/src/ProductInfo.h.in
  tools/projmgr/src/ProductInfo.h.in
Due: projmgr-cov, buildmgr-cov

[packchk] refactored name and version (#1146) (#1968)
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
Due: packchk-cov

[rtemodel, projmgr] Recreate constructed files unconditionally (#1147)
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] `add-path`: filter out duplicates and tolerate absolute paths (#1142)
  tools/projmgr/include/ProjMgrCbuildBase.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildBase.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.AbsolutePath+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[rtemodel, projmgr] Recreate constructed files unconditionally
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
