Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Apply code review findings
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrYamlParserUnitTest.cpp
Due: projmgr-cov

[projmgr] Add native CMake project support
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/CmakeSupport/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrYamlParserUnitTest.cpp
Due: projmgr-cov

Improve MLOps target and NPU resolution
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/MLOps/npu_mismatch.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Potential fix for pull request finding
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Improve MLOps NPU validation and context-aware listing
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/MLOps/npu_mismatch.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add trace sinks into debug topology
  libs/rtemodel/src/RteDevice.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Potential fix for pull request finding
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

Add trace sinks into debug topology
  libs/rtemodel/src/RteDevice.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Defer missing layer files
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[ctrace] Align trace-run metadata with specification
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/opencsd-issues.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/output/OutputRequirements.cpp
  tools/ctrace/src/output/TraceOutputConfig.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/tracerun/CtraceRunMeta.cpp
  tools/ctrace/src/tracerun/CtraceRunMeta.h
  tools/ctrace/src/tracerun/TraceRunConfig.h
  tools/ctrace/src/tracerun/YmlTraceRunConfigReader.cpp
  tools/ctrace/test/data/Arm-reset/Arm.ctrace-run.yml
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.ctrace-run.yml
  tools/ctrace/test/data/README.md
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
Due: none

[svdconv] Correct enum combo width warning
  tools/svdconv/SVDGenerator/src/SfdData_SingleItems.cpp
  tools/svdconv/test/data/enumComboWidth/EnumComboWidth.svd
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

Handle custom MLOps `model` properties and expand variables
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildMlops.cpp
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/MLOps/extended.csolution.yml
  tools/projmgr/test/data/MLOps/ref/extended.cbuild-mlops.yml
Due: projmgr-cov

Switch Windows arm64 CI runners to windows-11-vs2026-arm
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_ctrace.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/projmgr.yml
Due: none

Address code review finding
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/test/data/MLOps/extended.csolution.yml
Due: projmgr-cov

[svdconv] Correct enum combo width warning (#2584)
  tools/svdconv/SVDGenerator/src/SfdData_SingleItems.cpp
  tools/svdconv/test/data/enumComboWidth/EnumComboWidth.svd
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

[svdconv] Document audit findings
  tools/svdconv/TODO.md
Due: svdconv-cov

[svdconv] Fix TODO markdown line lengths
  tools/svdconv/TODO.md
Due: svdconv-cov

Extend MLOps configuration variable expansion and model properties
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildMlops.cpp
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/MLOps/extended.csolution.yml
  tools/projmgr/test/data/MLOps/ref/extended.cbuild-mlops.yml
Due: projmgr-cov

Defer missing clayer file handling during context parsing
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Ignore generated debug adapter schema
  tools/projmgr/.gitignore
Due: projmgr-cov

Add generated debug-adapter schema to gitignore
  tools/projmgr/.gitignore
Due: projmgr-cov

fix(ctrace): preserve exception returns in CTF
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.cpp
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
Due: none

feat(ctrace): visualize exception return intervals
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.cpp
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
Due: none

fix(ctrace): place return lane below thread mode
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
Due: none

fix(ctrace): rename exception return lane
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
Due: none

fix(ctrace): use readable exception lane names
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
Due: none

test(ctrace): cover active returns and overflow gaps
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
Due: none

fix(ctrace): avoid comment parser wildcard ambiguity
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
Due: none

[ctrace] Test CTF data-type diagnostic
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
Due: none

[ctrace] Align trace-run metadata with specification (#2581)
  tools/ctrace/README.md
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/docs/opencsd-issues.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/output/OutputRequirements.cpp
  tools/ctrace/src/output/TraceOutputConfig.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/tracerun/CtraceRunMeta.cpp
  tools/ctrace/src/tracerun/CtraceRunMeta.h
  tools/ctrace/src/tracerun/TraceRunConfig.h
  tools/ctrace/src/tracerun/YmlTraceRunConfigReader.cpp
  tools/ctrace/test/data/Arm-reset/Arm.ctrace-run.yml
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.ctrace-run.yml
  tools/ctrace/test/data/README.md
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
Due: none

feat(ctrace): emit periodic PC samples
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/diagnostics/TraceIssueReporter.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/model/TraceSelection.cpp
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
Due: none

refactor(ctrace): address exception review feedback
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.cpp
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfMetadataWriter.h
  tools/ctrace/src/output/ctf/CtfStreamWriter.h
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
  tools/ctrace/test/unit/support/TestSupport.h
Due: none

fix(ctrace): clarify invalid PC sample diagnostics
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
Due: none

Ctrace exception return (#2587)
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.cpp
  tools/ctrace/src/output/ctf/CtfExceptionLaneTracker.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfMetadataWriter.h
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/CtfStreamWriter.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
  tools/ctrace/test/unit/support/TestSupport.h
Due: none

Dev pcsampling (#2588)
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/todo.md
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/diagnostics/TraceIssueReporter.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/src/model/TraceSelection.cpp
  tools/ctrace/src/output/csv/CsvRowMapper.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.cpp
  tools/ctrace/src/output/ctf/CtfEncoder.h
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfSchema.h
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfSchemaTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.h
Due: none

feat(ctrace): recognize PMU trace-on-overflow packets
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/unit/src/decode/CortexMPostDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
Due: none

feat(ctrace): recognize PMU trace-on-overflow packets (#2589)
  tools/ctrace/src/decode/DwtPacketDecoder.cpp
  tools/ctrace/src/model/TraceEvent.h
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/unit/src/decode/CortexMPostDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
Due: none

fix(ctrace): report trace-run reference diagnostics
  tools/ctrace/src/control/TraceDirectoryJob.cpp
  tools/ctrace/test/integration/src/CtraceIntegTests.cpp
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
Due: none
