Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[packchk] added implicit eXecute attribute when checking for deprecated IRAMx / IROMx (#1195)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/MemoryAttributes/TestVendor.MemoryAttributes.pdsc
Due: packchk-cov

[packchk] added implicit eXecute attribute when checking for deprecated IRAMx / IROMx (#1195) (#2038)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/MemoryAttributes/TestVendor.MemoryAttributes.pdsc
Due: packchk-cov

[cbuild-run] bug fixes and enhancements (#1196)
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Components/RteTest.scvd
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Debug/ARMCM4.sdf
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Flash/CortexM4Dual.FLM
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice0/regions_RteTestBoard0.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice_Dual_cm0_core1/regions_RteTestDevice_Dual_cm0_core1.h
  tools/projmgr/test/data/TestRunDebug/core0.cproject.yml
  tools/projmgr/test/data/TestRunDebug/core1.cproject.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix emitting empty sdf
  tools/projmgr/src/ProjMgrCbuildRun.cpp
Due: projmgr-cov

[cbuild-run] bug fixes and enhancements
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Components/RteTest.scvd
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Debug/ARMCM4.sdf
  test/packs/ARM/RteTest_DFP/0.2.0/Device/ARM/Flash/CortexM4Dual.FLM
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice0/regions_RteTestBoard0.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice_Dual_cm0_core1/regions_RteTestDevice_Dual_cm0_core1.h
  tools/projmgr/test/data/TestRunDebug/core0.cproject.yml
  tools/projmgr/test/data/TestRunDebug/core1.cproject.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuild-run] Avoid duplicated `scvd` files in `system-descriptions` (#1198)
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

[cbuild-run] Avoid duplicated `scvd` files in `system-descriptions`
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

[cbuild-run] `debug-topology` refinements
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Add `datapatch` handling and refine `algorithm` filtering
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Fix missing debug sequences
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Remove default debugger `protocol` and `clock`
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[projmgr] Initial `target-set` implementation
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/CMakeLists.txt
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/data/TestTargetSet/project.cproject.yml
  tools/projmgr/test/data/TestTargetSet/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Implement `debug-adapters.yml` handling
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/debug-adapters.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/templates/debug-adapters.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

Address CodeQL findings
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

remove crt0 library from linker command
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Fix for #1722
  tools/packchk/README.md
Due: packchk-cov

remove crt0 library from linker command (#2066)
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Update 1722 (#2067)
  tools/packchk/README.md
Due: packchk-cov

Update RteTarget.cpp using 0x0 instead of 0
  libs/rtemodel/src/RteTarget.cpp
Due: none

Update regions_RteTestBoard1.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice1/regions_RteTestBoard1.h
Due: projmgr-cov

Update regions_RteTestDevice_Dual_cm0_core1.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice_Dual_cm0_core1/regions_RteTestDevice_Dual_cm0_core1.h
Due: projmgr-cov

Update regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
Due: projmgr-cov

Update regions_RteTest_ARMCM3.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

Update regions_RteTest_CM4_board_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Update regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
Due: none

Update RteTarget.cpp using 0x0 instead of 0 (#2069)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice1/regions_RteTestBoard1.h
  tools/projmgr/test/data/TestMemoryRegions/ref/RteTestDevice_Dual_cm0_core1/regions_RteTestDevice_Dual_cm0_core1.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov
