Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

[projmgr] Extend cbuild.yml output nodes
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/pre-include.cproject.yml
  tools/projmgr/test/data/TestSolution/pre-include.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/pre-include.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Fix: Ref job name correction
  .github/workflows/packchk.yml
Due: none

Fix: Zip released coverage report
  .github/workflows/projmgr.yml
Due: none

Stop Obsolete Workflows
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Implemented condition at entry point of workflow
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/shared_setup_env.yml
Due: none

Fix Release workflow
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/integrationtests/src/CPackGetTests.cpp
Due: none

Ensure generated files have consistent LF line endings
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

Fixed cpackget documentation regarding command line options
  tools/cpackget/docs/cpackget.md
Due: none

Marked `linker:` as proposal
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

CMSIS-Toolbox 1.3 Documentation Updates (#594)
  tools/buildmgr/docs/cbuild.md
  tools/cpackget/docs/cpackget.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Temporary fix for checking integration tests
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.cpp
Due: none

[buildmgr] Fix integration tests
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.cpp
Due: none

[buildmgr] Fix integration tests
  libs/rtemodel/src/RteKernel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetAC6Tests.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetGCCTests.cpp
Due: none

Fix markdown warnings (#384)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Fix markdown warnings
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Make creation of RTE folder optional
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/buildmgr/cbuild/include/Cbuild.h
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetAC6Tests.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetGCCTests.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

GitHub#469 (#362)
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk1

GitHub#469
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk1

[projmgr] Avoid getting children of an empty file container
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[buildmgr] Handle legacy armasm hexadecimal defines
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/test/testinput/Examples/AC6/Asm/AsmArm.s
  tools/buildmgr/test/testinput/Examples/AC6/Asm/Target.cprj
Due: none

[buildmgr] Update legacy armasm string defines
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/test/testinput/Examples/AC6/Asm/AsmArm.s
  tools/buildmgr/test/testinput/Examples/AC6/Asm/Target.cprj
Due: none

RteExamples: chenge some methods to const
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/src/RteExample.cpp
  libs/rteutils/src/DeviceVendor.cpp
Due: none

RteExamples: change some methods to const
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/src/RteExample.cpp
  libs/rteutils/src/DeviceVendor.cpp
Due: none

[projmgr] Add layers interfaces validation and matching (#391)
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board2.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/incompatible.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/testvariant.clayer.yml
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/interfaces/interfaces.CompatibleInterfaces.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Increase coverage
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add layers interfaces validation and matching
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board2.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/incompatible.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/testvariant.clayer.yml
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/interfaces/interfaces.CompatibleInterfaces.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Support for clayer, cimage, cproject and csolution elements in pdsc
  libs/rtemodel/include/RteAttributes.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
Due: none
