Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

MarkDown-Lint correction
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr-cov

Updated documentation to reflect CMSIS-Toolbox 1.5.0 release (#787)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

RTE Model refactoring: (#497)
  libs/rtemodel/CMakeLists.txt
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteCprjModel.h
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteKernelSlim.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCprjModel.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XmlItem.cpp
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/include/CbuildProject.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Remove CodeQL warning
  libs/rtemodel/src/RteKernel.cpp
Due: none

RTE Model refactoring: (#497) (#788)
  libs/rtemodel/CMakeLists.txt
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteCprjModel.h
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteKernelSlim.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCprjModel.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XmlItem.cpp
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/include/CbuildProject.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Sdcmsis 1896 SVDConv: fix bitfield generator for unions (#501)
  tools/svdconv/SVDGenerator/include/HeaderData.h
  tools/svdconv/SVDGenerator/src/HeaderData_Field.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Register.cpp
Due: svdconv-cov

SVDConv: fix bitfield generator for unions (#499) (#785)
  tools/svdconv/SVDGenerator/include/HeaderData.h
  tools/svdconv/SVDGenerator/src/HeaderData_Field.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Register.cpp
Due: svdconv-cov

[csolution] Generate regions_*.h file from memory tags #739 (#500)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/src/XmlItem.cpp
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  test/projects/RteTestM4/RteTestM4_Board.cprj
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Update RteTarget.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

Code cleanup: remove virtual, leave override only (#502)
  libs/errlog/include/ErrOutputterSaveToStdoutOrFile.h
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteCprjTarget.h
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernelSlim.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/include/RteValueAdjuster.h
  libs/xmlreader/include/XML_InputSourceReaderFile.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlFormatter.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.h
  tools/buildmgr/cbuild/include/CbuildCallback.h
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
  tools/projmgr/include/ProjMgrCallback.h
Due: packchk-cov, projmgr-cov, buildmgr-cov

[csolution] Generate regions_*.h file from memory tags #739 (#500) (#789)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/src/XmlItem.cpp
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  test/projects/RteTestM4/RteTestM4_Board.cprj
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Code cleanup: remove virtual, leave override only (#502) (#790)
  libs/errlog/include/ErrOutputterSaveToStdoutOrFile.h
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteCprjTarget.h
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernelSlim.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/include/RteValueAdjuster.h
  libs/xmlreader/include/XML_InputSourceReaderFile.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlFormatter.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.h
  tools/buildmgr/cbuild/include/CbuildCallback.h
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
  tools/projmgr/include/ProjMgrCallback.h
Due: packchk-cov, projmgr-cov, buildmgr-cov

CMake: Rework system/arch handing - Add Windows and Darwin arm64 builds - Exclude arm64 from test execution
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/errlog/test/CMakeLists.txt
  libs/rtefsutils/test/CMakeLists.txt
  libs/rtemodel/test/CMakeLists.txt
  libs/rteutils/test/CMakeLists.txt
  libs/xmlreader/test/CMakeLists.txt
  libs/xmltree/test/CMakeLists.txt
  libs/xmltreeslim/test/CMakeLists.txt
  libs/ymlschemachecker/test/CMakeLists.txt
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/packchk/CMakeLists.txt
  tools/packchk/test/integtests/CMakeLists.txt
  tools/packchk/test/unittests/CMakeLists.txt
  tools/packgen/test/CMakeLists.txt
  tools/projmgr/test/CMakeLists.txt
  tools/svdconv/SVDConv/CMakeLists.txt
  tools/svdconv/Test/UnitTests/CMakeLists.txt
  tools/svdconv/Test/integtests/CMakeLists.txt
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Build swig libs only for amd64
  .github/workflows/projmgr.yml
Due: none

Fixup broken workflows
  .github/matrix_includes_buildmgr.json
  .github/workflows/buildmgr.yml
  .github/workflows/projmgr.yml
  CMakeLists.txt
  tools/buildmgr/cbuildgen/CMakeLists.txt
Due: buildmgr-cov

Fixup for buildmgr and projmgr
  .github/workflows/buildmgr.yml
  .github/workflows/projmgr.yml
Due: none

Use devtools-build-action from arm64 branch. *DO NOT MERGE*
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Fixup darwin-arm64
  CMakeLists.txt
Due: none

Fix swig build
  .github/matrix_includes_projmgr.json
  .github/workflows/projmgr.yml
Due: none

Fix target naming convention.
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

Disable test execution on arm64
  .github/workflows/buildmgr.yml
Due: none

Fix architecture detection
  CMakeLists.txt
Due: none

Fix cbuildintegtests on windows
  .github/workflows/buildmgr.yml
Due: none

CMake: Rework system/arch handing
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/errlog/test/CMakeLists.txt
  libs/rtefsutils/test/CMakeLists.txt
  libs/rtemodel/test/CMakeLists.txt
  libs/rteutils/test/CMakeLists.txt
  libs/xmlreader/test/CMakeLists.txt
  libs/xmltree/test/CMakeLists.txt
  libs/xmltreeslim/test/CMakeLists.txt
  libs/ymlschemachecker/test/CMakeLists.txt
  tools/buildmgr/cbuildgen/CMakeLists.txt
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/packchk/CMakeLists.txt
  tools/packchk/test/integtests/CMakeLists.txt
  tools/packchk/test/unittests/CMakeLists.txt
  tools/packgen/test/CMakeLists.txt
  tools/projmgr/test/CMakeLists.txt
  tools/svdconv/SVDConv/CMakeLists.txt
  tools/svdconv/Test/UnitTests/CMakeLists.txt
  tools/svdconv/Test/integtests/CMakeLists.txt
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Fixup compiler warnings for externals
  CMakeLists.txt
Due: none

Fix build issues with Xerces: - Disable network feature by default - Disable compiler warnings by default
  external/xerces-c.patch
Due: none

Enhance packchk workflow with externals
  .github/workflows/packchk.yml
Due: none

Suppress all compiler warnings in externals
  CMakeLists.txt
Due: none

Fix build issues with Xerces (#792)
  .github/workflows/packchk.yml
  CMakeLists.txt
  external/xerces-c.patch
Due: none

RTE Model refactoring (#504)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XMLTree.cpp
Due: none

IAR: Adding test-suite
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/integrationtests/src/CBuildIARTests.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetIARTests.cpp
  tools/buildmgr/test/scripts/installer_run.sh
  tools/buildmgr/test/scripts/setup_test.sh
  tools/buildmgr/test/testinput/Examples/IAR/Asm/Asm.cprj
  tools/buildmgr/test/testinput/Examples/IAR/Asm/Reset_Handler.S
  tools/buildmgr/test/testinput/Examples/IAR/Asm/main.c
  tools/buildmgr/test/testinput/Examples/IAR/Asm/startup.c
  tools/buildmgr/test/testinput/Examples/IAR/Library/Library.cprj
  tools/buildmgr/test/testinput/Examples/IAR/Library/calc.cpp
  tools/buildmgr/test/testinput/Examples/IAR/Library/calc.h
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/MyMain.c
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/MyMain.c
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/Project.cprj
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_asm.s
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_c.c
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_cxx.cpp
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0_DEBUG.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0_WARNINGS.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM55.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM55_MVE.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_DP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_NP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_SP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM85.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM85_PB.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MyMain.c
  tools/buildmgr/test/testinput/MultiTargetIAR/README.md
  tools/buildmgr/test/testinput/MultiTargetIAR/expectedcommands.txt
Due: buildmgr-cov

(SDCMSIS-663) [packchk] check for flash algorithm duplicates (#489)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/DuplicateFlashAlgo/Files/TestDevices.h
  tools/packchk/test/data/DuplicateFlashAlgo/Files/startup_Test.s
  tools/packchk/test/data/DuplicateFlashAlgo/Files/system_Test.c
  tools/packchk/test/data/DuplicateFlashAlgo/Files/system_Test.h
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/TestVendor.DuplicateFlashAlgo.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

RTE Model refactoring (#504) (#794)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XMLTree.cpp
Due: none

(SDCMSIS-663) [packchk] check for flash algorithm duplicates (#489) (#795)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/DuplicateFlashAlgo/Files/TestDevices.h
  tools/packchk/test/data/DuplicateFlashAlgo/Files/startup_Test.s
  tools/packchk/test/data/DuplicateFlashAlgo/Files/system_Test.c
  tools/packchk/test/data/DuplicateFlashAlgo/Files/system_Test.h
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_512.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_High_256.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/Flash/ARMCMx_Low_256.FLM
  tools/packchk/test/data/DuplicateFlashAlgo/TestVendor.DuplicateFlashAlgo.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

IAR: Improved toolchain definition file
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

CMake: Rework system/arch handing (#506)
  tools/buildmgr/cbuildgen/CMakeLists.txt
Due: buildmgr-cov

CMake: Rework system/arch handing (#506) (#797)
  tools/buildmgr/cbuildgen/CMakeLists.txt
Due: buildmgr-cov

Bugfix in calculating pack ID in RtePackageInstanceInfo (#508)
  libs/rtemodel/src/RteInstance.cpp
Due: none

Bugfix in calculating pack ID in RtePackageInstanceInfo (#508) (#802)
  libs/rtemodel/src/RteInstance.cpp
Due: none

Ram (#510)
  libs/rtemodel/src/RteTarget.cpp
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none
