Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

reviewed -mabi options for aarch64 Cortex-A CPUs
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

[projmgr] Adjust relative paths in `misc` nodes
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestMiscRelativePaths/layers/misc-relative.clayer.yml
  tools/projmgr/test/data/TestMiscRelativePaths/main.c
  tools/projmgr/test/data/TestMiscRelativePaths/misc-relative.csolution.yml
  tools/projmgr/test/data/TestMiscRelativePaths/project/misc-relative.cproject.yml
  tools/projmgr/test/data/TestMiscRelativePaths/ref/misc-relative.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Rework of -target/-mcpu/-mfpu options for LLVM CLANG (#2498)
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[buildmgr] Fix integer MVE option (AC6/CLANG)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Purge explicit packs on solution load
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

Test data file added
  tools/projmgr/test/data/TestSolution/pack_path1.csolution.yml
Due: none

PurgeModel
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Potential fix for pull request finding
  libs/rtemodel/include/RteModel.h
Due: none

Potential fix for pull request finding
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Potential fix for pull request finding
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[projmgr] Global Generator: update context selection, defer partial processing failures
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/ac6_linker_script.sct.src
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/regions_RteTestGen_ARMCM0.h
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+Gen.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Address review comment
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Revert ahead-fix for conflict merge
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Restore packs after purge in rpc mode
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Purge explicit packs on solution load
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestSolution/pack_path1.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

Drop macOS-amd64 support
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
Due: none

Check dir content
  .github/workflows/buildmgr.yml
Due: none

[projmgr] Set target-set specific `tmpdir` as default
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only.cbuild-idx.yml
  tools/projmgr/test/data/WestSupport/ref/solution.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add debug install step to buildmgr workflow
  .github/workflows/buildmgr.yml
Due: none

Add test data
  tools/projmgr/test/data/TestSolution/tmpdir-default-active.csolution.yml
Due: none

Check dir content
  .github/workflows/buildmgr.yml
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/install.sh
Due: buildmgr-cov

Add condition for Debug install step in workflow
  .github/workflows/buildmgr.yml
Due: none

[projmgr] Set target-set specific `tmpdir` as default
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/tmpdir-default-active.csolution.yml
  tools/projmgr/test/data/WestSupport/ref/solution.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

cleanup
  .github/workflows/buildmgr.yml
Due: none

Drop macOS-amd64 support (#2507)
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/install.sh
Due: buildmgr-cov

Add `device-settings` debugger node handling
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

Populate `device settings` from `dbgconf` assignments
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Update the schema and test reference data
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

Address codeQL findings
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr-cov

cbuild-run: discard `dbgconf` when `device-settings` is populated
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

Address review finding
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov
