Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update cdefault.yml (#1648)
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Fix `context-set` handling
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[rteutils] Fix `CollectionUtils::MergeStrVecMap` (#987)
  libs/rteutils/src/CollectionUtils.cpp
Due: none

[projmgr] Update versions (#988)
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[rteutils] Fix `CollectionUtils::MergeStrVecMap` (#987) (#1653)
  libs/rteutils/src/CollectionUtils.cpp
Due: none

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Improved error message
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

avoid special characters in regions.h confusing config wizard parsing
  libs/rtemodel/src/RteTarget.cpp
Due: none

revise output
  libs/rtemodel/src/RteTarget.cpp
Due: none

Update RteTarget.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

fix output formatting
  libs/rtemodel/src/RteTarget.cpp
Due: none

[projmgr] Fix `Bvendor` handling (#995)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Add pack related access sequences handling
  libs/rteutils/include/RteConstants.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/pack-access-sequences.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/pack-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/ref/pack-access-sequences+CM4-Board.cbuild.yml
  tools/projmgr/test/data/TestAccessSequences/ref/pack-access-sequences.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix `Bvendor` handling
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Fix compiler redefinition
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Update regions file generation
  libs/rtemodel/src/RteTarget.cpp
Due: none

incorporate feedback
  libs/rtemodel/src/RteTarget.cpp
Due: none

Update reference regions file
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
Due: none

update reference files
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

mixed n and i
  libs/rtemodel/src/RteTarget.cpp
Due: none

fix reference file
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

fix reference file
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
Due: projmgr-cov

remove newline
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
Due: none

remove newline
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov

avoid special characters in regions.h confusing config wizard parsing (#1672)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest-Test-board_With.Memory.h
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/regions_RteTest_ARMCM3.h
Due: projmgr-cov
