Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[SVDConv] runs in infinite loop when using generate partition on SVD file without <sauNumRegions> element under <cpu> #1082 (#671)
  tools/svdconv/SVDGenerator/src/PartitionData.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/Test/data/sauConfig/SSE300_errs.svd
  tools/svdconv/Test/data/sauConfig/SSE300_ok.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

Add coverage data to testspace
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

use Collection instead of std::list (#675)
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteBoard.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChk.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XmlFormatter.cpp
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: packchk-cov, projmgr-cov, buildmgr-cov

use Collection instead of std::list (#675) (#1089)
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteBoard.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChk.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/src/XmlFormatter.cpp
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: packchk-cov, projmgr-cov, buildmgr-cov

Allow additional properties in project schemas
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestDefault/wrong/cdefault.yml
  tools/projmgr/test/data/TestProject/test_schema_validation_failed.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_invalid_schema.cproject.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update `connections` validation rules
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board2.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board3.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/incompatible.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/testvariant.clayer.yml
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update `list layers` behaviour: consider layer type optional by default
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update `list layers` behaviour: consider layer type optional by default (#1095)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update `list layers` behaviour: load device/board specific packs
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board-specific.clayer.yml
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[buildmgr] Enable CMake to handle AC6 projects with only legacy assembly files
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CMakeASM/CMakeDetermineAS_ARMCompiler.cmake
  tools/buildmgr/test/integrationtests/src/CBuildAC6Tests.cpp
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/ArmSyntax.s
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/LinkerScript.sct
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/Target.cprj
Due: buildmgr-cov

Update cdefault.yml
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Create *.cbuild-gen.yml with absolute paths
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Pack reqs (#679)
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/packs/ARM/RteTestRequired/1.0.0/ARM.RteTestRequired.pdsc
  test/packs/ARM/RteTestRequiredRecursive/1.0.0/ARM.RteTestRequiredRecursive.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM3/RteTestM3_PackReq.cprj
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_pack_requirements.csolution.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Pack reqs (#679) (#1105)
  libs/rtemodel/include/RteCprjProject.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/packs/ARM/RteTestRequired/1.0.0/ARM.RteTestRequired.pdsc
  test/packs/ARM/RteTestRequiredRecursive/1.0.0/ARM.RteTestRequiredRecursive.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM3/RteTestM3_PackReq.cprj
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_pack_requirements.csolution.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Added: Simplify Generator Proposal Cleaned: Manual (is now in CMSIS-Toolbox repository)
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/Generator-Information.png
  tools/projmgr/docs/Manual/images/Layer.png
  tools/projmgr/docs/Manual/images/Layers.png
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/Process-Isolation.png
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/Solution.png
  tools/projmgr/docs/Manual/images/Target-Layer.png
  tools/projmgr/docs/Manual/images/TargetBuild-Types.png
  tools/projmgr/docs/Manual/images/cbuild-operation.png
  tools/projmgr/docs/Manual/images/csolution-operation.png
  tools/projmgr/docs/Manual/images/gen.png
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Added abs paths for build info files.
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
Due: projmgr-cov

fixed MarkDown formatting issues
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Refinement of Simplified Generator Proposal
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/images/Generator-Information.png
Due: projmgr-cov

clearifications
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
Due: projmgr-cov

[yaml-cpp, projmgr] Validate map key uniqueness
  CMakeLists.txt
  external/yaml-cpp.patch
  tools/projmgr/test/data/TestSolution/non-unique-map-keys.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Simplified Generator Proposal, Removed manual file duplicates (#1106)
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/Generator-Information.png
  tools/projmgr/docs/Manual/images/Layer.png
  tools/projmgr/docs/Manual/images/Layers.png
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/Process-Isolation.png
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/Solution.png
  tools/projmgr/docs/Manual/images/Target-Layer.png
  tools/projmgr/docs/Manual/images/TargetBuild-Types.png
  tools/projmgr/docs/Manual/images/cbuild-operation.png
  tools/projmgr/docs/Manual/images/csolution-operation.png
  tools/projmgr/docs/Manual/images/gen.png
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Add dependabot
  .github/dependabot.yaml
Due: none

[projmgr] Forbid version for pack selection with `path` specified
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_path.csolution.yml
  tools/projmgr/test/data/TestSolution/pack_path_invalid.csolution.yml
  tools/projmgr/test/data/TestSolution/test_local_pack_file_not_found.csolution.yml
  tools/projmgr/test/data/TestSolution/test_local_pack_path.csolution.yml
  tools/projmgr/test/data/TestSolution/test_local_pack_path_not_found.csolution.yml
  tools/projmgr/test/data/Validation/recursive.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Clearified proposal
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
Due: projmgr-cov

[devtools] Add Windows manifest enabling `longPathAware`
  tools/buildmgr/cbuildgen/CMakeLists.txt
  tools/buildmgr/cbuildgen/src/cbuildgen.manifest
  tools/packchk/CMakeLists.txt
  tools/packchk/src/packchk.manifest
  tools/packgen/CMakeLists.txt
  tools/packgen/src/packgen.manifest
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/csolution.manifest
  tools/svdconv/SVDConv/CMakeLists.txt
  tools/svdconv/SVDConv/src/svdconv.manifest
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov
