Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Extend list generators in verbose mode
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrExtGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/templates/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Validate cbuild-set context node
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
Due: projmgr-cov

Remove option --context-replacement arg
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[csolution] Update signature usage
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Schema updates
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
  tools/projmgr/test/data/ExternalGenerator/single/generated/wrong.cgen.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Option -S without -c should issue a warning when cbuild-set.yml is not present
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Schema update
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Extend cbuild-set `context` subnode
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/invalid_keys_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/invalid_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/all_contexts_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test_AC6.cbuild-set.yml
Due: projmgr-cov

[projmgr] Fix CodeQL warning
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[buildmgr] Update cpackget: remove `pack` command from tests and scripts
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/test/integrationtests/src/CPackGetTests.cpp
  tools/buildmgr/test/scripts/download_packs.sh
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/cpackget.html
Due: none

A pack specified with path should takes precedence #1098
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/Packs/RteTestRequired/ARM.RteTestRequired.pdsc
  tools/projmgr/test/data/TestSolution/Packs/RteTestRequired1/ARM.RteTestRequired.pdsc
  tools/projmgr/test/data/TestSolution/test_pack_path.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

A pack specified with path should take precedence (#1221)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/Packs/RteTestRequired/ARM.RteTestRequired.pdsc
  tools/projmgr/test/data/TestSolution/Packs/RteTestRequired1/ARM.RteTestRequired.pdsc
  tools/projmgr/test/data/TestSolution/test_pack_path.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update schema versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update cpackget and cbridge versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
Due: buildmgr-cov

Introduced scorecard
  .github/markdownlint.jsonc
  .github/workflows/scorecard.yml
  README.md
Due: none

[projmgr] Improve context filtering
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Update default linker scripts
  tools/projmgr/templates/ac6_linker_script.sct.src
  tools/projmgr/templates/clang_linker_script.ld.src
  tools/projmgr/templates/gcc_linker_script.ld.src
Due: projmgr-cov

[projmgr] Remove TABs from CLANG default linker script
  tools/projmgr/templates/clang_linker_script.ld.src
Due: projmgr-cov
