Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

(SDCMSIS-1878) packchk: Add a check for using forward slashes in <license> element
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestLicense/TestVendor.TestPackLicense.pdsc
  tools/packchk/test/data/TestLicense/licenses/license.dat
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

[projmgr] Add list packs --missing option for printing missing packs into the stdout
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_missing.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Rework list packs (#245)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Rework list packs
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

PackChk (#246)
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestSON/TestVendor.TestSON.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

[projmgr] Fix missing gpdsc warning (#247)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

[projmgr] Fix cprj pack vendor (#248)
  tools/projmgr/src/ProjMgrGenerator.cpp
Due: projmgr1

[projmgr] Fix missing gpdsc warning
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

[projmgr] Fix cprj pack vendor
  tools/projmgr/src/ProjMgrGenerator.cpp
Due: projmgr1

[projmgr] Add .cc extension as source c++
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr1

[csolution] directory tree gets difficult to use
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

fix: local compile enabling hack
  libs/rtefsutils/include/RteFsUtils.h
  libs/ymlschemachecker/test/src/SchemaChkTests.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
Due: projmgr1

[rtemodel] Retrieve local pack version from pdsc (#253)
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
Due: none

[rtemodel] Retrieve local pack version from pdsc
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
Due: none

[projmgr] Give local pack higher priority (#252)
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Give local pack higher priority
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr][buildmgr] Upgrade GCC support (#254)
  .github/matrix_includes_buildmgr.json
  .github/workflows/buildmgr.yml
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

[projmgr][buildmgr] Upgrade GCC support
  .github/matrix_includes_buildmgr.json
  .github/workflows/buildmgr.yml
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

[buildmgr] Add CMake dependency on linker script (#255)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/AC6/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Library/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/AccessSequence/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GCC/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GPP/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/FlagOrder/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Library/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_ns/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_s/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Whitespace/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Build_AC6_GCC/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/CMakeLists.txt.ref
Due: none

[buildmgr] Add CMake dependency on linker script
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/AC6/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Library/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/AccessSequence/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GCC/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GPP/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/FlagOrder/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Library/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_ns/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_s/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Whitespace/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Build_AC6_GCC/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/CMakeLists.txt.ref
Due: none

Wildcard match algorithm needs update
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

Corrected 'output-dirs:' description
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

Update tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

[projmgr] Increase missing gpdsc severity from warning to error (#260)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

Changes to YML-Format
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

[projmgr] Increase missing gpdsc severity from warning to error
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

Add .cc extension support for build and project managers
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/unittests/src/UtilsTests.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr1

[projmgr] Replace misc C* by C-CPP (#261)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_missing_project.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_buildtypes.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pname.yml
Due: projmgr1

[projmgr] Extend list devices and boards results (#258)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Replace misc C* by C-CPP
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_missing_project.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_buildtypes.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pname.yml
Due: projmgr1

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
