Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Scope CodeQL analysis to source directories without building
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Normalize CodeQL path patterns with explicit relative prefixes
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Added workflow scans
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

chore(svdconv): clean up behavior-preserving CodeQL findings
  tools/svdconv/SVDConv/src/SVDConv.cpp
  tools/svdconv/SVDGenerator/include/HeaderGenerator.h
  tools/svdconv/SVDGenerator/src/FileIo.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Cluster.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_EnumValues.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Peripheral.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_RegStructure.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Register.cpp
  tools/svdconv/SVDGenerator/src/HeaderGenerator.cpp
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
  tools/svdconv/SVDGenerator/src/PartitionData.cpp
  tools/svdconv/SVDGenerator/src/SfdGenerator.cpp
  tools/svdconv/SVDModel/src/SvdCExpression.cpp
  tools/svdconv/SVDModel/src/SvdCluster.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
  tools/svdconv/SVDModel/src/SvdField.cpp
  tools/svdconv/SVDModel/src/SvdInterrupt.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdModel.cpp
  tools/svdconv/SVDModel/src/SvdPeripheral.cpp
  tools/svdconv/SVDModel/src/SvdRegister.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

test(svdconv): cover sentinel consumers and inheritance boundaries
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/SvdSentinelConsumerTest.cpp
  tools/svdconv/test/unittests/src/SvdSentinelModelTest.cpp
Due: none

fix(svdconv): reject reversed field ranges before expansion
  tools/svdconv/SVDModel/src/SvdField.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdRegister.cpp
  tools/svdconv/test/unittests/src/SvdModelValidationTest.cpp
Due: svdconv-cov

fix(svdconv): reject reversed field ranges and clean up CodeQL findings (#2647)
  tools/svdconv/SVDConv/src/SVDConv.cpp
  tools/svdconv/SVDGenerator/include/HeaderGenerator.h
  tools/svdconv/SVDGenerator/src/FileIo.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Cluster.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_EnumValues.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Peripheral.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_RegStructure.cpp
  tools/svdconv/SVDGenerator/src/HeaderData_Register.cpp
  tools/svdconv/SVDGenerator/src/HeaderGenerator.cpp
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
  tools/svdconv/SVDGenerator/src/PartitionData.cpp
  tools/svdconv/SVDGenerator/src/SfdGenerator.cpp
  tools/svdconv/SVDModel/src/SvdCExpression.cpp
  tools/svdconv/SVDModel/src/SvdCluster.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
  tools/svdconv/SVDModel/src/SvdField.cpp
  tools/svdconv/SVDModel/src/SvdInterrupt.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdModel.cpp
  tools/svdconv/SVDModel/src/SvdPeripheral.cpp
  tools/svdconv/SVDModel/src/SvdRegister.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/SvdModelValidationTest.cpp
  tools/svdconv/test/unittests/src/SvdSentinelConsumerTest.cpp
  tools/svdconv/test/unittests/src/SvdSentinelModelTest.cpp
Due: svdconv-cov

Add global generator entry for Renesas RA Smart Configurator (#2642)
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

refactor(svdconv): simplify empty branches and document register layout
  tools/svdconv/SVDGenerator/include/CodeGenerator.h
  tools/svdconv/SVDGenerator/src/HeaderData_RegStructure.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

refactor(svdconv): mark optional template index as maybe unused
  tools/svdconv/SVDGenerator/include/SfdGenerator.h
Due: svdconv-cov

refactor(packchk): clean up CodeQL style findings
  tools/packchk/include/PackChk.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChkMain.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk-cov
