Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions (#1312)
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[csolution-rpc] Fix examples filtering for `device` not being mounted on any board
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Remove placeholders `trace` and `terminal` from cbuild-run schema
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[cbuildgen] Disable incremental link in debug config
  tools/buildmgr/cbuildgen/CMakeLists.txt
Due: buildmgr-cov

[cbuildgen] Disable incremental link in debug config (#2219)
  tools/buildmgr/cbuildgen/CMakeLists.txt
Due: buildmgr-cov

Workflow cleanup (#1317)
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/shared_setup_env.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Workflow cleanup
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/shared_setup_env.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[projmgr] Enhance LLVM/clang linker script for compatibility with ATfE 21
  tools/projmgr/templates/clang_linker_script.ld.src
Due: projmgr-cov

[projmgr] Enhance LLVM/clang linker script for compatibility with ATfE 21 (#2224)
  tools/projmgr/templates/clang_linker_script.ld.src
Due: projmgr-cov

Set Bname to empty in GetDraftProjects if no board (#1322)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Set Bname to empty in GetDraftProjects if no board (#1322) (#2225)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Initial zephyr/west integration support
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/WestSupport/core0/core0.cproject.yml
  tools/projmgr/test/data/WestSupport/core1/core1.cproject.yml
  tools/projmgr/test/data/WestSupport/ref/core0.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/WestSupport/ref/core1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution.cbuild-idx.yml
  tools/projmgr/test/data/WestSupport/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Always accept `--active <target-type>` option regardless of available `target-set` (#1326)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Always accept `--active <target-type>` option regardless of available `target-set`
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update schemas: accept boolean `define`, reject target-type in target-set `project-context`
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Fix SelectBundle to return true if changed and no error (#1328)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Fix SelectBundle to return true if changed and no error (#1328) (#2232)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[buildmgr] Fix command-line options for map file generation
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Updated MacOs github runners (#1333)
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
Due: none

Updated MacOs github runners
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
Due: none

[projmgr] Extend RPC `BoardInfo` with on-board Debugger info (#1332)
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[svdconv] changed casts to dynamic_cast (#1336)
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
Due: svdconv-cov

[projmgr] Extend RPC `BoardInfo` with on-board Debugger info (#1332) (#2239)
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[svdconv] changed casts to dynamic_cast (#1336) (#2240)
  tools/svdconv/SVDModel/src/SvdCpu.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
Due: svdconv-cov

[projmgr] Add RPC method `DiscoverLayers` (#1330)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/rpc-discover-layers.json
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
