Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Update versions (#1105)
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[projmgr] Restore LICENSE.txt file (#1106)
  .github/workflows/projmgr.yml
  tools/projmgr/docs/LICENSE.txt
Due: projmgr-cov

[projmgr] Restore LICENSE.txt file
  .github/workflows/projmgr.yml
  tools/projmgr/docs/LICENSE.txt
Due: projmgr-cov

[buildmgr] Update versions (#1107)
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Merge branch 'main' into support-for-tiarmclang-toolchain
  tools/buildmgr/cbuildgen/config/TIARMCLANG.4.0.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

Update `CLANG_TI` support
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/templates/clang_ti_linker_script.cmd.src
Due: projmgr-cov, buildmgr-cov

Add support for the TI-CGT-CLANG toolchain
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/templates/clang_ti_linker_script.cmd.src
Due: projmgr-cov, buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Improve regions file existence check
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/missing.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Updated schema files with node-specific titles & descriptions
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

Updated schema files with node-specific titles and doc links
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

Help URL update for output file nodes
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
Due: projmgr-cov

[projmgr] Update schema versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[projmgr] Decrease pack letter case inconsistency severity
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/src/RteModel.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuild-run] Initial debug sequences output (single core)
  external/yaml-cpp.patch
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/TestHW.cbuild-run.yml
Due: projmgr-cov

Update for #1918
  tools/packchk/README.md
Due: packchk-cov

Updates for #1918
  tools/packchk/README.md
Due: packchk-cov

Updates for #1918 (#1942)
  tools/packchk/README.md
Due: packchk-cov

Run link check on all .md files (#1125)
  .github/workflows/markdown.yml
  README.md
  tools/projmgr/OutofScope.md
  tools/svdconv/Test/CONTENT.md
Due: projmgr-cov, svdconv-cov

Added Security.md (#1127)
  SECURITY.md
Due: none

Added Security.md
  SECURITY.md
Due: none

[projmgr] Rename *.cbuild-run.yml
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[cbuild-run] Implement multi-core support
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov

Address codeQL findings
  tools/projmgr/src/ProjMgrRunDebug.cpp
Due: projmgr-cov
