Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[csolution rpc]: Add method to report context info (#1396)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Doc/overview.md
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Update tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Update tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

[csolution rpc]: Add method to report context info (#1396) (#2337)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Doc/overview.md
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Ensure access sequences under `target-set` do not generate dependencies
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestTargetSet/cross-dependency.csolution.yml
  tools/projmgr/test/data/TestTargetSet/project2.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Enable Star-MC3 for AC6 and GCC via Cortex-M52 compatibility
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

Fix generated cflags in LLVM/Clang for Star-MC3
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

[projmgr] Add `list packs --locked` option
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[csolution-rpc] Add `upgrade` node into `PackReference`
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Support Hex values with suffix in defines (#1402)
  libs/ymlschemachecker/CMakeLists.txt
  libs/ymlschemachecker/src/YmlSchemaCheckerUtils.cpp
  libs/ymlschemachecker/src/YmlSchemaCheckerUtils.h
  libs/ymlschemachecker/src/YmlSchemaValidator.cpp
  libs/ymlschemachecker/src/YmlSchemaValidator.h
  libs/ymlschemachecker/test/CMakeLists.txt
  libs/ymlschemachecker/test/src/YmlSchemaCheckerUtilsTest.cpp
  libs/ymlschemachecker/test/src/YmlSchemaChkTests.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test_invalid_defines.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Support Hex values with suffix in defines (#1402) (#2344)
  libs/ymlschemachecker/CMakeLists.txt
  libs/ymlschemachecker/src/YmlSchemaCheckerUtils.cpp
  libs/ymlschemachecker/src/YmlSchemaCheckerUtils.h
  libs/ymlschemachecker/src/YmlSchemaValidator.cpp
  libs/ymlschemachecker/src/YmlSchemaValidator.h
  libs/ymlschemachecker/test/CMakeLists.txt
  libs/ymlschemachecker/test/src/YmlSchemaCheckerUtilsTest.cpp
  libs/ymlschemachecker/test/src/YmlSchemaChkTests.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test_invalid_defines.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix `list packs --missing`
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Updated error message (#1407)
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Updated error message (#1407) (#2349)
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Apply suggestions from code review
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

[projmgr] Fix `for-compiler` check and error message (#1409)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix `for-compiler` check and error message
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Reset pack filter flag on loading solution and running convert
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Add generic core support and prepare for E2E testing
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/templates/xc_linker_script.ld.src
Due: projmgr-cov, buildmgr-cov

Add generic core support and prepare for E2E testing (#2355)
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/templates/xc_linker_script.ld.src
Due: projmgr-cov, buildmgr-cov

Make behavior of pack filtering consistent in case of all packs enabled (#1411)
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_pack_requirements.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Make behavior of pack filtering consistent in case of all packs enabled (#1411) (#2357)
  libs/rtemodel/src/RtePackage.cpp
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_pack_requirements.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Ensure RTE library can be used with uVision (C++ 14) (#1414)
  libs/rteutils/include/CollectionUtils.h
Due: none

Ensure RTE library can be used with uVision (C++ 14) (#1414) (#2360)
  libs/rteutils/include/CollectionUtils.h
Due: none
