Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Add `cdefault` enablement switch in csolution
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestDefault/build-types.csolution.yml
  tools/projmgr/test/data/TestDefault/empty.csolution.yml
  tools/projmgr/test/data/TestDefault/full.csolution.yml
  tools/projmgr/test/data/TestDefault/test.csolution.yml
Due: projmgr-cov

reworked `generators` note in YML-CBuild-Format.md and YML-Input-Format.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Change define syntax to standard key: value or string
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_16_1
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_20_0
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.ac6_6_6_5
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.gcc
  tools/projmgr/test/data/TestSolution/ref/toolchains/toolchain.Debug+Target.cprj.iar
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_validate_define_syntax.yml
  tools/projmgr/test/data/TestSolution/toolchain-selection.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update generator options customization
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cbuild.yml
  tools/projmgr/test/data/TestGenerator/GeneratedFiles/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/GeneratedFiles/RteTestGeneratorWithKey/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/RTE/Device/RteTestGen_ARMCM0/RteTestNoWorkingDir.gpdsc
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-multiple-generators.cproject.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-multiple-generators.csolution.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/gendir.csolution.yml
  tools/projmgr/test/data/TestSolution/genfiles.csolution.yml
  tools/projmgr/test/data/TestSolution/outdirs.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[devtools] Support pre-release semantic version extension from git tag
  cmake/ProjectVersionFromGitTag.cmake
Due: none

Add/update test case
  tools/projmgr/test/data/TestGenerator/layer/RTE/Device/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Linker Script Management - small issues #901 (#578)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Linker Script Management - small issues #901 (#578) (#937)
  libs/rtemodel/src/RteTarget.cpp
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

Extend and clarify pack name conventions examples
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Add `linker` and `processor` nodes into `setup` handling
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions and template
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/templates/{{SolutionName}}.csolution.yml
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Cleaned-up for CMSIS-Toolbox 2.0-dev0 release
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

`output - type` documentation corrected
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Prepared for CMSIS-Toolbox 2.0.0-dev0 release
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[packchk] no error message if ../etc/PACK.xsd not found #786 (#576)
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlValidator.cpp
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/test/data/SchemaValidation/Files/header1.h
  tools/packchk/test/data/SchemaValidation/Files/test1.c
  tools/packchk/test/data/SchemaValidation/TestVendor.SchemaValidation.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[packchk] no error message if ../etc/PACK.xsd not found #786 (#576) (#946)
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlValidator.cpp
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/test/data/SchemaValidation/Files/header1.h
  tools/packchk/test/data/SchemaValidation/Files/test1.c
  tools/packchk/test/data/SchemaValidation/TestVendor.SchemaValidation.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Manual refinements: - misc: Library corrected - layer: options are at the level of the layer file - *.cdefault.yml is just cdefault.yml - formatting issues
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Add option to packchk to fail if warning/info violations are detected #886 (#583)
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
Due: packchk-cov

[projmgr] Clean-up clayer's reference node
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

Add target-types and projects as required property
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences1.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestDefault/empty.csolution.yml
  tools/projmgr/test/data/TestDefault/full.csolution.yml
  tools/projmgr/test/data/TestDefault/ref/empty/empty.cbuild-idx.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/test.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref2/testlayers.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref2/testlayers.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/testlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_invalid_layer.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_no_device_name.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test_linker_script+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test_only_board+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/test.csolution_validate_project.yml
  tools/projmgr/test/data/TrustZoneSolutionLayers/TrustZone.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add option to packchk to fail if warning/info violations are detected #886 (#583) (#948)
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
Due: packchk-cov

Add target-types and projects as required property (#950)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences1.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestDefault/empty.csolution.yml
  tools/projmgr/test/data/TestDefault/full.csolution.yml
  tools/projmgr/test/data/TestDefault/ref/empty/empty.cbuild-idx.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestDefault/test.csolution.yml
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref2/testlayers.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/ref2/testlayers.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestLayers/testlayers.csolution.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_invalid_layer.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_no_device_name.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test_linker_script+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test_only_board+TEST_TARGET.cprj
  tools/projmgr/test/data/TestSolution/test.csolution_validate_project.yml
  tools/projmgr/test/data/TrustZoneSolutionLayers/TrustZone.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Validate target-types and projects in csolution
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/missing_projects.csolution.yml
  tools/projmgr/test/data/TestSolution/missing_target_types.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

`rte` Directory control added
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Reduced scope of `rte:` directory control to `cproject.yml`
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov
