Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

Support for clayer, cimage, cproject and csolution elements in pdsc
  libs/rtemodel/include/RteAttributes.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
Due: none

Added: option "-n sfdOverwriteName" (#392)
  tools/svdconv/SVDConv/include/ParseOptions.h
  tools/svdconv/SVDConv/include/SvdOptions.h
  tools/svdconv/SVDConv/src/ParseOptions.cpp
  tools/svdconv/SVDConv/src/SvdOptions.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/SVDGenerator/src/SvdGenerator.cpp
  tools/svdconv/Test/data/option_n/option_n.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/Test/integtests/src/SvdConvTestCmdLine.cpp
Due: none

Added: option "-n sfdOverwriteName" (#392) (#605)
  tools/svdconv/SVDConv/include/ParseOptions.h
  tools/svdconv/SVDConv/include/SvdOptions.h
  tools/svdconv/SVDConv/src/ParseOptions.cpp
  tools/svdconv/SVDConv/src/SvdOptions.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/SVDGenerator/src/SvdGenerator.cpp
  tools/svdconv/Test/data/option_n/option_n.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/Test/integtests/src/SvdConvTestCmdLine.cpp
Due: none

Check layer filtering
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM3/RteTestM3.cprj
  test/projects/RteTestM3/RteTestM3_ConfigFolder.cprj
Due: none

Overview.md: added section `Working Areas` and `Project Area`
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

fixed MarkDown LINT issues
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Overview.md: added section `Working Areas` and `Project Area` (#609)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Update Overview.md
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

Implemented single nightly jon with consolidated coverage results
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[projmgr] Integrate layers from packs retrieval (#395)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board3.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/pdsc-type-mismatch.clayer.yml
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Integrate layers from packs retrieval
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board3.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/pdsc-type-mismatch.clayer.yml
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Removed redundant options from command
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr1

[projmgr] Add cdefault 'misc' handling (#397)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestDefault/.cdefault.yml
  tools/projmgr/test/data/TestDefault/ref/build-types/project.AC6.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add cdefault 'misc' handling (#397) (#621)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestDefault/.cdefault.yml
  tools/projmgr/test/data/TestDefault/ref/build-types/project.AC6.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/build-types/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cprj
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cprj
  tools/projmgr/test/data/TestDefault/ref/full/project.Debug.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Create update@version only if base@version exists
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

[projmgr] Fix release workflow
  .github/workflows/projmgr.yml
Due: none

Use milliseconds for delays instead of seconds
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
Due: none

PackChk: Pack name must always match topmost release version (#401)
  tools/packchk/src/PackChk.cpp
  tools/packchk/test/data/PackNameFile/Arm.PackNameFile_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

[projmgr] Add `variables` handling
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/variables-redefinition.cproject.yml
  tools/projmgr/test/data/TestLayers/variables-redefinition.csolution.yml
  tools/projmgr/test/data/TestLayers/variables.cproject.yml
  tools/projmgr/test/data/TestLayers/variables.csolution.yml
  tools/projmgr/test/data/TestLayers/variables/app.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/build1.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/build2.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target1.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target2.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Compiler agnostic build: added example, removed build-types from cdefault.yml
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[projmgr] Fix `--no-update-rte` handling and test case (#404)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add `list toolchains` command handling (#403)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Fix `load all` option (#405)
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add `list toolchains` command handling
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Fix `--no-update-rte` handling and test case
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Fix `load all` option
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Accept input `.csolution.yml` without explicit `-s,--solution` flags (#406)
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

The 'interface:' node description is now rework and renamed to 'contacts:
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

The 'interface:' node description is now rework and renamed to 'contacts:
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[projmgr] Accept input `.csolution.yml` without explicit `-s,--solution` flags
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

clarified the value comparison for `consumes:`/`provided:`
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

contact renamed to connect
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
