Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Bump xerces-x to 3.2.5
  external/xerces-c.patch
Due: none

[devtools] extend `language-C` and `language-CPP` supported values
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

[projmgr] Global generator `run`: fix sibling contexts selection
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Updated workflows to run with updated macOS
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
Due: none

[devtools] Extend `language-C` and `language-CPP` supported values
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

Workflows security updates (#1057)
  .github/workflows/buildmgr.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/svdconv.yml
  .github/workflows/unit_test_results.yml
Due: none

Workflows security updates (#1057) (#1835)
  .github/workflows/buildmgr.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/svdconv.yml
  .github/workflows/unit_test_results.yml
Due: none

Updated devtools-build-action version
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Remove additional -go flag from command line
  tools/projmgr/swig/go/CMakeLists.txt
Due: projmgr-cov

Updated workflows to run with updated macOS
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  tools/projmgr/swig/go/CMakeLists.txt
Due: projmgr-cov

Added Contribution guidelines doc (#1060)
  CONTRIBUTING.md
  README.md
Due: none

Added Contribution guidelines doc
  CONTRIBUTING.md
  README.md
Due: none

Yaml null node
  libs/ymltree/src/YmlFormatter.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/test/YmlTreeTest.cpp
Due: none

Respect YAML::Null node by parsing
  libs/ymltree/src/YmlFormatter.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/test/YmlTreeTest.cpp
Due: none

[svdconv] Fix infinite recursion in `SvdItem::GetEffectiveProtection()` method
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

[svdconv] add protection handling to SvdItem::CopyItem and add SvdItem::SetProtection
  tools/svdconv/SVDModel/include/SvdItem.h
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: svdconv-cov

Updated version string
  tools/svdconv/SVDConv/CMakeLists.txt
  tools/svdconv/SVDConv/src/ParseOptions.cpp
  tools/svdconv/SVDConv/src/ProductInfo.h.in
  tools/svdconv/SVDConv/src/SVDConv.cpp
  tools/svdconv/SVDConv/src/SVDConv.rc.in
  tools/svdconv/SVDConv/src/SvdOptions.cpp
Due: svdconv-cov

Update for issue #1722
  tools/README.md
  tools/buildmgr/README.md
  tools/packchk/README.md
  tools/packgen/README.md
  tools/projmgr/README.md
  tools/projmgr/docs/LICENSE.txt
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Generator (Proposal).md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Generator-Information.png
  tools/projmgr/docs/Manual/images/RTE-Scenarios.png
  tools/projmgr/docs/Manual/images/Workflow-Generator.png
  tools/projmgr/docs/SystemArchitecture.md
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MyProject/main.c
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/docs/images/Classes.svg
  tools/projmgr/docs/images/DataFlow.svg
  tools/projmgr/docs/images/YAMLAssociations.svg
  tools/projmgr/test/data/TestSolution/ComponentSources/components.Debug+RteTest_ARMCM3.cbuild.yml
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov

Incorporated feedback
  tools/README.md
  tools/projmgr/OutofScope.md
Due: projmgr-cov

Update OutofScope.md
  tools/projmgr/OutofScope.md
Due: projmgr-cov

Removal of lint errors.
  tools/README.md
Due: none

Update for issue #1722 (#1849)
  tools/README.md
  tools/buildmgr/README.md
  tools/packchk/README.md
  tools/packgen/README.md
  tools/projmgr/OutofScope.md
  tools/projmgr/README.md
  tools/projmgr/docs/LICENSE.txt
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Generator (Proposal).md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Generator-Information.png
  tools/projmgr/docs/Manual/images/RTE-Scenarios.png
  tools/projmgr/docs/Manual/images/Workflow-Generator.png
  tools/projmgr/docs/SystemArchitecture.md
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MyProject/main.c
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/docs/images/Classes.svg
  tools/projmgr/docs/images/DataFlow.svg
  tools/projmgr/docs/images/YAMLAssociations.svg
  tools/projmgr/test/data/TestSolution/ComponentSources/components.Debug+RteTest_ARMCM3.cbuild.yml
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov

[projmgr] Collect and report `packs-unused` for each selected context
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestAccessSequences/pack-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/ref/pack-access-sequences+CM4-Board.cbuild.yml
  tools/projmgr/test/data/TestSolution/PacksUnused/packs.csolution.yml
  tools/projmgr/test/data/TestSolution/PacksUnused/project.cproject.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Improved error message, show Vendor name
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov
