Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Ram (#510) (#803)
  libs/rtemodel/src/RteTarget.cpp
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/projects/RteTestM4/regions_RteTest_ARMCM4_FP_ref.h
  test/projects/RteTestM4/regions_RteTest_CM4_board_ref.h
Due: none

[packchk] Error M313 reported: does not look very valid #800 (#509)
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

[packchk] Error M313 reported: does not look very valid #800 (#509) (#804)
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

Add tests for IAR toolchain support
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/integrationtests/src/CBuildIARTests.cpp
  tools/buildmgr/test/integrationtests/src/MultiTargetIARTests.cpp
  tools/buildmgr/test/scripts/installer_run.sh
  tools/buildmgr/test/scripts/setup_test.sh
  tools/buildmgr/test/testinput/Examples/IAR/Asm/Asm.cprj
  tools/buildmgr/test/testinput/Examples/IAR/Asm/Reset_Handler.S
  tools/buildmgr/test/testinput/Examples/IAR/Asm/main.c
  tools/buildmgr/test/testinput/Examples/IAR/Asm/startup.c
  tools/buildmgr/test/testinput/Examples/IAR/Library/Library.cprj
  tools/buildmgr/test/testinput/Examples/IAR/Library/calc.cpp
  tools/buildmgr/test/testinput/Examples/IAR/Library/calc.h
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/MyMain.c
  tools/buildmgr/test/testinput/Examples/IAR/Minimal/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/MyMain.c
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/Project.cprj
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_asm.s
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_c.c
  tools/buildmgr/test/testinput/Examples/IAR/MixedSource/test_cxx.cpp
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0_DEBUG.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0_WARNINGS.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM55.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM55_MVE.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_DP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_NP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_SP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM85.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM85_PB.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MyMain.c
  tools/buildmgr/test/testinput/MultiTargetIAR/README.md
  tools/buildmgr/test/testinput/MultiTargetIAR/expectedcommands.txt
Due: buildmgr-cov

Missing header guard (#512)
  tools/svdconv/SVDConv/src/ProductInfo.h.in
Due: svdconv-cov

RteFsUtils::CopyFileExAutoRetry
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

RteFsUtils::CopyFileExAutoRetry (#810)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

Missing header guard (#512) (#809)
  tools/svdconv/SVDConv/src/ProductInfo.h.in
Due: svdconv-cov

Added more details for the RefApp-Framework
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Process-Isolation.png
  tools/projmgr/docs/Manual/images/Target-Layer.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

MD lint issues fixed
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

Added more details for the RefApp-Framework (#817)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Process-Isolation.png
  tools/projmgr/docs/Manual/images/Target-Layer.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Added support for Cortex-M85 in toolchain GCC
  README.md
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

Added support for Cortex-M85 in toolchain GCC (#818)
  README.md
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

Add properties in cbuild-idx.yml->cbuild
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
Due: projmgr-cov

Add properties in cbuild-idx.yml->cbuild (#827)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
Due: projmgr-cov

[linker:] node - define added to enable control of linker preprocessor
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Specify minimum SDK version for MacOS to 11.7 Big Sur
  CMakeLists.txt
Due: none

Fix branch protection examples
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/Project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/BranchProtection/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/BranchProtection/Project.cprj
Due: buildmgr-cov

[buildmgr] Update CustomRTE test case
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/_Target_1/RTE_Components.h
Due: buildmgr-cov

clarified MVE usage, minor corrections
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

`generator-dir:` added for specifying a path to store generator output files
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Specify minimum SDK version for MacOS to 11.7 Big Sur (#835)
  CMakeLists.txt
Due: none

[projmgr] Fix output access sequence
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
Due: projmgr-cov

csolution.yml: `description:` added to allow a brief text
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/templates/{{ProjectName}}.cproject.yml
  tools/projmgr/templates/{{SolutionName}}.csolution.yml
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

extend cbuild_install for windows_arm64 and darwin_arm64 binaries
  tools/buildmgr/cbuildgen/installer/create_installer.sh
Due: buildmgr-cov

Cleanup test report download for arm64
  .github/workflows/projmgr.yml
Due: none

Extend cbuild_install for windows_arm64 and darwin_arm64 binaries
  tools/buildmgr/cbuildgen/installer/create_installer.sh
Due: buildmgr-cov

Clean test report download for arm64
  .github/workflows/projmgr.yml
Due: none
