Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[svdconv] Generate position/mask macros for dim fields
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
  tools/svdconv/Test/data/posMaskDim/PosMaskDim.svd
  tools/svdconv/Test/integtests/src/SvdConvIntegTests.cpp
Due: svdconv-cov

[svdconv] Improve dim field position/mask coverage
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
  tools/svdconv/Test/UnitTests/CMakeLists.txt
  tools/svdconv/Test/UnitTests/src/GeneratorTest.cpp
Due: svdconv-cov

[RPC]: Fill 'result' field in Condition message
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[svdconv] Restore dimension expression null check
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
Due: svdconv-cov

Add initial ctrace tool integration
  CMakeLists.txt
  tools/ctrace/CMakeLists.txt
  tools/ctrace/include/CtraceMain.h
  tools/ctrace/src/CtraceMain.cpp
  tools/ctrace/src/main.cpp
  tools/ctrace/test/CMakeLists.txt
  tools/ctrace/test/unit/CMakeLists.txt
  tools/ctrace/test/unit/src/CtraceMainTest.cpp
Due: none

Rename SVDConv test directory
  .github/workflows/cpp-linter.yml
  tools/svdconv/CMakeLists.txt
  tools/svdconv/SVDConv/cmdFile.cf.in
  tools/svdconv/jenkins/pipeline.groovy
  tools/svdconv/test/CONTENT.md
  tools/svdconv/test/UnitTests/CMakeLists.txt
  tools/svdconv/test/UnitTests/src/GeneratorTest.cpp
  tools/svdconv/test/UnitTests/src/SvdUtilsTest.cpp
  tools/svdconv/test/data/CMakeLists.txt
  tools/svdconv/test/data/ResetMask/ResetMask.svd
  tools/svdconv/test/data/accViolationDisableCond/accViolationDisableCond.xml
  tools/svdconv/test/data/cmdlineParser/DisableCondTest.svd
  tools/svdconv/test/data/disablecondition/DisableCondTest.svd
  tools/svdconv/test/data/nameHasBrackets/SVDTiny.svd
  tools/svdconv/test/data/option_n/option_n.svd
  tools/svdconv/test/data/posMaskDim/PosMaskDim.svd
  tools/svdconv/test/data/sauConfig/SSE300_errs.svd
  tools/svdconv/test/data/sauConfig/SSE300_ok.svd
  tools/svdconv/test/integtests/CMakeLists.txt
  tools/svdconv/test/integtests/include/SvdConvIntegTestEnv.h
  tools/svdconv/test/integtests/include/SvdConvTestUtils.h
  tools/svdconv/test/integtests/src/SvdConvIntegTestEnv.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/test/integtests/src/SvdConvTestCmdLine.cpp
  tools/svdconv/test/integtests/src/SvdConvTestUtils.cpp
Due: svdconv-cov

Rename SVDConv unit test directory
  tools/svdconv/CMakeLists.txt
  tools/svdconv/jenkins/pipeline.groovy
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/GeneratorTest.cpp
  tools/svdconv/test/unittests/src/SvdUtilsTest.cpp
Due: svdconv-cov

Add test with mixed conditions Correct bug in condition collection
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/Validation/dependencies.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[svdconv] Generate position/mask macros for dim fields (#2545)
  .github/workflows/cpp-linter.yml
  tools/svdconv/CMakeLists.txt
  tools/svdconv/SVDConv/cmdFile.cf.in
  tools/svdconv/SVDGenerator/src/HeaderData_PosMask.cpp
  tools/svdconv/Test/UnitTests/src/GeneratorTest.cpp
  tools/svdconv/jenkins/pipeline.groovy
  tools/svdconv/test/CONTENT.md
  tools/svdconv/test/data/CMakeLists.txt
  tools/svdconv/test/data/ResetMask/ResetMask.svd
  tools/svdconv/test/data/accViolationDisableCond/accViolationDisableCond.xml
  tools/svdconv/test/data/cmdlineParser/DisableCondTest.svd
  tools/svdconv/test/data/disablecondition/DisableCondTest.svd
  tools/svdconv/test/data/nameHasBrackets/SVDTiny.svd
  tools/svdconv/test/data/option_n/option_n.svd
  tools/svdconv/test/data/posMaskDim/PosMaskDim.svd
  tools/svdconv/test/data/sauConfig/SSE300_errs.svd
  tools/svdconv/test/data/sauConfig/SSE300_ok.svd
  tools/svdconv/test/integtests/CMakeLists.txt
  tools/svdconv/test/integtests/include/SvdConvIntegTestEnv.h
  tools/svdconv/test/integtests/include/SvdConvTestUtils.h
  tools/svdconv/test/integtests/src/SvdConvIntegTestEnv.cpp
  tools/svdconv/test/integtests/src/SvdConvIntegTests.cpp
  tools/svdconv/test/integtests/src/SvdConvTestCmdLine.cpp
  tools/svdconv/test/integtests/src/SvdConvTestUtils.cpp
  tools/svdconv/test/unittests/CMakeLists.txt
  tools/svdconv/test/unittests/src/GeneratorTest.cpp
  tools/svdconv/test/unittests/src/SvdUtilsTest.cpp
Due: svdconv-cov

Correct unit tests
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Add ctrace CI and release workflow
  .github/matrix_includes_ctrace.json
  .github/workflows/cpp-linter.yml
  .github/workflows/ctrace.yml
  .github/workflows/nightly.yml
  .github/workflows/unit_test_results.yml
  codecov.yml
Due: none

Add test project file
  tools/projmgr/test/data/Validation/mixed-issues.cproject.yml
Due: none

Fix test
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Ctrace (#2547)
  .github/matrix_includes_ctrace.json
  .github/workflows/cpp-linter.yml
  .github/workflows/ctrace.yml
  .github/workflows/nightly.yml
  .github/workflows/unit_test_results.yml
  CMakeLists.txt
  codecov.yml
  tools/ctrace/CMakeLists.txt
  tools/ctrace/include/CtraceMain.h
  tools/ctrace/src/CtraceMain.cpp
  tools/ctrace/src/main.cpp
  tools/ctrace/test/CMakeLists.txt
  tools/ctrace/test/unit/CMakeLists.txt
  tools/ctrace/test/unit/src/CtraceMainTest.cpp
Due: none

[RPC]: Fill 'result' field in Condition message (#2546)
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/Validation/dependencies.csolution.yml
  tools/projmgr/test/data/Validation/mixed-issues.cproject.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[ctrace] Expand architecture documentation
  tools/ctrace/docs/architecture.md
Due: none

[ctrace] Fix static analysis and Windows tests
  .github/.cppcheck_suppressions
  tools/ctrace/src/decode/OpenCsdErrorController.cpp
  tools/ctrace/src/decode/OpenCsdItmSession.cpp
  tools/ctrace/src/diagnostics/DiagnosticSink.cpp
  tools/ctrace/src/diagnostics/DiagnosticSink.hpp
  tools/ctrace/src/output/OutputRequirements.cpp
  tools/ctrace/src/output/csv/CsvFileOutput.cpp
  tools/ctrace/src/output/ctf/CtfBundleOutput.cpp
  tools/ctrace/src/output/ctf/CtfMetadataWriter.cpp
  tools/ctrace/src/output/ctf/CtfStreamWriter.cpp
  tools/ctrace/src/output/ctf/TraceCompassXmlWriter.cpp
  tools/ctrace/src/tracerun/YmlTraceRunConfigReader.cpp
  tools/ctrace/test/unit/src/cli/CliParserTests.cpp
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
Due: none

[ctrace] Keep CSV fixtures platform independent
  tools/ctrace/test/data/.gitattributes
Due: none

[ctrace] Fix CodeQL test sink warning
  tools/ctrace/test/unit/src/decode/OpenCsdPacketCollectorTests.cpp
Due: none

[ctrace] Consolidate test infrastructure
  tools/ctrace/test/integration/src/CtraceTestCommand.cmake
  tools/ctrace/test/integration/src/RunExpectedFailure.cmake
  tools/ctrace/test/integration/src/RunTraceFixture.cmake
  tools/ctrace/test/integration/src/RunTraceRunYaml.cmake
  tools/ctrace/test/integration/src/RunValidTraceFixture.cmake
  tools/ctrace/test/unit/CMakeLists.txt
  tools/ctrace/test/unit/src/cli/CliParserTests.cpp
  tools/ctrace/test/unit/src/control/DecodeConsumersTests.cpp
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/decode/CortexMPostDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/DecodePipelineTests.cpp
  tools/ctrace/test/unit/src/decode/DwtPacketDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdErrorControllerTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdItmDecoderTests.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdPacketCollectorTests.cpp
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/OutputRequirementsTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputCriteriaTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvFileOutputTests.cpp
  tools/ctrace/test/unit/src/output/csv/CsvRowMapperTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
  tools/ctrace/test/unit/src/tracerun/CtraceRunMetaTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunConfigReaderTests.cpp
  tools/ctrace/test/unit/src/tracerun/TraceRunDiscoveryTests.cpp
  tools/ctrace/test/unit/support/CtfTestSupport.hpp
  tools/ctrace/test/unit/support/OpenCsdSessionTestSupport.hpp
  tools/ctrace/test/unit/support/OpenCsdTestSupport.hpp
  tools/ctrace/test/unit/support/TestPath.hpp
  tools/ctrace/test/unit/support/TestSupport.hpp
  tools/ctrace/test/unit/support/TraceOutputTestSupport.hpp
  tools/ctrace/test/unit/support/TraceRunTestSupport.hpp
Due: none

[ctrace] Complete branch coverage
  tools/ctrace/src/decode/OpenCsdErrorController.cpp
  tools/ctrace/src/decode/OpenCsdItmDecoder.cpp
  tools/ctrace/test/unit/src/decode/OpenCsdErrorControllerTests.cpp
  tools/ctrace/test/unit/src/model/TraceSelectionTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfEncoderTests.cpp
Due: none

[ctrace] Refresh cppcheck suppressions
  .github/.cppcheck_suppressions
Due: none

[ctrace] Scope build and workflow integration
  .gitattributes
  .github/workflows/codeql-analysis.yml
  .github/workflows/ctrace.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/shared_setup_env.yml
  CMakeLists.txt
  LICENSE.md
  tools/ctrace/CMakeLists.txt
Due: none

[ctrace] Refine diagnostics and test reset recovery
  tools/ctrace/docs/architecture.md
  tools/ctrace/docs/constraints.md
  tools/ctrace/src/CtraceMain.cpp
  tools/ctrace/src/control/TraceDirectoryJob.cpp
  tools/ctrace/src/diagnostics/DiagnosticSink.cpp
  tools/ctrace/src/diagnostics/DiagnosticSink.hpp
  tools/ctrace/test/data/.gitattributes
  tools/ctrace/test/data/README.md
  tools/ctrace/test/data/STM32H7B3I-DK-reset/STM32H7B3I-DK.SWO.raw
  tools/ctrace/test/data/STM32H7B3I-DK-reset/STM32H7B3I-DK.SWO.raw.license
  tools/ctrace/test/data/STM32H7B3I-DK-reset/STM32H7B3I-DK.ctrace-run.yml
  tools/ctrace/test/data/STM32H7B3I-DK-reset/STM32H7B3I-DK.ctrace-run.yml.license
  tools/ctrace/test/integration/CMakeLists.txt
  tools/ctrace/test/integration/README.md
  tools/ctrace/test/integration/src/RunResetRecoveryFixture.cmake
  tools/ctrace/test/integration/src/RunTraceRunYaml.cmake
  tools/ctrace/test/integration/src/RunValidTraceFixture.cmake
  tools/ctrace/test/unit/src/control/DecodeConsumersTests.cpp
  tools/ctrace/test/unit/src/control/TraceDirectoryJobTests.cpp
  tools/ctrace/test/unit/src/diagnostics/DiagnosticsTests.cpp
  tools/ctrace/test/unit/src/output/TraceOutputLifecycleTests.cpp
  tools/ctrace/test/unit/src/output/ctf/CtfBundleOutputTests.cpp
Due: none

[ctrace] Align test documentation with build behavior
  tools/ctrace/README.md
Due: none

[ctrace] Document OpenCSD issue without downstream patch
  tools/ctrace/README.md
  tools/ctrace/cmake/dependencies/ConfigureOpenCSD.cmake
  tools/ctrace/docs/OpenCSD-NOTICE.txt
  tools/ctrace/docs/THIRD_PARTY_NOTICES.md
  tools/ctrace/docs/opencsd-issues.md
Due: none

[ctrace] Generalize test fixture names
  tools/ctrace/test/data/Arm-reset/Arm.SWO.raw
  tools/ctrace/test/data/Arm-reset/Arm.SWO.raw.license
  tools/ctrace/test/data/Arm-reset/Arm.ctrace-run.yml
  tools/ctrace/test/data/Arm-reset/Arm.ctrace-run.yml.license
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.csv
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.csv.license
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.raw
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.SWO.raw.license
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.TB.raw
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.TB.raw.license
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.ctrace-run.yml
  tools/ctrace/test/data/Blinky+Arm/Blinky+Arm.ctrace-run.yml.license
  tools/ctrace/test/data/README.md
  tools/ctrace/test/integration/CMakeLists.txt
  tools/ctrace/test/integration/README.md
Due: none

[ctrace] Fix GCC custom deleter initialization
  tools/ctrace/src/decode/OpenCsdItmSession.h
Due: none

[ctrace] Remove stale runtime inventory link
  LICENSE.md
Due: none

[ctrace] Bound reset recovery fixture runtime
  tools/ctrace/test/data/Arm-reset/Arm.SWO.raw
  tools/ctrace/test/data/README.md
  tools/ctrace/test/integration/CMakeLists.txt
  tools/ctrace/test/integration/src/RunResetRecoveryFixture.cmake
Due: none

[ctrace] Cover metadata label fallback
  tools/ctrace/test/unit/src/output/ctf/CtfMetadataWriterTests.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
