Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Update ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
Due: none

csolution crashes with config files for generated compoinents
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

csolution crashes with config files for generated compoinents (#1521)
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Ensure bootstrap component refers to its original package, not gpdsc (#925)
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteProject.cpp
Due: none

Ensure bootstrap component refers to its original package, not gpdsc (#925) (#1522)
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteProject.cpp
Due: none

[projmgr] implement executes schema and CPRJ generation
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/src/ProjMgrGenerator.cpp
Due: projmgr-cov, buildmgr-cov

[buildmgr] implement executes CPRJ parsing
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

[buildmgr cbuildgen] implement executes for pre- and post-build steps
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
Due: buildmgr-cov

[buildmgr cbuildgen] copy compilation database to OUT_DIR by default
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
Due: buildmgr-cov

Do not create RTE_Components.h if no component is selected (#926)
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/projects/RteTestM3/RteTestM3NoComponents.cprj
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
Due: projmgr-cov

Do not create RTE_Components.h if no component is selected (#926) (#1527)
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/projects/RteTestM3/RteTestM3NoComponents.cprj
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
Due: projmgr-cov

Updated test example
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File1.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File2.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File3.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File4.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/Project.cprj
Due: buildmgr-cov

[projmgr] Relax project provided `connections` validation
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix yaml boolean parsing
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
Due: projmgr-cov

Update IAR.9.32.1.cmake for Secure
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Add support for ARMv7R and ARMv8A in cmake scripts for CLANG and AC6
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update IAR.9.32.1.cmake for Secure (#1544)
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Update projmgr.yml
  .github/workflows/projmgr.yml
Due: none

[projmgr] Layer discovery `configuration`: set absolute `path`
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] List layers: update `*.cbuild.yml` also in case of errors
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
