Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

RTE Board: memory, NO_MCU, conditions
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteBoard.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/DeviceVendor.h
  libs/rteutils/src/DeviceVendor.cpp
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTestBoard/0.1.0/Board/Flash/BoardAlgo1.FLM
  test/packs/ARM/RteTestBoard/0.1.0/Board/Flash/BoardAlgo2.FLM
Due: none

fixed CodeQL issues (#461)
  tools/svdconv/SVDGenerator/src/HeaderData_Peripheral.cpp
  tools/svdconv/SVDGenerator/src/HeaderGenerator.cpp
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
Due: svdconv-cov

PackChk: issue on relative paths during case-sense check
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/TestPackRoot/ExtFiles/test2.c
  tools/packchk/test/data/TestPackRoot/Pack/Files/header1.h
  tools/packchk/test/data/TestPackRoot/Pack/Files/test1.c
  tools/packchk/test/data/TestPackRoot/Pack/TestVendor.TestPackRoot.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk-cov

SVDConv: Fixed CodeQL alerts
  tools/svdconv/SVDGenerator/src/HeaderData_Peripheral.cpp
  tools/svdconv/SVDGenerator/src/HeaderGenerator.cpp
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
Due: svdconv-cov

cbuild.yml as generator input (#673)
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

CodeQL fixes (#465)
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
Due: svdconv-cov

PackChk: Changed M377 from INFO to WARNING
  tools/packchk/src/PackChk_Msgs.cpp
Due: packchk-cov

SVDConv: Fix CodeQL alerts
  tools/svdconv/SVDGenerator/src/MemoryMap.cpp
Due: svdconv-cov

PackChk: Changed M377 from INFO to WARNING (#721)
  tools/packchk/src/PackChk_Msgs.cpp
Due: packchk-cov

PackChk: Attach binary to PR builds
  .github/workflows/packchk.yml
Due: none

PackChk should check for spaces in the name element of the <file> tag (#469)
  tools/packchk/src/CheckFiles.cpp
Due: packchk-cov

Documentation update
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr-cov

[rtemodel, buildmgr] Update CPRJ target name handling (#467)
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/testinput/Examples/AC6/Asm/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Flags/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Library/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/RTE/_Target_1/RTE_Components.h
Due: buildmgr-cov

[rtemodel, buildmgr] Update CPRJ target name handling
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/CONFIG_FOLDER/_Target_1/RTE_Components.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_Global.h
  test/projects/RteTestM3/RTE/_Target_1/Pre_Include_RteTest_ComponentLevel.h
  test/projects/RteTestM3/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/testinput/Examples/AC6/Asm/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Flags/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Library/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/RTE/_Target_1/RTE_Components.h
Due: buildmgr-cov

Updated test Archive name to be in consistent with other tools
  .github/workflows/svdconv.yml
Due: none

[projmgr] Add `$Pname$` access sequence
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences3.cproject.yml
Due: projmgr-cov

Address test coverage
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/outputFiles.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Match componentID schema restrictions with PACK.xsd
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestProject/test.cproject_schema_validation_failed.yml
Due: projmgr-cov

Reference Example Framework
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Documentation update (#725)
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr-cov

[buildmgr] Fix projects using preincludes in IAR Projects may fail with compiler error: Unexpected command line arguments: -include The correct compiler flag is --preinclude
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Clarified scope of CMSIS-Toolbox 2.0 (see Proposals - OutofScope.md) Described Linker-Script-Management.md Change: `define:` and `add-path:` only applies to C/C++ files
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

minor corrections
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
Due: projmgr-cov

Clarifications for Linker-Script-Management.md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Markdown Lint fixes
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
Due: projmgr-cov

Manual Updates (Scope of CMSIS-Toolbox 2.0) (#738)
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/Linker-Script-Management.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Arduino-Shield.png
  tools/projmgr/docs/Manual/images/Reference-Example.png
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Don't explicitly link with stdc++fs
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/rtefsutils/CMakeLists.txt
Due: none

Fix file not found when cross compiling
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/include/CrossPlatform.h
  libs/crossplatform/include/win/imagehlp.h
  libs/crossplatform/include/win/resource.h
  libs/crossplatform/include/win/sdkddkver.h
  libs/crossplatform/include/win/shlwapi.h
  libs/crossplatform/include/win/windows.h
  libs/crossplatform/src/Windows/Utils.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
Due: svdconv-cov

Fix warnings about overloaded functions
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteModel.h
  libs/xmltree/include/XmlItem.h
  libs/xmltree/include/XmlTreeItem.h
Due: none

Fix warning about hiding overridden function
  libs/rtemodel/include/RteItem.h
Due: none

Fix file not found when cross compiling (#743)
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/include/CrossPlatform.h
  libs/crossplatform/include/win/imagehlp.h
  libs/crossplatform/include/win/resource.h
  libs/crossplatform/include/win/sdkddkver.h
  libs/crossplatform/include/win/shlwapi.h
  libs/crossplatform/include/win/windows.h
  libs/crossplatform/src/Windows/Utils.cpp
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
Due: svdconv-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
