Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update of yml schema error msg
  external/json-schema-validator.patch
Due: none

[devtools] Add option to output linker `map` files
  libs/rteutils/include/RteConstants.h
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/templates/cdefault.yml
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Debug+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestSolution/outputFiles.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
Due: projmgr-cov, buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Improved error message, show Vendor name
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework component resolution to avoid picking non-default implementation
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/variables/target1.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target2.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target3.clayer.yml
  tools/projmgr/test/data/TestProject/test_component_csub.cproject.yml
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.cproject.yml
  tools/projmgr/test/data/TestSolution/Executes/project/project.cproject.yml
  tools/projmgr/test/data/TestSolution/Instances/instances.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.AutoGen+RteTest_Board.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.FromComponent+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/metadata.cproject.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/library.cproject.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TrustZoneSolutionLayers/layers/app/NonSecureCode/NonSecure.clayer.yml
  tools/projmgr/test/data/TrustZoneSolutionLayers/layers/app/SecureCode/Secure.clayer.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/NonSecureCode/NonSecure.clayer.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/SecureCode/Secure.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Validate created-for node against cmsis-toolbox manifest version
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Removed redundant const return type
  libs/rtefsutils/src/RteFsUtils.cpp
Due: none

Update RteFsUtils.h
  libs/rtefsutils/include/RteFsUtils.h
Due: none

Improved node descriptions for IntelliSense
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

Addressed review comments
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

[projmgr] Check loaded pack requirements
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackRequirements/incompatible.cproject.yml
  tools/projmgr/test/data/TestSolution/PackRequirements/incompatible.csolution.yml
  tools/projmgr/test/data/TestSolution/PackRequirements/packs/required/ARM.RteTestRequired.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix classic generator's bootstrap content reporting
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-project-files.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
Due: projmgr-cov

[projmgr] Fix optional empty layer report
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/searchpath.cproject.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.cproject.yml
Due: projmgr-cov

[projmgr] Skip processing candidate layers during detection phase
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.csolution.yml
Due: projmgr-cov

[projmgr] Fix path normalization
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

[projmgr] Check pack identifier case consistency
  libs/rtefsutils/src/RteFsUtils.cpp
  tools/projmgr/test/data/TestSolution/pack_case_sensitive.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix `list configs` mandatory argument
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Check invalid `context-set` (#1086)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/invalid-context-set.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/invalid-context-set.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Check invalid `context-set` (#1086) (#1881)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/invalid-context-set.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/invalid-context-set.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Increase severity of missing specified regions header and unknown access sequence warnings
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
