Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Fix cpp-linter warnings (#705)
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteCallback.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteExample.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/src/RteUtils.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.h
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/src/XmlItem.cpp
  libs/ymlschemachecker/src/SchemaErrorHandler.cpp
  libs/ymlschemachecker/src/SchemaValidator.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
Due: projmgr-cov, svdconv-cov

[projmgr] Add device/board pack into cbuild.yml
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LanguageAndScope/ref/lang-scope.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Release+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix GH findings
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fix cpp-linter warnings (#1156)
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/src/RteCallback.cpp
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteExample.cpp
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rteutils/src/RteUtils.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.h
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/src/XmlItem.cpp
  libs/ymlschemachecker/src/SchemaErrorHandler.cpp
  libs/ymlschemachecker/src/SchemaValidator.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
Due: projmgr-cov, svdconv-cov

Update nightly.yml
  .github/workflows/nightly.yml
Due: none

[projmgr, buildmgr] Add `warnings` option `all`
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestSolution/ref/test_target_options+CM0.cprj
  tools/projmgr/test/data/TestSolution/test_target_options.cproject.yml
Due: projmgr-cov, buildmgr-cov

[projmgr] Add support for branch protection (PACBTI)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/DeviceAttributes/branch-protection/branch-protection.cproject.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/branch-protection/bti-signret.clayer.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/branch-protection/bti.clayer.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/branch-protection/no-bp.clayer.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/branch-protection.Debug+bti-signret.cbuild.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/branch-protection.Debug+bti.cbuild.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/branch-protection.Debug+no-bp.cbuild.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

cbuildgen: Add configuration for Clang 17 including Cortex-A support
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

[projmgr] Fix CodeQL findings
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Check codeQL config
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeql-config.yml
  .github/codeql-config.yml
Due: none

Exclude directories from scan
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

Update codeQL configurations
  .github/codeql-config.yml
  .github/workflows/codeql-analysis.yml
Due: none

[buildmgr, projmgr] Accept GPDSC without components
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscWithoutComponents/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscWithoutComponents/GpdscWithoutComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscWithoutComponents/Project.cprj
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscWithoutComponents/RTE/_Target_1/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscWithoutComponents/main.c
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/GpdscWithoutComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/test-gpdsc-without-components.cproject.yml
  tools/projmgr/test/data/TestGenerator/test-gpdsc-without-components.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Fix CodeQL warning
  tools/projmgr/include/ProjMgrUtils.h
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
