Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Add `--cbuild2cmake` option
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

added check num regions against configured regions
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
Due: svdconv-cov

fixed pointer access
  tools/svdconv/SVDModel/src/SvdCpu.cpp
Due: svdconv-cov

changed message text
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
Due: svdconv-cov

fixed messages
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
Due: svdconv-cov

Fixed: Message on check against sau num regions = 0 (#1582)
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDModel/src/SvdCpu.cpp
Due: svdconv-cov

[projmgr] cbuild setup --context-set should execute first project
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] cbuild setup --context-set should execute first project
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
Due: projmgr-cov

Remove "output-dirs" from cproject.yml schema
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Improve error/warning messages
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

[csolution] Rework `select-compiler`: store required version ranges
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/SelectableToolchains/cdefault.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/ref/select-compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/SelectableToolchains/select-compiler.csolution.yml
Due: projmgr-cov

[projmgr] Rework warning message for device/board deprecation (#953)
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework warning message for device/board deprecation
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Handle cpp regex in `for-context` and `not-for-context` nodes
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ForContextRegex/regex-fail.csolution.yml
  tools/projmgr/test/data/TestSolution/ForContextRegex/regex.cproject.yml
  tools/projmgr/test/data/TestSolution/ForContextRegex/regex.csolution.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Consider context selection for access sequences evaluation
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/mixed-build-type.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/ns.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/s.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Removed from-pack as required field for backward compatibility
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Set `rebuild` flag in `cbuild-idx.yml`
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/RebuildConditions/rebuild.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/RebuildConditions/rebuild.cproject.yml
  tools/projmgr/test/data/TestSolution/RebuildConditions/rebuild.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] List only selected contexts in build index
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test_no_device_name.cbuild-idx.yml
Due: projmgr-cov

[projmgr] Warn about ignoring `intdir` customization when using `--cbuild2cmake`
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Error on use of multiple variants of the same component for the same context (#960)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_use_multiple_variant_component.cproject.yml
  tools/projmgr/test/data/TestSolution/test_use_multiple_variant_component.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Error on use of multiple variants of the same component for the same context (#960) (#1611)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/test_use_multiple_variant_component.cproject.yml
  tools/projmgr/test/data/TestSolution/test_use_multiple_variant_component.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Error message update with correct toolchain name (#961)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Error message update with correct toolchain name
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Update schema `for-context` and `not-for-context` regex: require `\.` or `\+`
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Ensure generator from gpdsc is used if available (#964)
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-project-files.Debug+CM0.cbuild.yml
Due: projmgr-cov

Ensure generator from gpdsc is used if available (#1617)
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-project-files.Debug+CM0.cbuild.yml
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Remove generated component when a bootstrap component is deselected
  libs/rtemodel/src/RteProject.cpp
Due: none
