Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Define $generator_id and $pack_id variables in generator arguments
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RtePackage.cpp
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
Due: projmgr-cov

[buildmgr] Add standard language options into translation controls
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
Due: buildmgr-cov

[projmgr] Support `language` and `scope` component file attributes
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/LanguageAndScope/lang-scope.cproject.yml
  tools/projmgr/test/data/TestSolution/LanguageAndScope/lang-scope.csolution.yml
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/ARM.RteTest.pdsc
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/Dummy/DummyFile.txt
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/Dummy/Subfolder/dummy.c
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/Dummy/dummy.c
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Dummy.c
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Dummy.cpp
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Hidden/Hidden.h
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Private/Private.h
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Public/Public.h
  tools/projmgr/test/data/TestSolution/LanguageAndScope/pack/LanguageAndScope/Visible/Visible.h
  tools/projmgr/test/data/TestSolution/LanguageAndScope/ref/lang-scope.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Remove AC5 support
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/buildmgr/test/scripts/installer_run.sh
  tools/buildmgr/test/scripts/setup_test.sh
Due: buildmgr-cov

[projmgr] Accept command line toolchain redefinition
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/cdefault.yml
  tools/projmgr/test/data/TestSolution/toolchain-redefinition.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix toolchain version when compatible cmake config is not found
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Complement AC5 support removal
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov, buildmgr-cov

Directories should be executable even if read-only (#993)
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

[buildmgr] Warn missing `RTE_Components.h` (#626)
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
Due: buildmgr-cov

[buildmgr] Warn missing `RTE_Components.h`
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
Due: buildmgr-cov

MDK: fix reading pack filter from uvprojx (#627)
  libs/rtemodel/src/RteInstance.cpp
Due: none

MDK: fix reading pack filter from uvprojx (#627) (#1021)
  libs/rtemodel/src/RteInstance.cpp
Due: none

[projmgr] Update default gcc linker script (#628)
  tools/projmgr/templates/gcc_linker_script.ld
Due: projmgr-cov

[projmgr] Update default gcc linker script
  tools/projmgr/templates/gcc_linker_script.ld
Due: projmgr-cov

[buildmgr] Skip CMake identification of AC6
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[projmgr] Update `help` page
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Reflecting changes in CMSIS-Toolbox 2.0
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Removed -s option from csolution Corrected issue #945
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Accept default linker script from different drive
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

misc / Library example added
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Add support for LLVM/Clang
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/clang_linker_script.ld
Due: projmgr-cov, buildmgr-cov

Reflecting changes in CMSIS-Toolbox 2.0 (#1030)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

Option --context-replacement to replace context(s)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov
