Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

[projmgr] Extend list devices and boards results
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Add 'for-compiler' and 'setups' nodes (#263)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Introduce keywords define, undefine, add-path and del-path (#264)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestAccessSequences/malformed-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/malformed-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences3.cproject.yml
  tools/projmgr/test/data/TestLayers/Layer1/layer1.clayer.yml
  tools/projmgr/test/data/TestLayers/Layer1/layer1.clayer_pname.yml
  tools/projmgr/test/data/TestLayers/Layer2/layer2.clayer.yml
  tools/projmgr/test/data/TestLayers/Layer2/layer2.clayer_package_with_pname.yml
  tools/projmgr/test/data/TestLayers/Layer3/layer3.clayer.yml
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject2/test2.cproject.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_missing_project.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_buildtypes.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pname.yml
  tools/projmgr/test/data/TrustZoneSolution/NonSecureCode/NonSecure.cproject.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/NonSecureCode/NonSecure.clayer.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/SecureCode/Secure.clayer.yml
Due: projmgr1

[projmgr] Add 'for-compiler' and 'setups' nodes
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Introduce keywords define, undefine, add-path and del-path
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestAccessSequences/malformed-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/malformed-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences3.cproject.yml
  tools/projmgr/test/data/TestLayers/Layer1/layer1.clayer.yml
  tools/projmgr/test/data/TestLayers/Layer1/layer1.clayer_pname.yml
  tools/projmgr/test/data/TestLayers/Layer2/layer2.clayer.yml
  tools/projmgr/test/data/TestLayers/Layer2/layer2.clayer_package_with_pname.yml
  tools/projmgr/test/data/TestLayers/Layer3/layer3.clayer.yml
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject2/test2.cproject.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_missing_project.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_buildtypes.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pname.yml
  tools/projmgr/test/data/TrustZoneSolution/NonSecureCode/NonSecure.cproject.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/NonSecureCode/NonSecure.clayer.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/layers/app/SecureCode/Secure.clayer.yml
Due: projmgr1

[crossplatform] Check return value of waitpid
  libs/crossplatform/src/LinuxDarwin_Process.cpp
Due: none

Readme improvement
  README.md
Due: none

PackChk: Device Feature "SON"
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestSON/TestVendor.TestSON.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

Update GH Actions macOS environment
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_test_libs.json
  .github/matrix_includes_toolbox.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
  .github/workflows/toolbox.yml
  libs/crossplatform/src/LinuxDarwin_Process.cpp
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[crossplatform] Remove unused ProcessRunner and StreamReader
  libs/crossplatform/CMakeLists.txt
  libs/crossplatform/include/ProcessRunner.h
  libs/crossplatform/include/StreamReader.h
  libs/crossplatform/src/Emscripten_Process.cpp
  libs/crossplatform/src/Emscripten_StreamReader.cpp
  libs/crossplatform/src/LinuxDarwin_Process.cpp
  libs/crossplatform/src/LinuxDarwin_StreamReader.cpp
  libs/crossplatform/src/ProcessRunner.cpp
  libs/crossplatform/src/StreamReader.cpp
  libs/crossplatform/src/Windows_Process.cpp
  libs/crossplatform/src/Windows_StreamReader.cpp
  libs/crossplatform/test/CMakeLists.txt
  libs/crossplatform/test/src/ProcessTests.cpp
Due: none

[buildmgr, projmgr, packgen, toolbox] Fix CodeQL warnings
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/include/CbuildProject.h
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/toolbox/test/src/ToolboxTestEnv.cpp
Due: projmgr1

[projmgr] Print packs location when listing packs (#267)
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Add [abc] style wildcard to pack name convention
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

[projmgr] Print packs location when listing packs
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Keep keyword for temporary backward compatibility until deprecation (#271)
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr1

Support board attributes in conditions (#266)
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteBoard.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteProject.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test.cproject_only_board.yml
  tools/projmgr/test/data/TestProject/test_only_board.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

[projmgr] Handle multiple contexts selection (#270)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Support board attributes in conditions
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteBoard.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteProject.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test.cproject_only_board.yml
  tools/projmgr/test/data/TestProject/test_only_board.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

[projmgr] Keep keyword for temporary backward compatibility until deprecation
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr1

[projmgr] Fix generator test case for macOS not supported
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Handle multiple contexts selection
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cbuildgen.html
  buildmgr/main/cmsis.js
Due: none

[toolbox] Update versions and documentation (#274)
  .github/workflows/toolbox.yml
  tools/projmgr/docs/Manual/YML-Format.md
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/installation.md
  tools/toolbox/docs/progress.md
  tools/toolbox/installer/install.sh
  tools/toolbox/scripts/set-default.sh
  tools/toolbox/test/src/InstallerTests.cpp
Due: projmgr1

[toolbox] Update versions and documentation
  .github/workflows/toolbox.yml
  tools/projmgr/docs/Manual/YML-Format.md
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/installation.md
  tools/toolbox/docs/progress.md
  tools/toolbox/installer/install.sh
  tools/toolbox/scripts/set-default.sh
  tools/toolbox/test/src/InstallerTests.cpp
Due: projmgr1

Update code coverage steps: - Don't archive coverage as zip in zip - Include lcov information in archive - Add branch information to lcov
  .github/workflows/packchk.yml
Due: none

Update code coverage steps
  .github/workflows/packchk.yml
Due: none

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
