Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[packchk] Rework Message M396
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/SemVerTest/Arm.SemVerTest_DFP.pdsc
Due: packchk-cov

Updated and streamlined documentation
  tools/README.md
  tools/buildmgr/README.md
  tools/buildmgr/cbuildgen/ReadMe.txt
  tools/buildmgr/docs/cbuild.md
  tools/cpackget/docs/cpackget.md
  tools/packchk/README.md
  tools/packgen/README.md
  tools/projmgr/README.md
  tools/svdconv/SVDConv/README.md
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[svdconv] Code cleanup
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/src/SvdTypes.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
  tools/svdconv/Test/UnitTests/src/SvdUtilsTest.cpp
Due: svdconv-cov

[buildmgr] Add Star-MC1, Cortex-M55 and Cortex-M85 to IAR Compiler configuration.
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

[projmgr] Fix test case option (#445)
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix test case option
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update CLI to match parser
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
Due: buildmgr-cov

[projmgr] Refine valid configurations info output (#446)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Refine valid configurations info output
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Replace `ConnectionsCollection` pointers by references (#449)
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Replace `ConnectionsCollection` pointers by references (#449) (#697)
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Check availability of C++17 std::filesystem - Print warning if std::filesystem cannot be detected. - Print hint on minimum recommended compiler version.
  CMakeLists.txt
Due: none

[projmgr] Avoid context specific pack filtering when using `--load all|latest`
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Check availability of C++17 std::filesystem
  CMakeLists.txt
Due: none

[buildmgr] Add Star-MC1, Cortex-M55 and Cortex-M85 to IAR Compiler configuration
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

PackChk should check for spaces in the name element of the <file> tag (#451)
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk-cov

PackChk should check for spaces in the name element of the <file> tag
  tools/packchk/include/CheckFiles.h
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/unittests/src/TestCheckFiles.cpp
Due: packchk-cov

[buildmgr] Add AC6 test data for custom RTE
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/CMSIS/RTX_Config.c
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/CMSIS/RTX_Config.c.base@5.1.1
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/CMSIS/RTX_Config.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/CMSIS/RTX_Config.h.base@5.5.2
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/ARMCM3_ac6.sct
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/ARMCM3_ac6.sct.base@1.0.0
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/startup_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/startup_ARMCM3.c.base@2.0.3
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/system_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/Device/ARMCM3/system_ARMCM3.c.base@1.0.1
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Custom/RTEDIR/_CustomRTE/RTE_Components.h
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CustomRTE.cprj
Due: buildmgr-cov

[projmgr] Print layers valid sets (#456)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Print layers valid sets
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Issue #676: Custom RTE directory computation replaces whitespaces (#457)
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Issue #676: Custom RTE directory computation replaces whitespaces
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

[projmgr] Rework list layers output format (#459)
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Fix includes order (#454)
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.cpp
  tools/buildmgr/test/scripts/download_packs.sh
  tools/buildmgr/test/testinput/Examples/AC6/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Simulation.fixed.cprj.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
Due: buildmgr-cov

[projmgr] Fix test case regex
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

RteConditionExpression: evaluate to IGNORED for unknown domain (#460)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteExampleTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
Due: none

[projmgr] Rework list layers output format
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Fix includes order
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.cpp
  tools/buildmgr/test/scripts/download_packs.sh
  tools/buildmgr/test/testinput/Examples/AC6/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Simulation.fixed.cprj.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project2/CMakeLists.txt.ref
Due: buildmgr-cov

RteConditionExpression: evaluate to IGNORED for unknown domain (#460) (#715)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rtemodel/test/src/RteExampleTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
Due: none

Add JSON schema for lockfile format (*.cbuild.yml)
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Fix $ref overwriting restrictions
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Contribution to PR #673
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
Due: none

Create *.cbuild.yml when executing generator
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
Due: projmgr-cov

Add more info to cbuild.yml for generator input
  libs/rtemodel/include/RteGenerator.h
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Replace GetExpandedArgv with GetExpandedArgs
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/src/RteGenerator.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
