Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

[projmgr] Support Bversion alongside Brevision for backward compatibility (#290)
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_only_board.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

[projmgr] Fix default RTE reference
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/.ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/.startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/.system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/ARMCM0_ac6.sct@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/startup_ARMCM0.c@2.0.3
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/Device/RteTest_ARMCM0/system_ARMCM0.c@1.0.0
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RTELayer1/config.h
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RTELayer2/config.h
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RTELayer3/config.h
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RteTest/.ComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RteTest/ComponentLevelConfig_0.h
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RteTest/MyDir/.RelativeComponentLevelConfig_0.h@0.0.1
  tools/projmgr/test/data/TestLayers/ref/testlayers/RTE/RteTest/MyDir/RelativeComponentLevelConfig_0.h
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Debug.cprj
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Release.cprj
Due: projmgr1

[projmgr] Support Bversion alongside Brevision for backward compatibility
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_only_board.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

Fix CodeQL alerts
  libs/errlog/src/ErrLog.cpp
  libs/xmlreader/src/XML_Reader.cpp
  tools/packchk/src/CheckComponents.cpp
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/src/ValidateSyntax.cpp
Due: packchk1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Add MSVC option for consistently using UTF-8
  CMakeLists.txt
Due: none

Update README.md
  README.md
Due: none

Check for linked device: if cclass == "CMSIS Driver" and csub is not set (#295)
  tools/packchk/src/CheckComponents.cpp
Due: packchk1

Check for linked device: if cclass == "CMSIS Driver" and csub is not set
  tools/packchk/src/CheckComponents.cpp
Due: packchk1

Added: - language-C: / language-CPP: - warnings: (details of the option specified) - linker script: -for-compiler: options - interface: consumes/provides
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

[buildmgr, projmgr, packgen] Fix CodeQL warnings
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.h
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.h
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.h
  tools/packgen/test/src/PackGenTestEnv.h
  tools/projmgr/src/ProductInfo.h.in
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
Due: projmgr1

Update schema version and document deprecated fields
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr1

Simplify use of environment variables (#296)
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/cbuildgen/src/Console.cpp
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/scripts/postsetupcheck.sh
  tools/buildmgr/test/scripts/setup_test.sh
  tools/buildmgr/test/scripts/unsetenv
  tools/toolbox/installer/install.sh
Due: none

[projmgr] Add initial interfaces handling
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/interfaces.cproject.yml
  tools/projmgr/test/data/TestLayers/interfaces.csolution.yml
  tools/projmgr/test/data/TestLayers/interfaces1.clayer.yml
  tools/projmgr/test/data/TestLayers/interfaces2.clayer.yml
  tools/projmgr/test/data/TestLayers/ref/interfaces/interfaces.CompatibleInterfaces.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Simplify use of environment variables
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/cbuildgen/src/Console.cpp
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/scripts/postsetupcheck.sh
  tools/buildmgr/test/scripts/setup_test.sh
  tools/buildmgr/test/scripts/unsetenv
  tools/toolbox/installer/install.sh
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cbuild.html
  buildmgr/main/cbuild_install.html
  buildmgr/main/cmsis.js
Due: none

Add deprecation comment to each of the deprecated fields
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Fix SetupType to match new convention and documentation
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Correct documentation as fields are already deprecated
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

Document deprecated fields in schema and correction to documentation
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

[projmgr] make optimize and warnings types more generic
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Add support for output-dirs[gendir] to specify destination for the generators (#433)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr1

[projmgr] Add support for $G generator variable to find the generator input file (#433)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteCallback.cpp
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr1

Restructured documentation and added information about the CBuild YML Format
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Detaching toolbox (#298)
  .github/matrix_includes_toolbox.json
  .github/workflows/toolbox.yml
  CMakeLists.txt
  tools/CONTENT.md
  tools/README.md
  tools/buildmgr/README.md
  tools/projmgr/README.md
  tools/toolbox/CMakeLists.txt
  tools/toolbox/README.md
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/LICENSE.txt
  tools/toolbox/docs/index.html
  tools/toolbox/docs/installation.md
  tools/toolbox/docs/progress.md
  tools/toolbox/installer/create_installer.sh
  tools/toolbox/scripts/set-default.sh
  tools/toolbox/test/CMakeLists.txt
  tools/toolbox/test/scripts/installer_run.sh
  tools/toolbox/test/src/InstallerTests.cpp
  tools/toolbox/test/src/ToolboxTestEnv.cpp
  tools/toolbox/test/src/ToolboxTestEnv.h
Due: projmgr1

Added: (#456)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Detaching toolbox
  .github/matrix_includes_toolbox.json
  .github/workflows/toolbox.yml
  CMakeLists.txt
  tools/CONTENT.md
  tools/README.md
  tools/buildmgr/README.md
  tools/projmgr/README.md
  tools/toolbox/CMakeLists.txt
  tools/toolbox/README.md
  tools/toolbox/docs/CMSIS-Toolbox.md
  tools/toolbox/docs/LICENSE.txt
  tools/toolbox/docs/index.html
  tools/toolbox/docs/installation.md
  tools/toolbox/docs/progress.md
  tools/toolbox/installer/create_installer.sh
  tools/toolbox/scripts/set-default.sh
  tools/toolbox/test/CMakeLists.txt
  tools/toolbox/test/scripts/installer_run.sh
  tools/toolbox/test/src/InstallerTests.cpp
  tools/toolbox/test/src/ToolboxTestEnv.cpp
  tools/toolbox/test/src/ToolboxTestEnv.h
Due: projmgr1
