Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Update default linker scripts
  tools/projmgr/templates/ac6_linker_script.sct.src
  tools/projmgr/templates/clang_linker_script.ld.src
  tools/projmgr/templates/gcc_linker_script.ld.src
Due: projmgr-cov

[buildmgr] Update tools versions and release notes
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[buildmgr, projmgr] Update linker pre-processing
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingSrcFile/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingSrcFile/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingSrcFile/RTE/Device/ARMCM3/gcc_arm.ld.src
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov, buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Update buildmgr documentation for release 2.2.0
  buildmgr/2.2.0/cmsis.js
Due: none

GH actions Pinned dependencies
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

[projmgr] Update default linker script for AC6
  tools/projmgr/templates/ac6_linker_script.sct.src
Due: projmgr-cov

[rtemodel] Restore `RteKernel::GetUrlFromIndex` return value when local pack repo is absent
  libs/rtemodel/src/RteKernel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/testinput/ModelTest/InvalidPackRepo.cpinstall.json.ref
  tools/buildmgr/test/testinput/ModelTest/InvalidPackRepo.cpinstall.ref
  tools/buildmgr/test/testinput/ModelTest/InvalidPackRepo.cprj
Due: buildmgr-cov

Update workflow permissions
  .devcontainer/debian-10/Dockerfile
  .devcontainer/ubuntu-20.04/Dockerfile
  .devcontainer/ubuntu-22.04/Dockerfile
  .github/dependabot.yaml
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/shared_setup_env.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

RTE Model fixes and enhancements
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

RTE Model fixes and enhancements (#1240)
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Split RunProjMgr code (#750)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Split RunProjMgr code (#750) (#1241)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

Dedicated method to Update RTE folder
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Dedicated method to Update RTE folder (#1244)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Update schemas patch release version (#753)
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[projmgr] Update schemas patch release version
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update tools versions (#754)
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[buildmgr] Update tools versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[projmgr] Fall back to file version defined in the pack
  libs/rtemodel/src/RteProject.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TrustZone/CM33_s/RTE/Device/ARMCM33_DSP_FP_TZ/gcc_arm.ld.base@1.0.0
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Add --frozen-packs argument to csolution
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_frozen.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_frozen_no_pack_file.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

RtePackRegistry: add methods to erase and replace packs
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

RtePackRegistry: add methods to erase and replace packs (#1256)
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
