Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Fix nightly build artifact tags
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Trigger nightly job manually
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

[projmgr] Don't consider cbuild-pack.yml with --load <all|latest> (#1291)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_find_unspecified_pack_using_load_argument.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_using_load_argument.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-all.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-latest.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-required.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-required_updated.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-all.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-latest.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-required.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Run coverage job on workflow_dispatch
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

[projmgr] Don't consider cbuild-pack.yml with --load <all|latest>
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_find_unspecified_pack_using_load_argument.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_using_load_argument.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-all.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-latest.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-required.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_find_unspecified_pack_using_load_argument-required_updated.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-all.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-latest.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_using_load_argument-required.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Update ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue) (#1310)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

RTE: Pack description tag dominate does not overrule API
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
Due: none

RTE: Pack description tag dominate does not overrule API (#1316)
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
Due: none

Support for external generators in RTE Model (continue)
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/CollectionUtils.cpp
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/unittests/src/CLayerTests.cpp
  tools/buildmgr/test/unittests/src/CbuildModelTests.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Support for external generators in RTE Model (continue) (#1321)
  libs/rteutils/include/CollectionUtils.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/CollectionUtils.cpp
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/unittests/src/CLayerTests.cpp
  tools/buildmgr/test/unittests/src/CbuildModelTests.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] Update schema for accepting empty groups in cbuild.yml files
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Update EnumStringTables.h
  tools/svdconv/SVDModel/include/EnumStringTables.h
Due: svdconv-cov

Update SvdTypes.cpp
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

Update SVDModel to add support for CM52 (#1332)
  tools/svdconv/SVDModel/include/EnumStringTables.h
  tools/svdconv/SVDModel/src/SvdTypes.cpp
Due: svdconv-cov

[projmgr] Make context RTE path canonical
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Update schema: accept non-unique defines in *.cbuild.yml (#800)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Update schema: accept non-unique defines in *.cbuild.yml
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Support for external generators in RTE Model (continue)
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteItemBuilder.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteItemBuilder.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/include/IXmlItemBuilder.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  test/local/etc/global.generator.yml
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue) (#1335)
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteItemBuilder.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteItemBuilder.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/include/IXmlItemBuilder.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  test/local/etc/global.generator.yml
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

[rteutils] Fix typo RTE_FP_MVE
  libs/rteutils/include/RteConstants.h
Due: none
