Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

packchk: fixed "update-rte-files" which generated RTE folder while checking (#1439)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

packchk: fixed "update-rte-files" which generated RTE folder while checking (#1439) (#2391)
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Perform Apply for any RPC call changing component selection (#1440)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Perform Apply for any RPC call changing component selection (#1440) (#2392)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[cbuild-run] Add `processors` capabilities into `system-resources` (#1441)
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteConstants.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/multicore+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pack_selection.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pname.cprj
  tools/projmgr/test/data/TestSolution/ref/test_target_options+CM0.cprj
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[cbuild-run] Add `processors` capabilities into `system-resources`
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteConstants.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/multicore+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pack_selection.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pname.cprj
  tools/projmgr/test/data/TestSolution/ref/test_target_options+CM0.cprj
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Fix Pack filter when changing scope all/solution packs (#1442)
  libs/rtemodel/src/RtePackage.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Fix Pack filter when changing scope all/solution packs (#1442) (#2394)
  libs/rtemodel/src/RtePackage.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[cbuild-run] Relax schema: set processor capability `revision` as optional
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Improve duplicate components in cproject/clayer
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents.clayer.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents_clayer.cproject.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Cproject/duplicateComponents_cproject.cproject.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/duplicateComponents.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Small fix
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Cproject/duplicateComponents_cproject.cproject.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/duplicateComponents.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Modified unit test
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents.clayer.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents_clayer.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

[projmgr] Improve duplicate components in cproject/clayer.yml
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents.clayer.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Clayer/duplicateComponents_clayer.cproject.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/Cproject/duplicateComponents_cproject.cproject.yml
  tools/projmgr/test/data/TestSolution/DuplicateComponents/duplicateComponents.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[devtools] Handle automatic rebase of config files (#1444)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Rebase/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Rebase/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@1.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[devtools] Handle automatic rebase of config files
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Rebase/Device/RteTest_ARMCM3/startup_ARMCM3.c
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/Rebase/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@1.0.0
  tools/projmgr/test/data/TestSolution/ConfigFilesUpdate/config.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Ensure `$SolutionDir()$` and `$ProjectDir()$` are evaluated (#1446)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Ensure `$SolutionDir()$` and `$ProjectDir()$` are evaluated
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Validate component Cbundle conflicts (ignore Cvendor)
  test/local_packs/S/SomeVendor.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject1/testProject1.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject2/testProject2.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject3/testProject3.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject4/testProject4.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/multiBundleComponent.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Modifiy RunProjMgr_MultiBundleComponent unit test
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject1/testProject1.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject2/testProject2.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject4/testProject4.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/multiBundleComponent.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix bugs and minimize changes
  test/local_packs/S/SomeVendor.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Fix access sequences key extraction (#1447)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/variables/solutionDir.clayer.yml
Due: projmgr-cov

[projmgr] Fix access sequences key extraction
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/variables/solutionDir.clayer.yml
Due: projmgr-cov

RTE Model: improve collecting device properties for multi-core devices
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

RTE Model: improve collecting device properties for multi-core devices (#2403)
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Refine error message and combine unit tests
  test/local_packs/S/SomeVendor.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject2/testProject2.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject3/testProject3.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/multiBundleComponent.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validate component Cbundle conflicts (ignore Cvendor)
  test/local_packs/S/SomeVendor.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject1/testProject1.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/TestProject2/testProject2.cproject.yml
  tools/projmgr/test/data/TestSolution/MultiBundleComponent/multiBundleComponent.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

RPC: Tolerate non-critical errors when loading solution
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Potential fix for pull request finding
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

RPC: Tolerate non-critical errors when loading solution (#2404)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Make Info message under `verbose` and update unit tests
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Fix suggested by Copilot
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none
