Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Improved test report naming with platform and arch
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
  CMakeLists.txt
  libs/crossplatform/test/CMakeLists.txt
  libs/errlog/test/CMakeLists.txt
  libs/rtefsutils/test/CMakeLists.txt
  libs/rtemodel/test/CMakeLists.txt
  libs/rteutils/test/CMakeLists.txt
  libs/xmlreader/test/CMakeLists.txt
  libs/xmltree/test/CMakeLists.txt
  libs/xmltreeslim/test/CMakeLists.txt
  libs/ymlschemachecker/test/CMakeLists.txt
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/packchk/test/integtests/CMakeLists.txt
  tools/packchk/test/unittests/CMakeLists.txt
  tools/packgen/test/CMakeLists.txt
  tools/projmgr/test/CMakeLists.txt
  tools/svdconv/Test/UnitTests/CMakeLists.txt
  tools/svdconv/Test/integtests/CMakeLists.txt
Due: packchk1, projmgr1

Fixed CxxOpts command line parser bug with spaces in the help
  CMakeLists.txt
  external/cxxopts.patch
Due: none

fixed: (#367)
  tools/svdconv/SVDConv/src/SvdOptions.cpp
Due: none

SVDConv: Print program header when log file "-b log.txt" is written
  tools/svdconv/SVDConv/src/SvdOptions.cpp
Due: none

Fix CXXOpts redundant spaces in help
  .github/workflows/packchk.yml
  CMakeLists.txt
  external/cxxopts.patch
  tools/packchk/test/integtests/CMakeLists.txt
Due: packchk1

[ProjMgr/BuildMgr] Add ldcflag and ldcxxflag support (#224)
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/RteTestM3.cprj
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/Build_GCC/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/GCC/Build_GPP/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/GCC/Flags/Target.cprj
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr1

Improved indent and remove duplicated statement
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr1

[ProjMgr/BuildMgr] Add ldcflag and ldcxxflag support
  libs/rtemodel/include/CprjFile.h
  libs/rtemodel/src/CprjFile.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/projects/RteTestM3/RteTestM3.cprj
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/Build_GCC/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/GCC/Build_GPP/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/GCC/Flags/Target.cprj
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

Update buildmgr.yml
  .github/workflows/buildmgr.yml
Due: none

Reuse github workflows
  .github/workflows/buildmgr.yml
  .github/workflows/setup_env.yml
Due: none

Update resuse
  .github/workflows/buildmgr.yml
  .github/workflows/setup_env.yml
Due: none

Consolidate and reuse GH workflow configs
  .github/workflows/setup_env.yml
Due: none

try CheckCompileCommand
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
Due: none

update golden CMakeLists.txt
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
Due: none

reuse GCC/TranslationControl/Project3
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_2.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
Due: none

[buildmgr] add translate ctrls options test using GCC
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_2.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
Due: none

[buildmgr] Add toolchain root environment variable handling (#373)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
Due: none

[buildmgr] Add toolchain root environment variable handling
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
Due: none

Individual reusable workflows based on usage
  .github/workflows/setup_env.yml
  .github/workflows/shared_matrix_prep.yml
  .github/workflows/shared_setup_env.yml
Due: none

Added Nightly build
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/shared_setup_env.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Stop Obsolete Workflows
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[projmgr] Fix matched component instance
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/Layer3/layer3.clayer.yml
  tools/projmgr/test/data/TestLayers/ref/testlayers/testlayers.Release.cprj
  tools/projmgr/test/data/TestLayers/ref2/testlayers.Release.cprj
  tools/projmgr/test/data/TestLayers/testlayers.cproject.yml
Due: projmgr1

Make RTE update optional for csolution convert
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Never create RTE files for some csolution commands
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Make RTE update optional for cbuildgen cmake
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/buildmgr/cbuild/include/Cbuild.h
  tools/buildmgr/cbuild/include/CbuildModel.h
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
Due: none

[projmgr] Extend cbuild.yml output nodes (#370)
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/pre-include.cproject.yml
  tools/projmgr/test/data/TestSolution/pre-include.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/pre-include.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Fix: Ref job name correction
  .github/workflows/packchk.yml
Due: none

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
