Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Removed commented code
  tools/projmgr/src/ProjMgrUtils.cpp
Due: projmgr-cov

Add support for LLVM/Clang (#1032)
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/templates/clang_linker_script.ld
Due: projmgr-cov, buildmgr-cov

projmgr: Add Clang settings to cdefault.yml
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

[projmgr] Update schema with linker for-context/not-for-context mutual exclusion
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[buildmgr] Set CMake flags for AC6 identification
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[buildmgr] Enable linker defines as trigger for preprocessing
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGCCTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/MyMain.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/RTE/Device/ARMCM3/gcc_arm.ld
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/RTE/Device/ARMCM3/startup_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/RTE/Device/ARMCM3/system_ARMCM3.c
  tools/buildmgr/test/testinput/Examples/GCC/LinkerPreProcessingDefines/RTE/_Target_1/RTE_Components.h
Due: buildmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

Update help page
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

projmgr: Add -masm-syntax-unified to GCC cdefault
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Add missing include directive for LLVM/Clang cmake
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
Due: buildmgr-cov

[buildmgr] Add C pre-processor secure flags
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

[projmgr] Check file references portability
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/Portability/artifact.elf
  tools/projmgr/test/data/TestSolution/Portability/bs/bs.cproject.yml
  tools/projmgr/test/data/TestSolution/Portability/case/case.cproject.yml
  tools/projmgr/test/data/TestSolution/Portability/layer.clayer.yml
  tools/projmgr/test/data/TestSolution/Portability/linker_script.ld
  tools/projmgr/test/data/TestSolution/Portability/portability.csolution.yml
  tools/projmgr/test/data/TestSolution/Portability/portability2.csolution.yml
  tools/projmgr/test/data/TestSolution/contexts.cproject.yml
  tools/projmgr/test/data/TestSolution/multiple.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix portability test for macOS
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add missing include directive for LLVM/Clang cmake (#1047)
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
Due: buildmgr-cov

[projmgr] Make effective toolchain redefinition from command line
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Provide VSCode Dev Container for Linux development
  .devcontainer/debian-10/Dockerfile
  .devcontainer/debian-10/devcontainer.json
  .devcontainer/ubuntu-20.04/Dockerfile
  .devcontainer/ubuntu-20.04/devcontainer.json
  .devcontainer/ubuntu-22.04/Dockerfile
  .devcontainer/ubuntu-22.04/devcontainer.json
  README.md
Due: none

[buildmgr] Add CLANG system includes and clean-up
  tools/buildmgr/cbuildgen/config/CLANG.16.0.0.cmake
  tools/buildmgr/cbuildgen/config/CMSIS-Build-Utils.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

[security] Too permissive permissions set in RteFsUtils functions #1006 (#647)
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

[security] Too permissive permissions set in RteFsUtils functions #1006 (#647) (#1059)
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

[projmgr] Ignore references to absolute paths
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] missing component (Cvariant) not detected when specified in <accept> (M504:) #1052 (#650)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

projmgr: Fix linker script templates for Armv8-M TrustZone
  tools/projmgr/templates/ac6_linker_script.sct
  tools/projmgr/templates/clang_linker_script.ld
Due: projmgr-cov

Support dry-running generators
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/script.sh
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject3_3/TestProject3_3.cproject.yml
  tools/projmgr/test/data/TestSolution/gen_nodryrun.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Introduce RteConstants.h (#651)
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteUtils.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Introduce RteConstants.h (#651) (#1064)
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/RteConstants.h
  libs/rteutils/src/RteUtils.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov
