Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Trigger cmsis-toolbox nightly after finishing devtools nightly (#2471)
  .github/workflows/nightly.yml
Due: none

[projmgr] MLOps: make it tolerant to missing hardware or simulator targets
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/test/data/MLOps/failure2.csolution.yml
  tools/projmgr/test/data/MLOps/minimal.csolution.yml
  tools/projmgr/test/data/MLOps/no_hardware.csolution.yml
  tools/projmgr/test/data/MLOps/no_simulator.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Address review comments
  tools/projmgr/include/ProjMgrMlops.h
Due: projmgr-cov

[projmgr] MLOps: handle image-only target-set
  tools/projmgr/include/ProjMgrMlops.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/MLOps/extended.csolution.yml
  tools/projmgr/test/data/MLOps/failure_image_only_hw.csolution.yml
  tools/projmgr/test/data/MLOps/failure_image_only_sim.csolution.yml
  tools/projmgr/test/data/MLOps/minimal_image_only.csolution.yml
  tools/projmgr/test/data/MLOps/ref/minimal_image_only.cbuild-mlops.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Address review comments
  tools/projmgr/src/ProjMgrMlops.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Improve `filter` help text
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Add `generated-by` node in *.cbuild-mlops.yml files
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildMlops.cpp
  tools/projmgr/test/data/MLOps/ref/extended.cbuild-mlops.yml
  tools/projmgr/test/data/MLOps/ref/minimal.cbuild-mlops.yml
  tools/projmgr/test/data/MLOps/ref/minimal_image_only.cbuild-mlops.yml
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/CMakeLists.txt
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-mlops.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

Fix crash in LoadPacks RPC call
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Potential fix for pull request finding
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fix crash in LoadPacks RPC call (#2484)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

RPC: Clear RTE Projects on ConvertSolution and LoadSolution
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Potential fix for pull request finding
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

RPC: Clear RTE Projects on ConvertSolution and LoadSolution (#2486)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Extend PackReference with locked and missing nodes
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/pack_reference_locked.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_reference_locked.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Address review comment
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Update csolution-rpc hash
  tools/projmgr/CMakeLists.txt
Due: projmgr-cov

Update CLANG_MFPU settings for various CPUs
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update version calulation for interim build version
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  cmake/ProjectVersionFromGitTag.cmake
Due: none

[csolution-rpc] Extend `PackReference` with optional `locked` and `missing` nodes
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/pack_reference_locked.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_reference_locked.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Update version calulation for interim build version (#2493)
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  cmake/ProjectVersionFromGitTag.cmake
Due: none

[csolution-rpc] Clean active target set before loading a solution
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/test/data/TestRpc/minimal2.cproject.yml
  tools/projmgr/test/data/TestRpc/minimal2.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[csolution-rpc] Clean active target set before loading a solution (#2496)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/test/data/TestRpc/minimal2.cproject.yml
  tools/projmgr/test/data/TestRpc/minimal2.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Rework of -target/-mcpu/-mfpu options
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Potential fix for pull request finding
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

fixed FVE typos
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov
