Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[rteutils] Fix typo RTE_FP_MVE
  libs/rteutils/include/RteConstants.h
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

added RteItem::GetYamlDeviceAttribute()
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rteutils/src/RteConstants.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

added RteItem::GetYamlDeviceAttribute() (#1340)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  libs/rteutils/src/RteConstants.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

[projmgr] Update MVE test reference and workflows (#806)
  .github/workflows/projmgr.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/mve.Debug+mve-fp.cprj
Due: projmgr-cov

[projmgr] Update MVE test reference and workflows
  .github/workflows/projmgr.yml
  tools/projmgr/test/data/TestSolution/DeviceAttributes/ref/mve.Debug+mve-fp.cprj
Due: projmgr-cov

Support for external generators in RTE Model (continue)
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue) (#1342)
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Update/Get context specific pack missing info (#809)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_missing.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue)
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
Due: none

Update/Get context specific pack missing info (#809) (#1344)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_missing.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Support for external generators in RTE Model (continue) (#1346)
  libs/rtemodel/include/RteFile.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteFile.cpp
  libs/rtemodel/src/RteGenerator.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
Due: none

Remove redundant inheritance in IXmlItemBuilder
  libs/rtemodel/src/RteKernel.cpp
  libs/xmltree/include/IXmlItemBuilder.h
Due: none

Remove redundant inheritance in IXmlItemBuilder (#1348)
  libs/rtemodel/src/RteKernel.cpp
  libs/xmltree/include/IXmlItemBuilder.h
Due: none

Extend cbuild yml files with error and packs-missing node (#810)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/main.c
  tools/projmgr/test/data/TestSolution/PackMissing/missing_pack.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMissing/project.cproject.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+Gen.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/test_no_device_name.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Return success on list pack -m
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/pack_missing_for_context.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Support multiple component instances
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/Instances/instances.cproject.yml
  tools/projmgr/test/data/TestSolution/Instances/instances.csolution.yml
  tools/projmgr/test/data/TestSolution/Instances/ref/instances.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/Instances/ref/instances.Debug+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Rename one of RteProject::GetFileInstances()
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

[buildmgr doxygen] Remove URL causing warning due to redirection (#821)
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
Due: buildmgr-cov

[buildmgr doxygen] Remove URL causing warning due to redirection (#1363)
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
Due: buildmgr-cov

Rename one of RteProject::GetFileInstances() (#1362)
  libs/rtemodel/include/RteProject.h
  libs/rtemodel/src/RteCprjProject.cpp
  libs/rtemodel/src/RteProject.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cbuild_install.html
  buildmgr/main/cmsis.js
Due: none

Fix for issue #1356
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix for issue #1356 (#1364)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

cgen.yml
  libs/rtemodel/src/RteProject.cpp
Due: none

cgen.yml (#1366)
  libs/rtemodel/src/RteProject.cpp
Due: none

<context>.cbuild.yml extension properties (#822)
  .github/workflows/test_libs.yml
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTest/0.1.0/API/IConfig.h
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/packs/ARM/RteTest/0.1.0/Template/template.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/TemplateAndApi/ref/template_api.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/TemplateAndApi/template_api.cproject.yml
  tools/projmgr/test/data/TestSolution/TemplateAndApi/template_api.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
