Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[buildmgr] Update CMSIS version requirement for AC6 examples (#762)
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Asm/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CustomRTE.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Flags/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Library/project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/FVP_Simulation_Model.cprj
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/FVP_Simulation_Model.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/Target_Name.cprj
Due: buildmgr-cov

[buildmgr] Update CMSIS version requirement for AC6 examples
  tools/buildmgr/test/testinput/Examples/AC6/ArmAsm/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Asm/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/BranchProtection/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/CustomRTE.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Build_AC6PP/Simulation.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Flags/Target.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Library/project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Minimal/MyProject.cprj
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/Project.cprj
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_ns/FVP_Simulation_Model.cprj
  tools/buildmgr/test/testinput/Examples/AC6/TrustZone/CM33_s/FVP_Simulation_Model.cprj
  tools/buildmgr/test/testinput/Examples/AC6/Whitespace/Target_Name.cprj
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Replace %Instance% with instance index in .base@x.x.x files
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Updated upload/download GH actions version
  .github/workflows/buildmgr.yml
  .github/workflows/cpp-linter.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[projmgr] Re-add enum value to cbuild schema for backward compatibility
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[projmgr] Store context dependencies in cbuild-idx
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rename 'selected-by' to 'selected-by-pack' (#1263)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_invalid_content.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_with_disallowed_field.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_with_unmatched_vendor.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_lock_with_added_pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_cleanup.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.cproject.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_with_added_pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/pack_lock_with_version_range.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_reselect_selected-by-pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_with_version_range.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/ref/test.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/ref/test_pack_selection.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[rtemodel] Support running generators when there is a space in the path
  libs/crossplatform/test/src/UnitTests.cpp
  libs/rtemodel/src/RteGenerator.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/RteTestGen.params
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/noexe.sh
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/script.sh
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rename 'selected-by' to 'selected-by-pack' (#1263) (#1282)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_invalid_content.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_with_disallowed_field.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/cbuild_pack_with_unmatched_vendor.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/lock_pack_version.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/pack_lock_with_added_pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_cleanup.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.cproject.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_reselect_selected-by-pack.csolution.yml
  tools/projmgr/test/data/TestSolution/PackLocking/project_pack_lock_with_added_pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/cbuild_pack_frozen.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/pack_lock_with_version_range.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_reselect_selected-by-pack.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/ref/project_pack_lock_with_version_range.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/ref/test.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/ref/test_pack_selection.cbuild-pack.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[rtemodel] Support running generators when there is a space in the path (#1283)
  libs/crossplatform/test/src/UnitTests.cpp
  libs/rtemodel/src/RteGenerator.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/RteTestGen.params
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/noexe.sh
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/script.bat
  test/packs/ARM/RteTestGenerator/0.1.0/Generator with spaces/script.sh
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add component's external generator info into cbuild.yml
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/ns.Debug+CM0.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/TrustZone/s.Debug+CM0.cbuild-gen.yml
Due: projmgr-cov

[projmgr] Create `cbuild.yml` regardless of `convert` call's outcome
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

RteKernel to provide YmlTree parser
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/CMakeLists.txt
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rteutils/include/ISchemaChecker.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/test/src/XmlFormatterTest.cpp
  libs/xmltreeslim/include/XMLTreeSlim.h
  libs/xmltreeslim/include/XMLTreeSlimString.h
  libs/xmltreeslim/src/XMLTreeSlim.cpp
  libs/xmltreeslim/src/XMLTreeSlimString.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/xmltreeslim/test/XmlTreeSlimTest.cpp
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlTree.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  libs/ymltree/test/YmlTreeTest.cpp
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update YmlTreeTest.cpp
  libs/ymltree/test/YmlTreeTest.cpp
Due: none

RteKernel to provide YmlTree parser (#1286)
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/CMakeLists.txt
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rteutils/include/ISchemaChecker.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/test/src/XmlFormatterTest.cpp
  libs/xmltreeslim/include/XMLTreeSlim.h
  libs/xmltreeslim/include/XMLTreeSlimString.h
  libs/xmltreeslim/src/XMLTreeSlim.cpp
  libs/xmltreeslim/src/XMLTreeSlimString.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/xmltreeslim/test/XmlTreeSlimTest.cpp
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlTree.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  libs/ymltree/test/YmlTreeTest.cpp
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Check Dependabot updates on specific day
  .github/dependabot.yaml
Due: none

Check Dependabot updates on specific day (#1287)
  .github/dependabot.yaml
Due: none

Filter component bundles
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

Filter component bundles (#1294)
  libs/rtemodel/include/RteTarget.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

[projmgr] Fix pack filtering for `--load all` and `--load latest` options
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Add individual event file artifact (#783)
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none
