Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

CPRJ schema extensions
  tools/buildmgr/cbuildgen/config/CPRJ.xsd
Due: none

[buildmgr] Clean-up object file references and messages
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
Due: none

[buildmgr] Fix base path of pre-include files with config attribute
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/pack/Keil.PreIncludeTestPack.0.0.1.pack
  tools/buildmgr/test/integrationtests/pack/Keil.PreIncludeTestPack.0.0.2.pack
  tools/buildmgr/test/scripts/preinclude.sh
  tools/buildmgr/test/testinput/Examples/GCC/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Pre Include/Target.cprj
Due: none

Emscripten support
  libs/crossplatform/src/Emscripten/Utils.cpp
  libs/crossplatform/src/Emscripten/constants.h
Due: none

[projmgr] Refine and extend pack selection
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/Layer2/layer2.clayer.yml
  tools/projmgr/test/data/TestLayers/ref/testlayers.Release/testlayers.Release.cprj
  tools/projmgr/test/data/TestProject/test-api.cproject.yml
  tools/projmgr/test/data/TestProject/test-dependency.cproject.yml
  tools/projmgr/test/data/TestProject/test.cproject.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_and_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_multi_mounted_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_multi_variant.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_no_mounted_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_vendor_invalid.yml
  tools/projmgr/test/data/TestProject/test.cproject_correct_board_wrong_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_correct_device_wrong_board.yml
  tools/projmgr/test/data/TestProject/test.cproject_device_pname_unavailable_in_board.yml
  tools/projmgr/test/data/TestProject/test.cproject_device_unavailable_in_board.yml
  tools/projmgr/test/data/TestProject/test.cproject_device_unknown.yml
  tools/projmgr/test/data/TestProject/test.cproject_device_unknown_processor.yml
  tools/projmgr/test/data/TestProject/test.cproject_device_unknown_vendor.yml
  tools/projmgr/test/data/TestProject/test.cproject_mounted_device_differs_available_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_no_board_no_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_only_board.yml
  tools/projmgr/test/data/TestProject/test.cproject_only_board_no_pname.yml
  tools/projmgr/test/data/TestProject/test.cproject_schema_validation_failed.yml
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM0_pack_selection.cprj
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+TestGen_pack_selection.cprj
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Extend board's mounted device variant handling
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test.cproject_board_device_variant.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_multi_variant_and_device.yml
  tools/projmgr/test/data/TestProject/test.cproject_mounted_device_differs_available_device.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Extend board's mounted device variant handling
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test.cproject_board_device_variant.yml
  tools/projmgr/test/data/TestProject/test.cproject_board_multi_variant_and_device.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Extend processor options handling in both build and target types
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/TestProject2/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr1

[buildmgr] Fix AC6 and GCC compiler options for Cortex-M33 with FPU and no DSP. (#147)
  tools/buildmgr/cbuildgen/config/AC6.6.16.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
Due: none

[buildmgr] Fix AC6 and GCC compiler options for Cortex-M33 with FPU and no DSP
  tools/buildmgr/cbuildgen/config/AC6.6.16.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
Due: none

Added "CMSIS-Toolbox" overview documentation
  tools/README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/images/CMSIS-Toolbox-Overview.png
Due: projmgr1

[projmgr] Select user provided linker script
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/linker.sct
  tools/projmgr/test/data/TestProject/test_linker_script.cprj
  tools/projmgr/test/data/TestProject/test_linker_script.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Overall documentation structure for CMSIS-Toolbox added
  tools/README.md
  tools/packchk/docs/packchk.md
  tools/packgen/docs/packgen.md
  tools/toolbox/README.md
  tools/toolbox/docs/installation.md
Due: packchk1

Create cbuild.md
  tools/buildmgr/docs/cbuild.md
Due: none

[projmgr] Rework component variant automatic selection (#150)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_variant1.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_variant2.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_variant3.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Minor corrections
  tools/buildmgr/README.md
  tools/buildmgr/docs/cbuild.md
Due: none

CMSIS-Toolbox Installation - added content
  tools/projmgr/docs/Manual/YML-Format.md
Due: projmgr1

corrections to the Installation
  tools/README.md
  tools/packchk/docs/README.md
  tools/packgen/docs/README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/toolbox/docs/installation.md
Due: packchk1, projmgr1

Update cbuild.md
  tools/buildmgr/docs/cbuild.md
Due: none

[projmgr] Rework component variant automatic selection
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_variant1.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_variant2.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_variant3.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[buildmgr] Update release notes and versions (#151)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

[buildmgr] Update release notes and versions (#151) (#197)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cbuild_install.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Extend pack selection with pack path support
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Open door to vendor specific data addon
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr1

[projmgr] Select exact matched component identifier (#152)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_multiple_matches1.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_multiple_matches2.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Select exact matched component identifier
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_multiple_matches1.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_multiple_matches2.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Support IAR C/C++ Compiler V8.50.6.265/W32 for ARM
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
Due: none

[buildmgr] Update release notes and versions (#153)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

[buildmgr] Update release notes and versions
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.2.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/config/setup
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Update buildmgr documentation for release 0.10.5
  buildmgr/0.10.5/build_revisionHistory.html
  buildmgr/0.10.5/cbuild_install.html
  buildmgr/0.10.5/cmsis.js
Due: none

[buildmgr] Update cpackget utility v0.3.0 (#156)
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Installation for Windows added
  tools/toolbox/docs/installation.md
Due: none

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
