Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Add 'description:' to cbuild-idx.yml (#846)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr-cov

Add 'description:' to cbuild-idx.yml
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr-cov

cbuild-idx listing 'errors' & 'packs-missing' status report
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+Gen.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test_no_device_name.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix device attributes mapping (#845) (#1399)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/DeviceAttributes/mve/mve.cproject.yml
Due: projmgr-cov

Apply suggestions from code review
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Cortex-M52 experimental (#1394)
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Handling of relative paths with variables
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

cbuild-idx listing 'errors' & 'packs-missing' status report (#1408)
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/project+Gen.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject1/ref/test_no_device_name.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Updated cbuild-idx schema to accept 'error' & 'packs-missing' node (#850)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix for issue #1356 (#849)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Updated cbuild-idx schema to accept 'error' & 'packs-missing' node (#850) (#1411)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Handling of relative paths with variables (#1409)
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix for issue #1356 (#849) (#1410)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Accept `select-by` in *.cbuild-pack.yml for backward compatibility
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/PackLocking/selected-by.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/PackLocking/selected-by.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `cdefault` to *.cbuild-idx.yml schema
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Improved help text (#854)
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Improved help text
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Run schema check over generated files
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Run convert error code on multiple errors
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  .github/workflows/buildmgr.yml
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

Update codecov version
  .github/workflows/projmgr.yml
Due: none

Update projmgr.yml
  .github/workflows/projmgr.yml
Due: none

Updated codecov action version
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none
