Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Do not validate for http:// URLs in elements and attributes that are definitiely part of a different namespace
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/TestUrlHttps/TestVendor.TestUrlHttps.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Migrate workflows to windows-2022 due to upcoming deprecation of windows-2019
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Do not validate for http:// URLs in elements and attributes that are … (#2094)
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/TestUrlHttps/TestVendor.TestUrlHttps.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

Updated devtool build action (#1231)
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[json-rpc] Fetch `RpcInterface.h` from `csolution-rpc` repository
  tools/projmgr/.gitignore
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/RpcInterface.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
Due: projmgr-cov

Skip parsing copied-from to avoid redefinition (#1232)
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/variables-redefinition.csolution.yml
Due: projmgr-cov

Use updated devtools build action (#1234)
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

Skip parsing copied-from to avoid redefinition
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/variables-redefinition.csolution.yml
Due: projmgr-cov

Use updated devtools build action
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

[csolution-rpc] Update SHA
  tools/projmgr/CMakeLists.txt
Due: projmgr-cov

correct RpcHandler::SelectComponent signature (#1236)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

correct RpcHandler::SelectComponent signature (#1236) (#2107)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[projmgr] Expand `$SolutionDir()$` when used in cproject.yml `layer` node (#1239)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/variables.cproject.yml
  tools/projmgr/test/data/TestLayers/variables/solutionDir2.clayer.yml
Due: projmgr-cov

[projmgr] Expand `$SolutionDir()$` when used in cproject.yml `layer` node (#1239) (#2110)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/ref/variables/variables.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/variables.cproject.yml
  tools/projmgr/test/data/TestLayers/variables/solutionDir2.clayer.yml
Due: projmgr-cov

[projmgr] Handle `load` mode for `project-context`
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestRunDebug/core1.cproject.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

Use fixed version of python (#1241)
  .github/workflows/projmgr.yml
Due: none

[projmgr] Update versions (#1240)
  .github/workflows/projmgr.yml
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/debug-adapters.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

Use fixed version of python
  .github/workflows/projmgr.yml
Due: none

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/debug-adapters.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[csolution-rpc] Load all installed pack versions (#1246)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[csolution-rpc] Load all installed pack versions (#1246) (#2118)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[csolution-rpc] `GetComponentsTree`: fix packs filtering (#1247)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[csolution-rpc] `GetComponentsTree`: fix packs filtering (#1247) (#2119)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Update cdefault.yml
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

Update cdefault.yml (#2120)
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

[csolution-rpc] Tolerate component selection errors
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestRpc/minimal.cproject.yml
  tools/projmgr/test/data/TestRpc/minimal.csolution.yml
  tools/projmgr/test/data/TestRpc/unknown-component.cproject.yml
  tools/projmgr/test/data/TestRpc/unknown-component.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
Due: projmgr-cov

[csolution-rpc] Handle content-length header CRLF line endings for LSP compliance
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/CrossPlatformUtils.cpp
  libs/crossplatform/src/Darwin/constants.h
  libs/crossplatform/src/Emscripten/constants.h
  libs/crossplatform/src/Linux/constants.h
  libs/crossplatform/src/Windows/constants.h
  tools/projmgr/include/ProjMgrRpcServer.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov
