Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Accept `packs` node in cproject and clayer files (#422)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/packs.clayer.yml
  tools/projmgr/test/data/TestLayers/packs.cproject.yml
  tools/projmgr/test/data/TestLayers/packs.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Align RTE target directory name
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
Due: projmgr-cov

[projmgr] Accept `packs` node in cproject and clayer files
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/packs.clayer.yml
  tools/projmgr/test/data/TestLayers/packs.cproject.yml
  tools/projmgr/test/data/TestLayers/packs.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Check component file pointer
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Decrease severity when variables for layer paths are not defined (#423)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/variables-notdefined.cproject.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Decrease severity when variables for layer paths are not defined
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/variables-notdefined.cproject.yml
  tools/projmgr/test/data/TestLayers/variables-notdefined.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add support for IAR linker script extension `.icf` (#427)
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `--clayer-path` option for list layers (#426)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/searchpath.cproject.yml
  tools/projmgr/test/data/TestLayers/searchpath.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `--clayer-path` option for list layers
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/searchpath.cproject.yml
  tools/projmgr/test/data/TestLayers/searchpath.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add support for IAR linker script extension `.icf`
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Archive test results on push event
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

RTE Model refactoring: preparation (#424)
  libs/rtemodel/include/RteAttributes.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteAttributes.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteExample.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteChk.cpp
  libs/rtemodel/test/src/RteChk.h
  libs/rtemodel/test/src/RteChkMain.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
Due: buildmgr-cov

RTE Model refactoring: preparation
  libs/rtemodel/include/RteAttributes.h
  libs/rtemodel/include/RteExample.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteAttributes.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteExample.cpp
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/CMakeLists.txt
  libs/rtemodel/test/src/RteChk.cpp
  libs/rtemodel/test/src/RteChk.h
  libs/rtemodel/test/src/RteChkMain.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
  tools/buildmgr/cbuild/src/CbuildLayer.cpp
Due: buildmgr-cov

[projmgr] Add `--verbose` option for `list layers` messages
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix CodeQL warnings in SVDConv and PackChk
  tools/packchk/include/GatherCompilers.h
  tools/packchk/src/PackOptions.cpp
  tools/svdconv/SVDConv/src/SvdOptions.cpp
  tools/svdconv/SVDModel/include/SvdItem.h
  tools/svdconv/SVDModel/include/SvdTypes.h
  tools/svdconv/SVDModel/src/SvdCExpression.cpp
  tools/svdconv/SVDModel/src/SvdDerivedFrom.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdDimension.cpp
  tools/svdconv/SVDModel/src/SvdEnum.cpp
  tools/svdconv/SVDModel/src/SvdField.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdPeripheral.cpp
  tools/svdconv/SVDModel/src/SvdTypes.cpp
  tools/svdconv/SVDModel/src/SvdUtils.cpp
Due: packchk-cov, svdconv-cov

Run packchk/svdconv tests on rte model changes
  .github/workflows/packchk.yml
  .github/workflows/svdconv.yml
Due: none

Run packchk/svdconv tests on rte model changes (#680)
  .github/workflows/packchk.yml
  .github/workflows/svdconv.yml
Due: none

[buildmgr] Add MultiTargetIARTests to integration tests
  .github/workflows/buildmgr.yml
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/integrationtests/src/MultiTargetIARTests.cpp
  tools/buildmgr/test/scripts/setup_test.sh
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0P.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM0P_MPU.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM1.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM23.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM23_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM3.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_DSP_FP_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM33_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM35P.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM35P_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM35_DSP_FP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM35_DSP_FP_TZ.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM4.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM4_FP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM55.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_DP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM7_SP.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MultiTarget.CM85.cprj
  tools/buildmgr/test/testinput/MultiTargetIAR/MyMain.c
Due: buildmgr-cov

Add Star-MC1 flags for Arm Compiler 6.18
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
Due: buildmgr-cov

[svdconv] Removed nullptr check for new-ed object (CodeQL Warning)
  tools/svdconv/SVDConv/src/SVDConv.cpp
Due: svdconv-cov

CodeQL: Update GH action.
  .github/workflows/codeql-analysis.yml
Due: none

CodeQL: Update GH action to run static analysis
  .github/workflows/codeql-analysis.yml
Due: none

Update CLI to match parser
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
Due: buildmgr-cov

[packchk] Rework Message M396
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/SemVerTest/Arm.SemVerTest_DFP.pdsc
Due: packchk-cov

Updated and streamlined documentation
  tools/README.md
  tools/buildmgr/README.md
  tools/buildmgr/cbuildgen/ReadMe.txt
  tools/buildmgr/docs/cbuild.md
  tools/cpackget/docs/cpackget.md
  tools/packchk/README.md
  tools/packgen/README.md
  tools/projmgr/README.md
  tools/svdconv/SVDConv/README.md
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[rteutils] Escape `(` `)` `+` symbols when processing wildcards (#440)
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

[projmgr] Add `--debug` option for increased verbosity (#443)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update help section with new CLI
  tools/buildmgr/cbuildgen/src/CbuildGen.cpp
Due: buildmgr-cov

[projmgr] Add `for-board` and `for-device` nodes in clayers (#438)
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/variables/target1.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target3.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[rteutils] Escape `(` `)` `+` symbols when processing wildcards
  libs/rteutils/src/WildCards.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
Due: none

[projmgr] Add `--debug` option for increased verbosity
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `for-board` and `for-device` nodes in clayers
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/variables/target1.clayer.yml
  tools/projmgr/test/data/TestLayers/variables/target3.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov
