Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Updated codecov action version
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] csolution usage of local_repository.pidx packs #1430
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/local_packs/A/ARM.RteTestRequired.pdsc
  test/local_packs/L/LocalVendor.LocalPack.pdsc
  test/local_packs/R/ARM.RteTestRequiredRecursive.pdsc
  test/local_packs/S/PreInclude/MyLocalPreInclude.c
  test/local_packs/S/PreInclude/MyLocalPreInclude.h
  test/local_packs/S/PreInclude/MyPreInclude.h
  test/local_packs/S/SomeVendor.RteTest.pdsc
  test/packs/.Local/local_repository.pidx
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] csolution usage of local_repository.pidx packs #1430 (#1436)
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rtemodel/test/src/RteModelTestConfig.cpp
  libs/rtemodel/test/src/RteModelTestConfig.h
  test/local_packs/A/ARM.RteTestRequired.pdsc
  test/local_packs/L/LocalVendor.LocalPack.pdsc
  test/local_packs/R/ARM.RteTestRequiredRecursive.pdsc
  test/local_packs/S/PreInclude/MyLocalPreInclude.c
  test/local_packs/S/PreInclude/MyLocalPreInclude.h
  test/local_packs/S/PreInclude/MyPreInclude.h
  test/local_packs/S/SomeVendor.RteTest.pdsc
  test/packs/.Local/local_repository.pidx
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

[projmgr] csolution usage of local_repository.pidx packs #1430 (pack req)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] csolution usage of local_repository.pidx packs #1430 (pack req) (#1437)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Inherit token on workflow_call
  .github/workflows/nightly.yml
Due: none

Make workflow manually runnable
  .github/workflows/test_libs.yml
Due: none

Bugfix: decrease memory footprint when parsing pdsc files (#867)
  libs/rtemodel/src/RteKernel.cpp
Due: none

Bugfix: decrease memory footprint when parsing pdsc files (#867) (#1441)
  libs/rtemodel/src/RteKernel.cpp
Due: none

PackRegistry tests improvements
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

PackRegistry tests improvements (#1447)
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Improved defines list calculation to only match key
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/test/integrationtests/src/CBuildTestFixture.cpp
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File1.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File2.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File3.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File4.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/Project.cprj
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/File1.c
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/File2.c
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/File3.c
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/File4.c
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/Project.cprj
Due: buildmgr-cov

[projmgr] Initial implementation of `executes` nodes
  external/yaml-cpp.patch
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/Executes/error.csolution.yml
  tools/projmgr/test/data/TestSolution/Executes/project/project.cproject.yml
  tools/projmgr/test/data/TestSolution/Executes/ref/solution.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/Executes/solution.csolution.yml
  tools/projmgr/test/data/TestSolution/invalid_keys_test.cbuild-set.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

[projmgr] Expose crash when running csolution convert (#1442)
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Src/RteTestConfig.c
  test/packs/ARM/RteTestGenerator/0.1.0/Templates/RteTest.gpdsc.template
  tools/projmgr/test/data/TestSolution/TestProject3_1/TestProject3_1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Fix missing CXX file flag
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project1/CMakeLists.txt.ref
Due: buildmgr-cov

[rtemodel] Align implementation with specification
  libs/rtemodel/src/RtePackage.cpp
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
Due: none

[projmgr] Expand `$SolutionDir()$` in `variables`
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Debug+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release+TEST_TARGET.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.clayer.yml
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType1+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType1.cprj
  tools/projmgr/test/data/TestLayers/ref/variables/variables.BuildType2+TargetType2.cprj
  tools/projmgr/test/data/TestLayers/variables.cproject.yml
  tools/projmgr/test/data/TestLayers/variables.csolution.yml
  tools/projmgr/test/data/TestLayers/variables/solutionDir.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Reverting changes in the example to fix acceptance tests
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File1.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File2.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File3.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/File4.c
  tools/buildmgr/test/testinput/Examples/AC6/NestedGroups/Project.cprj
Due: buildmgr-cov

Remove include file category type.
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Update UnitTests.cpp
  libs/crossplatform/test/src/UnitTests.cpp
Due: none
