Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Cache arm-gcc for tests job
  .github/workflows/buildmgr.yml
Due: none

GitHub: Cache gcc-arm installer
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
Due: none

GitHub: Don't run workflows for changes in docs
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  tools/projmgr/docs/Template/MyProject/.clangd
Due: projmgr-cov

[buildmgr] Decrease minimum GCC version for alignment with vcpkg
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/buildmgr/test/testinput/Examples/GCC/AccessSequence/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Asm/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/BranchProtection/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GCC/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Build_GPP/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/DupFilename/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/FlagOrder/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Minimal/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/NestedGroups/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/Pre Include/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/RelativePath/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/Build_AC6_GCC/CMakeLists.txt.ref
Due: buildmgr-cov

[projmgr] Update versions
  tools/projmgr/docs/Template/MyProject/MyProject.cproject.yml
  tools/projmgr/docs/Template/MySolution.csolution.yml
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/templates/{{ProjectName}}.cproject.yml
  tools/projmgr/templates/{{SolutionName}}.csolution.yml
Due: projmgr-cov

Merge test reports
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  scripts/merge_test_reports.py
  scripts/requirements.txt
Due: none

[buildmgr] Update versions and installer dependencies (#492)
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

[csolution] Add check to generator launch if execute file permission … (#491)
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/CMakeLists.txt
  libs/crossplatform/test/src/UnitTests.cpp
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/noexe.sh
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject3_2/TestProject3_2.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_2/main.c
  tools/projmgr/test/data/TestSolution/gen_noexe.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] PackChk should check for spaces in the name element of the <file> tag (#485) (#759)
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/test/data/FileNameHasSpace/Files/Test M3.dbgconf
  tools/packchk/test/data/FileNameHasSpace/Files/Test M3.pdf
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x 128.FLM
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x CMSIS.c
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x CMSIS.h
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x.h
  tools/packchk/test/data/FileNameHasSpace/Files/Test M30x.svd
  tools/packchk/test/data/FileNameHasSpace/Files/startup_Test M30x.s
  tools/packchk/test/data/FileNameHasSpace/Files/system_Test M30x.c
  tools/packchk/test/data/FileNameHasSpace/Files/system_Test M30x.h
  tools/packchk/test/data/FileNameHasSpace/TestVendor.FileNameHasSpacePack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[buildmgr] Update versions and installer dependencies
  tools/buildmgr/cbuildgen/config/AC5.5.6.7.cmake
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
Due: buildmgr-cov

[buildmgr] Relax running CMake toolchain check (#493)
  tools/buildmgr/cbuildgen/config/CMSIS-Build-Utils.cmake
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[csolution] Add check to generator launch if execute file permission … (#491) (#770)
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/crossplatform/test/CMakeLists.txt
  libs/crossplatform/test/src/UnitTests.cpp
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtemodel/include/RteGenerator.h
  libs/rtemodel/test/src/RteChkTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  test/packs/ARM/RteTestGenerator/0.1.0/Generator/noexe.sh
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject3_2/TestProject3_2.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_2/main.c
  tools/projmgr/test/data/TestSolution/gen_noexe.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Relax running CMake toolchain check
  tools/buildmgr/cbuildgen/config/CMSIS-Build-Utils.cmake
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

[packchk] Add xml validation for input PDSCs (#506)
  .gitignore
  .gitmodules
  CMakeLists.txt
  external/xerces-c.patch
  libs/xmlschemachecker/CMakeLists.txt
  libs/xmlschemachecker/include/XmlChecker.h
  libs/xmlschemachecker/src/XmlChecker.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.h
  libs/xmlschemachecker/src/XmlValidator.cpp
  libs/xmlschemachecker/src/XmlValidator.h
  libs/xmlschemachecker/test/CMakeLists.txt
  libs/xmlschemachecker/test/data/invalid.pdsc
  libs/xmlschemachecker/test/data/valid.pdsc
  libs/xmlschemachecker/test/src/XmlValidatorTest.cpp
  tools/packchk/CMakeLists.txt
  tools/packchk/README.md
  tools/packchk/include/CreateModel.h
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/test/data/schema.xsd
  tools/packchk/test/integtests/CMakeLists.txt
  tools/packchk/test/integtests/src/PackChkIntegTestEnv.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

GitHub: Don't run workflows for changes in docs (#761)
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  tools/projmgr/docs/Template/MyProject/.clangd
Due: projmgr-cov

prjmgr] Base files for config files are created unconditionally (#496)
  libs/rtemodel/src/RteProject.cpp
Due: none

RTE Model refactoring: (#494)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteChk.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  tools/packchk/src/CheckComponents.cpp
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/GatherCompilers.cpp
  tools/packchk/src/RteModelReader.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdModel.cpp
Due: packchk-cov, projmgr-cov, svdconv-cov

prjmgr] Base files for config files are created unconditionally (#496) (#775)
  libs/rtemodel/src/RteProject.cpp
Due: none

[packchk] Add xml validation for input PDSCs (#506) (#736)
  .gitignore
  .gitmodules
  CMakeLists.txt
  external/xerces-c.patch
  libs/xmlschemachecker/CMakeLists.txt
  libs/xmlschemachecker/include/XmlChecker.h
  libs/xmlschemachecker/src/XmlChecker.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.cpp
  libs/xmlschemachecker/src/XmlErrorHandler.h
  libs/xmlschemachecker/src/XmlValidator.cpp
  libs/xmlschemachecker/src/XmlValidator.h
  libs/xmlschemachecker/test/CMakeLists.txt
  libs/xmlschemachecker/test/data/invalid.pdsc
  libs/xmlschemachecker/test/data/valid.pdsc
  libs/xmlschemachecker/test/src/XmlValidatorTest.cpp
  tools/packchk/CMakeLists.txt
  tools/packchk/README.md
  tools/packchk/include/CreateModel.h
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/test/data/schema.xsd
  tools/packchk/test/integtests/CMakeLists.txt
  tools/packchk/test/integtests/src/PackChkIntegTestEnv.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

RTE Model refactoring: (#494) (#776)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteDevice.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/test/src/RteChk.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlTreeItem.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  tools/packchk/src/CheckComponents.cpp
  tools/packchk/src/CheckConditions.cpp
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/src/GatherCompilers.cpp
  tools/packchk/src/RteModelReader.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/svdconv/SVDModel/src/SvdDevice.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
  tools/svdconv/SVDModel/src/SvdModel.cpp
Due: packchk-cov, projmgr-cov, svdconv-cov

Vendor name should allow '-' character (#495)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestProject/test.cproject_schema_validation_failed.yml
Due: projmgr-cov

Vendor name should allow '-' character (#495) (#777)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestProject/test.cproject_schema_validation_failed.yml
Due: projmgr-cov

Updated test Archive name to be in consistent with other tools (#728)
  .github/workflows/svdconv.yml
Due: none

Use XDG_CACHE_HOME for macOS
  libs/crossplatform/CMakeLists.txt
Due: none

Update README.md
  README.md
Due: none

/.cache missing
  libs/crossplatform/src/Darwin/constants.h
Due: none

wrong PR
  libs/crossplatform/src/Darwin/constants.h
Due: none

missing /.cache
  libs/crossplatform/src/Darwin/constants.h
Due: none

update cmake min version (#780)
  README.md
Due: none

revert
  libs/crossplatform/src/Darwin/constants.h
Due: none

Updated CMake version docs (#498)
  CMakeLists.txt
  tools/buildmgr/test/testinput/Examples/Mixed/Build_AC6_GCC/CMakeLists.txt.ref
Due: buildmgr-cov

Updated CMake version docs
  CMakeLists.txt
  tools/buildmgr/test/testinput/Examples/Mixed/Build_AC6_GCC/CMakeLists.txt.ref
Due: buildmgr-cov

Use XDG_CACHE_HOME for macOS (#779)
  libs/crossplatform/CMakeLists.txt
Due: none

Add issue templates (#661)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Updated documentation to reflect CMSIS-Toolbox 1.5.0 release
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/Proposals - OutofScope.md
  tools/projmgr/docs/Manual/RefApp-Framework.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov
