Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - "**/test/**"
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Address review comment
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Add debugger `device-settings` support to `cbuild-run` generation
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only-multicore+CM0.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Add `project` optional node to generated cbuild-run `output` files
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/WestSupport/ref/solution+CM0.cbuild-run.yml
Due: projmgr-cov

Add `debug-sequences-conf` `trace-setup` in cbuild-run files
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add `debug-sequences-conf` `trace-setup` in cbuild-run
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Fix MLOps documentation links
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Fix MLOps documentation links (#2525)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

ctrace and ctrace-run schema drafts
  tools/projmgr/schemas/ctrace-run.schema.json
  tools/projmgr/schemas/ctrace.schema.json
Due: projmgr-cov

Update CodeQL action versions in workflow
  .github/workflows/codeql-analysis.yml
Due: none

Added Infineon_Device_Configurator and InfineonMcuConfigWizard (MOTIX and LITIX devices) (
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

[csolution/RTE Model] User output for component selection is misleading
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Syntax
  libs/rtemodel/include/RteCondition.h
Due: none

Adjust preprocessor arguments for compile macros generation
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Output formatting
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Address CMSIS-Dev code review
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[csolution/RTE Model] User output for component selection is misleading (#2529)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/src/RteCondition.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Renamed generator after alignment with ARM removed bat file ending from generator scripts reference
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

Address review finding
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Refactor preprocessing arguments across toolchain configs
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Preserve the expected cgen path when the generated layer is absent
  tools/projmgr/src/ProjMgrExtGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Allow board layer matching without a selected device
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Apply copilot suggestion
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

RPC `DiscoverLayers`: consider layers from all packs
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestLayers/config-discover-all-packs.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Add `memory.pname` into input target `type` node
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

Update CodeQL upload action version to v4.37.3
  .github/workflows/scorecard.yml
Due: none

Upgrade CodeQL action versions in workflow
  .github/workflows/codeql-analysis.yml
Due: none

Support custom RAM settings for programming algorithms
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Add optional `ram-start` and `ram-size` to target `memory`
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov
