Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Update gcc_linker_script.ld
  tools/projmgr/templates/gcc_linker_script.ld
Due: projmgr-cov

[projmgr, buildmgr] Support GPDSC bundle
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/test/integrationtests/CMakeLists.txt
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/MultipleComponents.cprj
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest_Generated_Component1.c
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest_Generated_Component2.c
  tools/buildmgr/test/testinput/Examples/Mixed/GpdscBundle/RTE/_Target_1/RTE_Components.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestGenerator/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest.gpdsc
  tools/projmgr/test/data/TestGenerator/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest_Generated_Component1.c
  tools/projmgr/test/data/TestGenerator/MultipleComponents/RteTestGeneratorIdentifier/RteTestGen_ARMCM0/RteTest_Generated_Component2.c
  tools/projmgr/test/data/TestGenerator/multiple-components.cproject.yml
  tools/projmgr/test/data/TestGenerator/multiple-components.csolution.yml
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Address CodeQL finding
  tools/buildmgr/cbuild/src/CbuildProject.cpp
Due: buildmgr-cov

Update gcc_linker_script.ld (#981)
  tools/projmgr/templates/gcc_linker_script.ld
Due: projmgr-cov

[projmgr] Update `setup` handling
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
Due: projmgr-cov

[projmgr] Extend csolution to support multiple --context inputs
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

Define toolchain for cross build win32
  README.md
  cmake/TC-win32-posix.cmake
Due: none

Pin workflow action wretry-action version
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

Make value of "VERSION_PRE_RELEASE" optional
  cmake/ProjectVersionFromGitTag.cmake
Due: none

Remove temporary .clangd file from project template
  tools/projmgr/docs/Template/MyProject/.clangd
Due: projmgr-cov

Fixup version handling with pre-release qualifier.
  cmake/ProjectVersionFromGitTag.cmake
Due: none

Fixup: Add ref files
  tools/projmgr/test/data/TestSolution/FilenameCase/ref/Filename.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update and fix for the bug
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Cleanup
  tools/projmgr/test/data/TestSolution/FilenameCase/ref/Filename.Debug_AC6+RteTest_ARMCM3.cbuild.yml
Due: projmgr-cov

Fixup: Unittest
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Unit test to reproduce crash in ProjMgrYamlEmitter
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestSolution/FilenameCase/Filename.cproject.yml
  tools/projmgr/test/data/TestSolution/FilenameCase/filename.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Added test for context syntax i.e project+targettype.buildtype
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Validation test for relax ordered context
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Accept solution `description` node in parser validation
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

Fix RteChkTest.Summary after increasing components.
  libs/rtemodel/test/src/RteChkTest.cpp
Due: none

Fix RteChkTest.Summary after increasing components
  libs/rtemodel/test/src/RteChkTest.cpp
Due: none

Directories should be executable even if read-only
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/Darwin/Utils.cpp
  libs/crossplatform/src/Linux/Utils.cpp
  libs/crossplatform/src/Windows/Utils.cpp
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
