Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[projmgr] Improve `for-board` and `for-device` check in layer
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Improve console output in quiet mode
  tools/projmgr/include/ProjMgrLogger.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrLogger.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Remove CMake info message concerning registered vs running toolchain (#900)
  tools/buildmgr/cbuildgen/config/CMSIS-Build-Utils.cmake
Due: buildmgr-cov

[buildmgr] Remove CMake info message concerning registered vs running toolchain
  tools/buildmgr/cbuildgen/config/CMSIS-Build-Utils.cmake
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[projmgr] Add `clayers` for each `cbuild` context
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/variables/variables.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix relative `--output` option
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Restrict build and target types naming
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cprj
  tools/projmgr/test/data/TestProjectSetup/setup-test.cproject.yml
  tools/projmgr/test/data/TestProjectSetup/setup-test.csolution.yml
  tools/projmgr/test/data/TestSolution/invalid_contexts_schema.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/invalid_contexts_schema.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Refine `target-configurations` content
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
Due: projmgr-cov

Add NXP MCUXpresso Config tools generator to global generators
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

Add newline to end of file global.generator.yml
  tools/projmgr/templates/global.generator.yml
Due: projmgr-cov

[projmgr] Fix base directory for global generator run
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/global.generator.yml
  tools/projmgr/test/data/ExternalGenerator/wrong-gendir.generator.yml
Due: projmgr-cov

Windows: discover generator's file extension (#910)
  libs/rtemodel/src/RteGenerator.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
Due: none

Windows: discover generator's file extension (#1511)
  libs/rtemodel/src/RteGenerator.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
Due: none

Windows: discover generator's file extension: bugfixes
  .github/workflows/projmgr.yml
  libs/rtemodel/src/RteGenerator.cpp
Due: none

Windows: discover generator's file extension: bugfixes (#1512)
  .github/workflows/projmgr.yml
  libs/rtemodel/src/RteGenerator.cpp
Due: none

[projmgr] Fix `groups` `files` path formatting
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild-gen.yml
Due: projmgr-cov

[projmgr] Fix missing device info due to generator import file processing
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/board.csolution.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+Board.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[RteModel] Improve support for csolution pdsc element
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteModel.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Templates/board1.csolution.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Templates/board2.csolution.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Templates/board3.csolution.yml
Due: none

[projmgr] Add `define-asm` for assembly files
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr-cov

Restrict --context-set to one identical target-type and only one build-type per context
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/extgen.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/test_restricted_contexts.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/test_restricted_contexts.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Remove unused local variables
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov
