Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

[projmgr] Added regex for for-type and not-for-type
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Allow all characters in target and build context names except [.+ ] (#234)
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

fix index.pidx url
  tools/cpackget/docs/cpackget.md
Due: none

[projmgr, buildmgr] Rework pack 'path' node/attribute handling
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/testinput/Invalid.cpinstall
  tools/buildmgr/test/testinput/ModelTest/PacklistProject.cpinstall
  tools/buildmgr/test/testinput/ModelTest/PacklistProject.cpinstall.ref
  tools/buildmgr/test/testinput/ModelTest/ValidTarget.cpinstall
  tools/buildmgr/test/testinput/Test.cpinstall
  tools/buildmgr/test/testinput/Testpack.cpinstall
  tools/buildmgr/test/testinput/pack.cpinstall
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Allow all characters in target and build context names except [.+ ]
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

Address codecov findings
  tools/buildmgr/cbuild/include/CbuildProject.h
  tools/buildmgr/cbuild/src/CbuildKernel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/test/testinput/PacklistLocal.cprj
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/buildmgr/test/unittests/src/ModelTests.cpp
Due: none

[projmgr, buildmgr] Rework pack 'path' node/attribute handling
  tools/buildmgr/cbuild/include/CbuildProject.h
  tools/buildmgr/cbuild/include/CbuildUtils.h
  tools/buildmgr/cbuild/src/CbuildKernel.cpp
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildProject.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
  tools/buildmgr/test/testinput/Invalid.cpinstall
  tools/buildmgr/test/testinput/ModelTest/PacklistProject.cpinstall
  tools/buildmgr/test/testinput/ModelTest/PacklistProject.cpinstall.ref
  tools/buildmgr/test/testinput/ModelTest/ValidTarget.cpinstall
  tools/buildmgr/test/testinput/PacklistLocal.cprj
  tools/buildmgr/test/testinput/Test.cpinstall
  tools/buildmgr/test/testinput/Testpack.cpinstall
  tools/buildmgr/test/testinput/pack.cpinstall
  tools/buildmgr/test/unittests/CMakeLists.txt
  tools/buildmgr/test/unittests/src/ModelTests.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

replace csettings.yml with cdefaults.yml
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

[projmgr] make optimize and warnings types more generic
  tools/projmgr/schemas/common.schema.json
Due: projmgr1

[buildmgr] Update cbuild wrapper and release versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/cbuildgen/scripts/cbuild.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[toolbox] Update versions
  .github/workflows/toolbox.yml
  tools/toolbox/docs/CMSIS-Toolbox.md
Due: none

[buildmgr] Update AC6 test references
  tools/buildmgr/test/testinput/Examples/AC6/Flags/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/AC6/RelativePath/CMakeLists.txt.ref
Due: none

[buildmgr] Fix packlist generation (#239)
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
Due: none

[buildmgr] Fix packlist generation
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuild/src/CbuildUtils.cpp
Due: none

[projmgr] Remove trailing whitespace from overview
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

[projmgr] Remove duplicate section from overview
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

[projmgr] Remove duplicate section from overview (#366)
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

Reworked cpackget documentation, minor corrections to installation.md
  tools/cpackget/docs/cpackget.md
  tools/toolbox/docs/installation.md
Due: none

replaced term "central CMSIS-Pack directory" with "CMSIS-Pack root directory:
  tools/cpackget/docs/cpackget.md
Due: none

replaced "central CMSIS-Pack directory" with "CMSIS-Pack root directory"
  tools/toolbox/docs/installation.md
Due: none

Corrected minor issues
  tools/cpackget/docs/cpackget.md
Due: none

Reworked cpackget documentation, minor corrections to installation.md (#368)
  tools/cpackget/docs/cpackget.md
  tools/toolbox/docs/installation.md
Due: none

[projmgr] Fix RteValueAdjuster initialization (#241)
  tools/projmgr/src/ProjMgrXmlParser.cpp
Due: projmgr1

[projmgr] Fix RteValueAdjuster initialization
  tools/projmgr/src/ProjMgrXmlParser.cpp
Due: projmgr1

PackChk: packchk semantic version issue Git #329 (#240)
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/SemVerTest/Arm.SemVerTest_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

Manual corrections
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Manual Updates to reflect current status
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

PackChk: packchk semantic version issue Git #329
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/SemVerTest/Arm.SemVerTest_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

(SDCMSIS-1878) packchk: Add a check for using forward slashes in <license> element Github#373
  tools/packchk/src/ValidateSyntax.cpp
  tools/packchk/test/data/TestLicense/TestVendor.TestPackLicense.pdsc
  tools/packchk/test/data/TestLicense/licenses/license.dat
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
