Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

[cbuild-run] Debugger integration refinements
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.cproject.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

Strip released binaries (#1212)
  .github/matrix_includes_packchk.json
  .github/matrix_includes_svdconv.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

[cbuild-run] Rework gdbserver ports and processors order
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[projmgr] Add `link-time-optimize` handling
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLTO/main.c
  tools/projmgr/test/data/TestLTO/project.cproject.yml
  tools/projmgr/test/data/TestLTO/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov, buildmgr-cov

Strip released binaries
  .github/matrix_includes_packchk.json
  .github/matrix_includes_svdconv.json
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

[cbuild-run] Fix effective `datapatch` handling
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[cbuild-run] Fix effective `datapatch` handling (#2075)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild-gen-idx.schema.json
  tools/projmgr/schemas/cbuild-gen.schema.json
  tools/projmgr/schemas/cbuild-idx.schema.json
  tools/projmgr/schemas/cbuild-pack.schema.json
  tools/projmgr/schemas/cbuild-run.schema.json
  tools/projmgr/schemas/cbuild-set.schema.json
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/cgen.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
  tools/projmgr/schemas/generator.schema.json
Due: projmgr-cov

Use appropriate strip tool based on architecture and target (#1218)
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
Due: none

Use appropriate strip tool based on architecture and target
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
Due: none

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
  tools/buildmgr/test/scripts/postpackinstall.sh
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Move `debug-adapters.yml` to dedicated repository
  tools/projmgr/CMakeLists.txt
  tools/projmgr/templates/debug-adapters.yml
Due: projmgr-cov

[projmgr] Update test case `OutputDirsAbsolutePath`
  tools/projmgr/test/data/TestSolution/outdirs-absolute.csolution.yml
Due: projmgr-cov

[projmgr] Replace `Z:` with UNC path `\\non_existing_cmsis`
  tools/projmgr/test/data/TestSolution/outdirs-absolute.csolution.yml
Due: projmgr-cov

[projmgr] Uniform test expectation for all platforms
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Update test case `OutputDirsAbsolutePath`
  tools/projmgr/test/data/TestSolution/outdirs-absolute.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update the correct target-set images link (#1223)
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Update the correct target-set images link
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

[cbuild-run] Use case insensitive for debug adapters search
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

Do not validate for http:// URLs in elements and attributes that are definitiely part of a different namespace
  tools/packchk/src/CheckFiles.cpp
  tools/packchk/test/data/TestUrlHttps/TestVendor.TestUrlHttps.pdsc
Due: packchk-cov

[devtools] Fix `dbgconf` handling when not present in PDSC
  libs/rtemodel/src/RteProject.cpp
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/no-dbgconf.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Rpc development (#1200)
  .github/.cppcheck_suppressions
  .gitmodules
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRpcServer.h
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/RpcInterface.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/CMakeLists.txt
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ARMCM.dbgconf.base@0.0.2
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ac6_linker_script.sct.src
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/regions_RteTest_ARMCM0.h
  tools/projmgr/test/data/TestSolution/simple/RTE/_Debug_TEST_TARGET/RTE_Components.h
  tools/projmgr/test/data/TestSolution/simple/main.c
  tools/projmgr/test/data/TestSolution/simple/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestSolution/simple/project.cproject.yml
  tools/projmgr/test/data/TestSolution/simple/test+TEST_TARGET.cbuild-run.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/simple/test.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Rpc development (#1200) (#2098)
  .github/.cppcheck_suppressions
  .gitmodules
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrExtGenerator.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRpcServer.h
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/RpcInterface.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/CMakeLists.txt
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ARMCM.dbgconf
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ARMCM.dbgconf.base@0.0.2
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/ac6_linker_script.sct.src
  tools/projmgr/test/data/TestSolution/simple/RTE/Device/RteTest_ARMCM0/regions_RteTest_ARMCM0.h
  tools/projmgr/test/data/TestSolution/simple/RTE/_Debug_TEST_TARGET/RTE_Components.h
  tools/projmgr/test/data/TestSolution/simple/main.c
  tools/projmgr/test/data/TestSolution/simple/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestSolution/simple/project.cproject.yml
  tools/projmgr/test/data/TestSolution/simple/test+TEST_TARGET.cbuild-run.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-pack.yml
  tools/projmgr/test/data/TestSolution/simple/test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/simple/test.csolution.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[devtools] Fix `dbgconf` handling when not present in PDSC (#2097)
  libs/rtemodel/src/RteProject.cpp
  test/packs/ARM/RteTest_DFP/0.1.1/ARM.RteTest_DFP.pdsc
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/no-dbgconf.csolution.yml
  tools/projmgr/test/data/TestSolution/PackMetadata/ref/metadata.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
