Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Ignore empty CMSIS_COMPILER_ROOT
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

[projmgr] Fix cdefault/csolution reference format in cbuild-idx.yml
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestDefault/ref/empty/empty.cbuild-idx.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release.cbuild.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Format relative paths in `misc` options
  libs/rtefsutils/include/RteFsUtils.h
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences1.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM0.cprj
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences2.Release+CM3.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.csolution.yml
Due: projmgr-cov

Fix finding in darwin tests
  libs/rtefsutils/src/RteFsUtils.cpp
Due: none

[projmgr] Add created-* nodes to valid keys
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

[projmgr] Refine regions header file generation triggering
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/LinkerOptions/layer/linker.clayer.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/linker.cproject.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cprj
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

`output:` revised, now also possible in `setup:` node `output-type:` removed (now covered by `output:`)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Syntax of `define:` revised to `<symbol>: <value:>`
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Fixed the problem with the previous commit.
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Cleaned manual structure and inconsistencies
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

minor fixes
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Renamed `.cdefault.yml` to just `cdefault.yml`, minor manual clarifications
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[projmgr] Add `context-map` handling
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ContextMap/context-map.csolution.yml
  tools/projmgr/test/data/TestSolution/ContextMap/project1.cproject.yml
  tools/projmgr/test/data/TestSolution/ContextMap/project2.cproject.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

PackChk: improved error reporting for invalid command line and when PACK.XSD has not been found. (#559) (#909)
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
Due: packchk-cov

Address CodeQL findings
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/test/src/ProjMgrUtilsUnitTests.cpp
Due: projmgr-cov

Clean build artifacts in out directory
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/test/unittests/src/BuildSystemGeneratorTests.cpp
Due: buildmgr-cov

Finalized YML format for upcoming 1.8.0 release
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/Overview.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr-cov

[projmgr] Update access sequences
  libs/rtefsutils/src/RteFsUtils.cpp
  libs/rtefsutils/test/src/RteFsUtilsTest.cpp
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/ref/test-access-sequences3.Release.cprj
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences1.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.cproject.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences3.cproject.yml
  tools/projmgr/test/data/TestSolution/outdirs.csolution.yml
Due: projmgr-cov

Address CodeQL findings
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Improvements in evaluating dependencies (#567)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
Due: none

Improvements in evaluating dependencies (#567) (#924)
  libs/rtemodel/include/RteCondition.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
Due: none

Improvements in evaluating dependencies (#569)
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Improvements in evaluating dependencies (#569) (#925)
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Cleaned: Access Sequences; clarified usage of `(context)`
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Access Sequence consistency: $SolutionDir$ -> $SolutionDir()$
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

Improved `context:` documentation
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[buildmgr] Group GCC libraries for rescanning
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
