Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[csolution-rpc] Handle content-length header CRLF line endings for LSP compliance
  libs/crossplatform/include/CrossPlatformUtils.h
  libs/crossplatform/src/CrossPlatformUtils.cpp
  libs/crossplatform/src/Darwin/constants.h
  libs/crossplatform/src/Emscripten/constants.h
  libs/crossplatform/src/Linux/constants.h
  libs/crossplatform/src/Windows/constants.h
  tools/projmgr/include/ProjMgrRpcServer.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Smart pack filter update to keep component selection (#1251)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Smart pack filter update to keep component selection (#1251) (#2123)
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

[csolution-rpc] Add `ValidateComponents` test cases (#1249)
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[csolution-rpc] Add `ValidateComponents` test cases (#1249) (#2125)
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[projmgr] Add support for custom configurations for debuggers
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestRunDebug/custom.cproject.yml
  tools/projmgr/test/data/TestRunDebug/custom.csolution.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

fix map file with space in path for GCC
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
Due: buildmgr-cov

fix mapfile with space in path
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

fix mapfile with space in path
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

fix map file with spaces
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
Due: buildmgr-cov

fix map file with spaces
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

fix map file with space in path for GCC (#2129)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
  tools/buildmgr/cbuildgen/config/CLANG_TI.4.0.1.cmake
  tools/buildmgr/cbuildgen/config/GCC.10.3.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

LoadPacks without context (#1255)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Relocate `*.cbuild-run.yml` and `*.cbuild.yml` to out directory
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrCbuildRun.cpp
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+Board.cbuild.yml
  tools/projmgr/test/data/ExternalGenerator/ref/SingleCore/single-core.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestLayers/ref/config.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/empty-layer.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/no_compiler.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/select.cbuild-idx.yml
  tools/projmgr/test/data/TestLayers/ref/variables-notdefined.cbuild-idx.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_AC6+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestProjectSetup/ref/setup-test.Build_GCC+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/custom+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW2.cbuild.yml
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW3.cbuild-run.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/ref/components.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ComponentSources/ref/versions.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/Executes/ref/solution.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/PackMissing/ref/missing_pack_specific_context.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

LoadPacks without context (#1255) (#2130)
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fix CI findings
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
Due: projmgr-cov

Bugfix: do not write component's rtedir to cbuild.yml (#1256)
  tools/projmgr/src/ProjMgrCbuild.cpp
Due: projmgr-cov

Bugfix: do not write component's rtedir to cbuild.yml (#1256) (#2132)
  tools/projmgr/src/ProjMgrCbuild.cpp
Due: projmgr-cov

[buildmgr] Add Cortex-M52 support to IAR toolchain configuration
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Refactor csolution process components (#1258)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Add support for `image-only` solutions
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrCbuildIdx.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/ImageOnly/image-only.csolution.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild-run.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only+CM0.cbuild.yml
  tools/projmgr/test/data/ImageOnly/ref/image-only.cbuild-idx.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Refactor csolution process components
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Ensure `list target-sets` accepts `image-only` solutions
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Add AC6 ASM flags for dependency rules generation (#1265)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

[buildmgr] Add AC6 ASM flags for dependency rules generation (#1265) (#2144)
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

Rpc protocol enhancements
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Rpc protocol enhancements (#2145)
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteItemTest.cpp
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrRpcServerData.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServerData.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Unify functions to strip prefix and suffix (#1266)
  libs/rtemodel/include/RteBoard.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov
