Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Align `telnet` test case with debug adapter registry
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Remove Star-MC3 from AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
Due: buildmgr-cov

Add support for Star-MC3 and correct the support of Cortex-M52
  tools/buildmgr/cbuildgen/config/AC6.6.16.2.cmake
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Add support for Microchip XC32 toolchain in the CMSIS toolbox
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov, buildmgr-cov

[projmgr] Allow redefining `load` mode and `load-offset` of output images (#1374)
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

[projmgr] Allow redefining `load` mode and `load-offset` of output images
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/ref/run-debug+TestHW.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/run-debug.csolution.yml
Due: projmgr-cov

[projmgr] Fix `telnet` port numbering
  tools/projmgr/include/ProjMgrRunDebug.h
  tools/projmgr/src/ProjMgrRunDebug.cpp
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Improve errors/warnings around component validation (#1384)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Improve errors/warnings around component validation (#1384) (#2319)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

Enhanced RPC tests for packs and components (#1383)
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestLayers/packs.clayer.yml
  tools/projmgr/test/data/Validation/dependencies.csolution.yml
  tools/projmgr/test/data/Validation/missing-component.cproject.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Enhanced RPC tests for packs and components
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/data/TestLayers/packs.clayer.yml
  tools/projmgr/test/data/Validation/dependencies.csolution.yml
  tools/projmgr/test/data/Validation/missing-component.cproject.yml
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Hover info on Setup node and correct error type (#1385)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Hover info on Setup node and correct error type
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Update Microchip XC support based on review comments
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/templates/xc_linker_script.ld.src
Due: projmgr-cov, buildmgr-cov

Fix addressing copilot findings
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/templates/xc_linker_script.ld.src
Due: projmgr-cov, buildmgr-cov

[Security] Updated token permissions (#1389)
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

[Security] Updated token permissions (#1389) (#2326)
  .github/workflows/buildmgr.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/scorecard.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
Due: none

Add permissions for write access in docs job (#1390)
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/svdconv.yml
  .github/workflows/unit_test_results.yml
Due: none

Implementation for GetVariables() RPC method
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Add permissions for write access in docs job (#1390) (#2327)
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/svdconv.yml
  .github/workflows/unit_test_results.yml
Due: none

Update test ignore pattern in codecov.yml
  codecov.yml
Due: none

Fix ignore pattern syntax in codecov.yml
  codecov.yml
Due: none

Implementation for GetVariables() RPC method (#2328)
  codecov.yml
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Process pack requirements for a context only once (#1392)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Process pack requirements for a context only once (#1392) (#2329)
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Implementing logic to obtain path to be passed to -mdfp option of the compiler
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Refine MDFP logic
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
Due: buildmgr-cov

Add support for Microchip XC32 toolchain in the CMSIS toolbox (#2310)
  tools/buildmgr/cbuildgen/config/XC.5.0.0.cmake
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/templates/xc_linker_script.ld.src
Due: projmgr-cov, buildmgr-cov

[projmgr] Add support for `link: whole-archive` feature
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLinkLib/lib.a
  tools/projmgr/test/data/TestLinkLib/main.c
  tools/projmgr/test/data/TestLinkLib/project.cproject.yml
  tools/projmgr/test/data/TestLinkLib/solution.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
