Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Add `update-rte` command
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Added `rte:` directory control for cproject.yml files
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

`rte:` directory control in cproject.yml files, manual refinements
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr-cov

[projmgr] Enable verbose output of conditions evaluation
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `rte` `base-dir` node in `cproject`
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/ref/rtedir.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/rtedir.cproject.yml
  tools/projmgr/test/data/TestSolution/rtedir.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Fix `processor` handling in clayer
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences.clayer.yml
  tools/projmgr/test/data/TestAccessSequences/test-access-sequences3.cproject.yml
Due: projmgr-cov

[projmgr] Rework `cdefault` handling
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/templates/cdefault.yml
  tools/projmgr/test/data/TestDefault/cdefault.yml
  tools/projmgr/test/data/TestDefault/empty.csolution.yml
  tools/projmgr/test/data/TestDefault/multiple/cdefault.yaml
  tools/projmgr/test/data/TestDefault/multiple/cdefault.yml
  tools/projmgr/test/data/TestDefault/ref/empty/empty.cbuild-idx.yml
  tools/projmgr/test/data/TestDefault/wrong/cdefault.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add initial support for <licenseSet> elements to RTE model (#593)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

Add initial support for <licenseSet> elements to RTE model (#593) (#962)
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RtePackage.h
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RtePackage.cpp
  libs/rtemodel/src/RteTarget.cpp
Due: none

[projmgr] Refine yml schema check
  external/json-schema-validator.patch
  libs/ymlschemachecker/src/SchemaErrorHandler.cpp
  libs/ymlschemachecker/src/SchemaValidator.cpp
  libs/ymlschemachecker/test/src/SchemaChkTests.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[packchk] reviewed error messages (#590)
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[projmgr] Update load packs policy handling
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[packchk] reviewed error messages
  tools/packchk/src/CreateModel.cpp
  tools/packchk/src/PackChk.cpp
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/PackOptions.cpp
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk-cov

[projmgr] Extend `generators` parsing
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
Due: projmgr-cov

csolution does not use 'isDefaultVariant' of a component #740 (#598)
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/projects/RteTestM3/RteTestM3.cprj
  test/projects/RteTestM4/RteTestM4.cprj
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_empty_variant_CM0.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_empty_variant_CM3.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[projmgr] Update versions
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

[projmgr] Update versions (#969)
  tools/projmgr/schemas/cbuild.schema.json
  tools/projmgr/schemas/cdefault.schema.json
  tools/projmgr/schemas/clayer.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/schemas/cproject.schema.json
  tools/projmgr/schemas/csolution.schema.json
Due: projmgr-cov

csolution does not use 'isDefaultVariant' of a component (#968)
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  test/projects/RteTestM3/RteTestM3.cprj
  test/projects/RteTestM4/RteTestM4.cprj
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestProject/test_component_empty_variant_CM0.cproject.yml
  tools/projmgr/test/data/TestProject/test_component_empty_variant_CM3.cproject.yml
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: buildmgr-cov

using RteItem::GetLicenseSet; (#601)
  libs/rtemodel/include/RtePackage.h
Due: none

using RteItem::GetLicenseSet; (#601) (#972)
  libs/rtemodel/include/RtePackage.h
Due: none

Added test to validate target & build types
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] Update CMakeASM files (#605)
  tools/buildmgr/cbuildgen/config/CMakeASM/ARMClang-AS_ARM.cmake
  tools/buildmgr/cbuildgen/config/CMakeASM/ARMClang-AS_GNU.cmake
  tools/buildmgr/cbuildgen/config/CMakeASM/ARMClang-AS_LEG.cmake
  tools/buildmgr/cbuildgen/config/CMakeASM/CMakeAS_ARMCompiler.cmake.in
  tools/buildmgr/cbuildgen/config/CMakeASM/CMakeAS_GNUCompiler.cmake.in
  tools/buildmgr/cbuildgen/config/CMakeASM/CMakeAS_LEGCompiler.cmake.in
Due: buildmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
