Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

[projmgr] Fix CodeQL warning
  tools/projmgr/include/ProjMgrUtils.h
Due: projmgr-cov

[rtemodel] Fix local pack identifier
  libs/rtemodel/src/RteKernel.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
Due: none

Fixed linter findings
  libs/xmlschemachecker/src/XmlChecker.cpp
  libs/xmlschemachecker/src/XmlValidator.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/svdconv/SVDModel/src/SvdItem.cpp
Due: projmgr-cov, svdconv-cov

Update IAR.9.32.1.cmake
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

Shema validator (#716)
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/ISchemaChecker.h
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteError.h
  libs/rteutils/src/RteError.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/src/XMLTree.cpp
  libs/ymlschemachecker/CMakeLists.txt
  libs/ymlschemachecker/include/SchemaChecker.h
  libs/ymlschemachecker/include/SchemaError.h
  libs/ymlschemachecker/include/YmlSchemaChecker.h
  libs/ymlschemachecker/src/SchemaChecker.cpp
  libs/ymlschemachecker/src/YmlSchemaChecker.cpp
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.cpp
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.h
  libs/ymlschemachecker/src/YmlSchemaValidator.cpp
  libs/ymlschemachecker/src/YmlSchemaValidator.h
  libs/ymlschemachecker/test/CMakeLists.txt
  libs/ymlschemachecker/test/src/YmlSchemaChkTestEnv.cpp
  libs/ymlschemachecker/test/src/YmlSchemaChkTestEnv.h
  libs/ymlschemachecker/test/src/YmlSchemaChkTests.cpp
  libs/ymltree/CMakeLists.txt
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Run Docs job on push event
  .github/workflows/buildmgr.yml
Due: none

Shema validator (#1182)
  libs/rteutils/CMakeLists.txt
  libs/rteutils/include/ISchemaChecker.h
  libs/rteutils/include/RteConstants.h
  libs/rteutils/include/RteError.h
  libs/rteutils/src/RteError.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  libs/xmltree/include/XMLTree.h
  libs/xmltree/src/XMLTree.cpp
  libs/ymlschemachecker/CMakeLists.txt
  libs/ymlschemachecker/include/SchemaChecker.h
  libs/ymlschemachecker/include/SchemaError.h
  libs/ymlschemachecker/include/YmlSchemaChecker.h
  libs/ymlschemachecker/src/SchemaChecker.cpp
  libs/ymlschemachecker/src/YmlSchemaChecker.cpp
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.cpp
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.h
  libs/ymlschemachecker/src/YmlSchemaValidator.cpp
  libs/ymlschemachecker/src/YmlSchemaValidator.h
  libs/ymlschemachecker/test/CMakeLists.txt
  libs/ymlschemachecker/test/src/YmlSchemaChkTestEnv.cpp
  libs/ymlschemachecker/test/src/YmlSchemaChkTestEnv.h
  libs/ymlschemachecker/test/src/YmlSchemaChkTests.cpp
  libs/ymltree/CMakeLists.txt
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Add CPP linter job
  .github/.cppcheck_suppressions
  .github/cppcheck_googletest.cfg
  .github/workflows/cpp-linter.yml
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.cpp
Due: none

Update cpp-linter.yml
  .github/workflows/cpp-linter.yml
Due: none

Update YmlSchemaErrorHandler.cpp
  libs/ymlschemachecker/src/YmlSchemaErrorHandler.cpp
Due: none

Added config file on workflow trigger list"
  .github/workflows/cpp-linter.yml
Due: none

IAR single precision FPU error
  tools/buildmgr/cbuildgen/config/IAR.9.32.1.cmake
Due: buildmgr-cov

[projmgr] Add -S,--context-set option
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/novalid_context.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/all_contexts_test_with_AC6.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test_AC6.cbuild-set.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Remove testspace coverage
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
Due: none

[projmgr] Implemented -S,--context-set option
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/novalid_context.csolution.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/all_contexts_test_with_AC6.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test_AC6.cbuild-set.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cbuild_install.html
  buildmgr/main/cmsis.js
  buildmgr/main/cprj_types.html
  buildmgr/main/projectDescriptionSchema.html
Due: none

[csolution] fixed output type schema misalignment
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestProject/incomplete_output_type.cproject.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

Link to the report on the repo that ran the action
  .github/workflows/cpp-linter.yml
Due: none

Path conditions:
  packchk-cov: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: /test/.*, /docs/*
  packgen-cov: any of: tools/packgen, but not: /test/.*, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: /test/.*, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: /test/.*, /docs/*
