Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

SVDConv: fixed path divider, set to '/' for all OS (#338)
  tools/svdconv/SVDGenerator/include/SfrccInterface.h
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/SVDGenerator/src/SvdGenerator.cpp
Due: none

SVDConv: fixed path divider, set to '/' for all OS
  tools/svdconv/SVDGenerator/include/SfrccInterface.h
  tools/svdconv/SVDGenerator/src/SfrccInterface.cpp
  tools/svdconv/SVDGenerator/src/SvdGenerator.cpp
Due: none

SVDConv: Add system tests
  .github/workflows/svdconv.yml
  tools/svdconv/Test/systests/.gitignore
  tools/svdconv/Test/systests/.packs/skiplist.pidx
  tools/svdconv/Test/systests/requirements.txt
  tools/svdconv/Test/systests/svdtest.py
Due: none

SVDConv: Use absolute paths
  .github/workflows/svdconv.yml
  tools/svdconv/Test/systests/svdtest.py
Due: none

Print diff to stdout
  tools/svdconv/Test/systests/svdtest.py
Due: none

Run more test cases.
  .github/workflows/svdconv.yml
Due: none

Fix handling of backslashes in svd file names.
  tools/svdconv/Test/systests/svdtest.py
Due: none

QE-2919: New changes
  .github/matrix_includes_packchk.json
  .github/workflows/packchk.yml
  tools/packchk/CMakeLists.txt
Due: packchk1

PLM of config files: use .base .instead of current
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

Adding tar files for Linux and Macs Changing code coverage zip filename as code-coverage.zip
  .github/workflows/packchk.yml
  cmake/ProjectVersionFromGitTag.cmake
  tools/packchk/CMakeLists.txt
Due: packchk1

Correct typo
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

PLM of config files: use .base instead of .current (#529)
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

PLM of config files
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/rteutils/test/src/RteUtilsTest.cpp
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/ARMCM3_ac6.sct.base@1.0.0
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/startup_ARMCM3.c.base@2.0.3
  test/projects/RteTestM3/CONFIG_FOLDER/Device/RteTest_ARMCM3/system_ARMCM3.c.base@1.0.1
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Fix filename for the release
  .github/workflows/packchk.yml
Due: none

Add validation rule that detects a dependency satisfied by the component itself (#339)
  libs/xmlreader/include/XML_Reader.h
  libs/xmlreader/src/XML_Reader_Msgs.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/CompResolvedByItself/ARM.CompResolvedByItself.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

Add validation rule that detects a dependency satisfied by the component itself (#339) (#530)
  libs/xmlreader/include/XML_Reader.h
  libs/xmlreader/src/XML_Reader_Msgs.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  tools/packchk/include/ValidateSemantic.h
  tools/packchk/src/PackChk_Msgs.cpp
  tools/packchk/src/ValidateSemantic.cpp
  tools/packchk/test/data/CompResolvedByItself/ARM.CompResolvedByItself.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

fix IAR build issue when (optimize|debug|warnings) is empty
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
Due: none

[projmgr] Fix emitter relative paths computation
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr1

Update tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
Due: none

[projmgr] Ensure custom dirs are relative
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestSolution/outdirs-absolute.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

Add arm64 binary release to packchk
  .github/matrix_includes_packchk.json
  .github/workflows/packchk.yml
  cmake/ProjectVersionFromGitTag.cmake
  cmake/TC-linux-aarch64.cmake
  tools/packchk/CMakeLists.txt
Due: packchk1

[buildmgr] Extend installer for supporting arm64
  .github/matrix_includes_buildmgr.json
  .github/workflows/buildmgr.yml
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/install.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/test/integrationtests/src/InstallerTests.cpp
  tools/buildmgr/test/scripts/installer_run.sh
Due: none

SVDConv: M380 from ERROR into WARNING due to a fix to address block verification.
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
Due: none

Additions to YML-Input-Format.md - `processor:` added name  (pname) specification at cproject.yml level - `setups:` extended with processor attributes
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

added missing space
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Additions to YML-Input-Format.md (#537)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[projmgr, packgen] Update release flow: add linux-arm64 binaries
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
Due: none

[buildmgr] Refactor addressing CodeQL findings (#345)
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
Due: none

[buildmgr] Refactoring to address CodeQL findings
  tools/buildmgr/cbuild/src/CbuildModel.cpp
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
Due: none

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
