Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

Update branch coverage data from lcov
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/markdown.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  tools/buildmgr/cbuildgen/installer/make_deb.sh
Due: none

[projmgr] Initial implementation of *.cbuild.yml files generation
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrUtils.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/swig/go/CMakeLists.txt
  tools/projmgr/test/data/TestSolution/ref/cbuild/test.cbuild-idx.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Fix cdefault empty check
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr1

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Remove -p/--project option from csolution
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences1.csolution.yml
  tools/projmgr/test/data/TestAccessSequences/test-malformed-access-sequences2.csolution.yml
  tools/projmgr/test/data/TestDefault/test.csolution.yml
  tools/projmgr/test/data/TestLayers/Layer1/layer1.clayer_invalid_schema.yml
  tools/projmgr/test/data/TestLayers/testlayers.cproject_invalid_layer.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_invalid_layer.yml
  tools/projmgr/test/data/TestLayers/testlayers.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/TestProject4/linker.sct
  tools/projmgr/test/data/TestSolution/TestProject4/main.c
  tools/projmgr/test/data/TestSolution/TestProject4/test-dependency.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_and_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_device_variant.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_multi_mounted_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_multi_variant.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_multi_variant_and_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_name_invalid.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_no_mounted_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_board_vendor_invalid.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_correct_board_wrong_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_correct_device_wrong_board.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_device_pname_unavailable_in_board.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_device_unavailable_in_board.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_device_unknown.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_device_unknown_processor.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_device_unknown_vendor.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_invalid_schema.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_mounted_device_differs_selected_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_no_board_no_device.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_only_board.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test.cproject_only_board_no_pname.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_linker_script.cprj
  tools/projmgr/test/data/TestSolution/TestProject4/test_linker_script.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_only_board.cprj
  tools/projmgr/test/data/TestSolution/test.csolution_validate_project.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Add enhancements for Cortex-A cores
  tools/buildmgr/cbuildgen/config/AC6.6.18.0.cmake
  tools/buildmgr/cbuildgen/config/GCC.11.2.1.cmake
Due: none

packchk cmdline help and cleanup
  tools/packchk/CMakeLists.txt
  tools/packchk/docs/packchk.md
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/src/ProductInfo.h.in
Due: packchk1

packgen cmdline help
  tools/packgen/docs/packgen.md
  tools/packgen/src/PackGen.cpp
Due: none

[packgen] Rework dependencies filtering
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
  tools/packgen/test/data/verbose.info
Due: none

Workflow runner OS update to fixed and updated versions
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  CMakeLists.txt
Due: none

update OS
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  CMakeLists.txt
Due: none

[packgen] Increase code coverage
  tools/packgen/test/data/TestProject/TestVendor.TestPack.pdsc
  tools/packgen/test/data/TestProject/manifest.yml
  tools/packgen/test/src/PackGenUnitTests.cpp
Due: none

[packgen] Rework dependencies filtering
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
  tools/packgen/test/data/TestProject/TestVendor.TestPack.pdsc
  tools/packgen/test/data/TestProject/manifest.yml
  tools/packgen/test/data/verbose.info
  tools/packgen/test/src/PackGenUnitTests.cpp
Due: none

Workflow OS version update
  .github/matrix_includes_buildmgr.json
  .github/matrix_includes_packchk.json
  .github/matrix_includes_packgen.json
  .github/matrix_includes_projmgr.json
  .github/matrix_includes_svdconv.json
  .github/matrix_includes_test_libs.json
  .github/workflows/buildmgr.yml
  .github/workflows/global.yaml
  .github/workflows/markdown.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  CMakeLists.txt
Due: none

packchk: Fixed minor issues overlooked during initial contribution
  tools/svdconv/SVDConv/src/SVDConv.cpp
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
  tools/svdconv/SVDConv/src/SvdOptions.cpp
Due: none

[projmgr] Extend cbuild.yml output
  CMakeLists.txt
  tools/buildmgr/cbuildgen/CMakeLists.txt
  tools/packchk/CMakeLists.txt
  tools/packgen/CMakeLists.txt
  tools/projmgr/CMakeLists.txt
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pack_selection.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0_pname.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM3_pname.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+TestGen.cprj
  tools/svdconv/SVDConv/CMakeLists.txt
Due: packchk1, projmgr1

SVDConv: M380 from ERROR into WARNING due to a fix to address block verification.
  tools/svdconv/SVDConv/src/SVDConv_Msgs.cpp
Due: none

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

Update buildmgr main branch documentation
  buildmgr/main/build_revisionHistory.html
  buildmgr/main/cmsis.js
Due: none

[projmgr] Fix test results naming
  .github/workflows/projmgr.yml
Due: none

[projmgr] Set macos swig go warning suppression
  tools/projmgr/swig/go/CMakeLists.txt
Due: projmgr1

QE-2919: Add release for arm64 binary for packchk
  .github/workflows/packchk.yml
  cmake/TC-linux-aarch64.cmake
  tools/packchk/CMakeLists.txt
Due: packchk1

Path conditions:
  packchk1: any of: tools/packchk, but not: /test/.*, /docs/*
  projmgr1: any of: tools/projmgr, but not: /test/.*, /docs/*
