Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
  buildmgr/main/projectDescriptionSchema.html
Due: none

[buildmgr] propagate group/file options to CMakeLists.txt
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_1.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_2.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_3.s
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_4.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
Due: none

[buildmgr] support translate ctrls options with IAR
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
Due: none

apply first review round
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
Due: none

apply second review round
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
Due: none

revert not needed code changes
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
Due: none

[projmgr] update optimize and warnings documentation
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[projmgr] update optimize and warnings documentation (#491)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[buildmgr] propagate group/file options to CMakeLists.txt (#484)
  tools/buildmgr/cbuildgen/config/IAR.8.50.6.cmake
  tools/buildmgr/cbuildgen/include/BuildSystemGenerator.h
  tools/buildmgr/cbuildgen/src/BuildSystemGenerator.cpp
  tools/buildmgr/cbuildgen/src/CMakeListsGenerator.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/CMakeLists.txt.ref
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_1.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_2.c
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_3.s
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/File_4.cpp
  tools/buildmgr/test/testinput/Examples/GCC/TranslationControl/Project3/Project.cprj
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Updated documentation and README.md now contains up-to-date information
  README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

README.md: ignore line length
  README.md
Due: none

Updated documentation (#494)
  README.md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

[projmgr] Add load packs policy option
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Set initial value of load packs policy
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[projmgr] Add load packs policy option
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrKernel.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Simplified `component instances:` (https://github.com/Open-CMSIS-Pack/devtools/issues/489) Added --load option to specify the behavior with loading packs.
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

removed a blank line (reported by markdownlint)
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

csolution documentation: Component Instances, --load option for packs (#496)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

renamed: csolution list setup -> csolution list config
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

renamed: csolution list setup -> csolution list config (#497)
  tools/projmgr/docs/Manual/Overview.md
Due: projmgr1

Cleanup test data after executing tests
  tools/buildmgr/test/integrationtests/src/CBuildIntegTestEnv.cpp
Due: none

Implemented -V/--version option
  tools/buildmgr/cbuild/src/CbuildMsgs.cpp
  tools/buildmgr/cbuildgen/src/Console.cpp
  tools/buildmgr/cbuildgen/src/ProductInfo.h.in
  tools/buildmgr/docs/cbuild.md
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.cpp
  tools/buildmgr/test/integrationtests/src/CBuildGenTestFixture.h
  tools/buildmgr/test/integrationtests/src/CBuildGenTests.cpp
  tools/packchk/CMakeLists.txt
  tools/packchk/docs/packchk.md
  tools/packchk/include/PackOptions.h
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/src/ProductInfo.h.in
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
  tools/packgen/docs/packgen.md
  tools/packgen/include/PackGen.h
  tools/packgen/src/PackGen.cpp
  tools/packgen/src/ProductInfo.h.in
  tools/packgen/test/src/PackGenUnitTests.cpp
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProductInfo.h.in
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: packchk1, projmgr1

Enable publishing of test results
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  codecov.yml
Due: none

CBuild Format documentation: each cproject generates a cbuild.yml
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

[projmgr] Rework misc handling
  tools/projmgr/include/ProjMgrGenerator.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrGenerator.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/AC6/test1.Debug+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeA.cprj
  tools/projmgr/test/data/TestSolution/ref/GCC/test1.Release+TypeB.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Debug+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test1.Release+CM0_board_package.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM0.cprj
  tools/projmgr/test/data/TestSolution/ref/test2.Debug+CM3.cprj
  tools/projmgr/test/data/TestSolution/test.csolution.yml
Due: projmgr1

fixed comments
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

CBuild Format documentation: each cproject generates a cbuild.yml (#501)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
Due: projmgr1

Record branch coverage information
  .github/workflows/buildmgr.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
Due: none

Fix $defs.ComponentType.properties.files.items type
  tools/packgen/schema/manifest.schema.json
Due: none

Add help to command and subcommands
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[packgen] Fix $defs.ComponentType.properties.files.items type
  tools/packgen/schema/manifest.schema.json
Due: none
