Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch: false
    project:
      default: false
      packchk-cov:
        target: auto
        flags:
          - packchk-cov
      projmgr-cov:
        target: auto
        flags:
          - projmgr-cov
      packgen-cov:
        target: auto
        flags:
          - packgen-cov
      buildmgr-cov:
        target: auto
        flags:
          - buildmgr-cov
      svdconv-cov:
        target: auto
        flags:
          - svdconv-cov

comment:
  layout: "diff, flags, files"
  behavior: new

ignore:
  - /test/.*
  - /docs/*
  
flags:
  packchk-cov:
    paths:
      - tools/packchk
    carryforward: true
  projmgr-cov:
    paths:
      - tools/projmgr
    carryforward: true
  packgen-cov:
    paths:
      - tools/packgen
    carryforward: true
  buildmgr-cov:
    paths:
      - tools/buildmgr
    carryforward: true
  svdconv-cov:
    paths:
      - tools/svdconv
    carryforward: true

[devtools] Add Windows manifest enabling `longPathAware`
  tools/buildmgr/cbuildgen/CMakeLists.txt
  tools/buildmgr/cbuildgen/src/cbuildgen.manifest
  tools/packchk/CMakeLists.txt
  tools/packchk/src/packchk.manifest
  tools/packgen/CMakeLists.txt
  tools/packgen/src/packgen.manifest
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/csolution.manifest
  tools/svdconv/SVDConv/CMakeLists.txt
  tools/svdconv/SVDConv/src/svdconv.manifest
Due: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Refinement of the Simplified Generator Proposal
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/images/Generator-Information.png
Due: projmgr-cov

Fixed markdown issues
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
Due: projmgr-cov

MD errors fixed
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
Due: projmgr-cov

Refinement of the Simplified Generator Proposal (#1119)
  tools/projmgr/docs/Manual/Simplified Generator Proposal.md
  tools/projmgr/docs/Manual/images/Generator-Information.png
Due: projmgr-cov

Revised Generator Workflow Proposal #1112 (#689)
  libs/rtemodel/include/RteCallback.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `for-context` and `for-compiler` spelling check
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/typefilters.cproject.yml
  tools/projmgr/test/data/TestSolution/typefilters.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Revised Generator Workflow Proposal #1112 (#689) (#1120)
  libs/rtemodel/include/RteCallback.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTestGenerator/0.1.0/ARM.RteTestGenerator.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `for-context` and `for-compiler` spelling check (#1121)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/typefilters.cproject.yml
  tools/projmgr/test/data/TestSolution/typefilters.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Rework for-compiler spelling check
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr-cov

[RTE] API version selection/resolution may be incorrect #1124 (#691)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTest/0.1.0/API1/NonExclusive.h
  test/packs/ARM/RteTest/0.1.0/API2/NonExclusive.h
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/packchk/src/ValidateSemantic.cpp
Due: packchk-cov

[RTE] API version selection/resolution may be incorrect #1124 (#691) (#1130)
  libs/rtemodel/include/RteComponent.h
  libs/rtemodel/include/RteItem.h
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteComponent.cpp
  libs/rtemodel/src/RteCondition.cpp
  libs/rtemodel/src/RteItem.cpp
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/src/RteTarget.cpp
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/rteutils/include/VersionCmp.h
  libs/rteutils/src/VersionCmp.cpp
  libs/rteutils/test/src/VersionCmpTests.cpp
  test/packs/ARM/RteTest/0.1.0/API1/NonExclusive.h
  test/packs/ARM/RteTest/0.1.0/API2/NonExclusive.h
  test/packs/ARM/RteTest/0.1.0/ARM.RteTest.pdsc
  tools/packchk/src/ValidateSemantic.cpp
Due: packchk-cov

[RTE] API version selection/resolution may be incorrect #1124 (#692)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
Due: none

[RTE] API version selection/resolution may be incorrect #1124 (#692) (#1131)
  libs/rtemodel/include/RteInstance.h
  libs/rtemodel/src/RteInstance.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
Due: none

Projmgr: cdefault flags to remove unused sections - Arm Compiler does this by default - GCC/Clang require according flags - IAR does this by default
  tools/projmgr/templates/cdefault.yml
Due: projmgr-cov

YmlTree parser (#686)
  CMakeLists.txt
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/xmltree/include/AbstractFormatter.h
  libs/xmltree/include/IXmlItemBuilder.h
  libs/xmltree/include/JsonFormatter.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlFormatter.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  libs/xmltree/src/AbstractFormatter.cpp
  libs/xmltree/src/JsonFormatter.cpp
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/src/XmlFormatter.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/ymltree/CMakeLists.txt
  libs/ymltree/include/YmlFormatter.h
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlFormatter.cpp
  libs/ymltree/src/YmlTree.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  libs/ymltree/test/CMakeLists.txt
  libs/ymltree/test/YmlTreeTest.cpp
  libs/ymltree/test/YmlTreeTest.cpp_.cpp
Due: none

YmlTree parser (#686) (#1135)
  CMakeLists.txt
  libs/rteutils/include/RteUtils.h
  libs/rteutils/src/RteUtils.cpp
  libs/xmltree/include/AbstractFormatter.h
  libs/xmltree/include/IXmlItemBuilder.h
  libs/xmltree/include/JsonFormatter.h
  libs/xmltree/include/XMLTree.h
  libs/xmltree/include/XmlFormatter.h
  libs/xmltree/include/XmlTreeItemBuilder.h
  libs/xmltree/src/AbstractFormatter.cpp
  libs/xmltree/src/JsonFormatter.cpp
  libs/xmltree/src/XMLTree.cpp
  libs/xmltree/src/XmlFormatter.cpp
  libs/xmltreeslim/src/XmlTreeSlimInterface.cpp
  libs/ymltree/CMakeLists.txt
  libs/ymltree/include/YmlFormatter.h
  libs/ymltree/include/YmlTree.h
  libs/ymltree/src/YmlFormatter.cpp
  libs/ymltree/src/YmlTree.cpp
  libs/ymltree/src/YmlTreeParserInterface.cpp
  libs/ymltree/src/YmlTreeParserInterface.h
  libs/ymltree/test/CMakeLists.txt
  libs/ymltree/test/YmlTreeTest.cpp
  libs/ymltree/test/YmlTreeTest.cpp_.cpp
Due: none

Generate .Cbuild-idx.yml file with all contexts info
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Make files with different number of lines unequal
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LanguageAndScope/ref/lang-scope.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Release+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

Bugfix: repair collecting effective debug sequences (#694)
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/src/RteDevice.cpp
Due: none

Bugfix: repair collecting effective debug sequences (#694) (#1138)
  libs/rtemodel/include/RteDevice.h
  libs/rtemodel/src/RteDevice.cpp
Due: none

Make files with different number of lines unequal (#1137)
  tools/projmgr/test/data/TestDefault/ref/empty/project.Debug+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestDefault/ref/empty/project.Release+TEST_TARGET.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project1.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ContextMap/ref/project2.Release+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LanguageAndScope/ref/lang-scope.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_AC6+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.Debug_GCC+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityDefines+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/LinkerOptions/ref/linker.PriorityRegions+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/StandardLibrary/ref/library.Debug+RteTest_ARMCM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Debug+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/outputFiles.Library+Target.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/rtedir.Release+CM0.cbuild.yml
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
Due: projmgr-cov

Erase all xmlns: and xs: attributes when reading packs (#695)
  libs/rtemodel/src/RtePackage.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
Due: none

Erase all xmlns: and xs: attributes when reading packs (#695) (#1140)
  libs/rtemodel/src/RtePackage.cpp
  libs/xmltree/include/XmlItem.h
  libs/xmltree/src/XmlItem.cpp
  libs/xmltree/test/src/XmlTreeTest.cpp
Due: none

Split ProjMgrYamlCbuild into 3 classes
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
Due: projmgr-cov

Create *.cbuild-gen.yml
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject3_4/TestProject3_4.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_4/main.c
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/test_fail_creating_directories.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
Due: projmgr-cov

List available API versions (#696)
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/xmltree/src/XmlItem.cpp
Due: none

Implement *.cbuild-gen.yml
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/test/data/TestGenerator/ref/multiple-components.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-layer.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc-multiple-generators.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestGenerator/ref/test-gpdsc.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/TestProject3_4/TestProject3_4.cproject.yml
  tools/projmgr/test/data/TestSolution/TestProject3_4/main.c
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/ref/TestProject3_1.Debug+TypeA.cbuild.yml
  tools/projmgr/test/data/TestSolution/test_fail_creating_directories.csolution.yml
  tools/projmgr/test/src/ProjMgrGeneratorUnitTests.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.cpp
  tools/projmgr/test/src/ProjMgrTestEnv.h
Due: projmgr-cov

[buildmgr] Fix documentation web links
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/cprj_schema.txt
Due: buildmgr-cov

List available API versions (#696) (#1141)
  libs/rtemodel/include/RteModel.h
  libs/rtemodel/src/RteModel.cpp
  libs/rtemodel/src/RteProject.cpp
  libs/rtemodel/test/src/RteConditionTest.cpp
  libs/xmltree/src/XmlItem.cpp
Due: none

[buildmgr] Fix documentation web links (#1142)
  tools/buildmgr/docs/doxygen/Build/src/CmdLineBuild.txt
  tools/buildmgr/docs/doxygen/Build/src/cprj_schema.txt
Due: buildmgr-cov

Remove ErrLog from YmlTree dependencies (#699)
  libs/ymltree/CMakeLists.txt
Due: none

Remove ErrLog from YmlTree dependencies (#699) (#1144)
  libs/ymltree/CMakeLists.txt
Due: none

[projmgr] Generate *.cbuild-set.yml listing selected contexts
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlEmitter.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/include/ProjMgrYamlSchemaChecker.h
  tools/projmgr/schemas/cbuildset.schema.json
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrParser.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlEmitter.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/src/ProjMgrYamlSchemaChecker.cpp
  tools/projmgr/test/CMakeLists.txt
  tools/projmgr/test/data/TestSolution/invalid_keys_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/invalid_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/all_contexts_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/all_contexts_test_with_AC6.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test.cbuild-set.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/specific_contexts_test_without_toolchain.cbuild-set.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrYamlParserUnitTest.cpp
Due: projmgr-cov

GH Workflow for C++ linter
  .github/workflows/cpp-linter.yml
Due: none
