Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk1, projmgr1

codecov.yml:

# Coverage configuration
# ----------------------
coverage:
  status:
    patch:
      packchk1:
        target: auto
        threshold: 0.01%
        flags:
          - packchk1
      projmgr1:
        target: auto
        threshold: 0.01%
        flags:
          - projmgr1
flags:
  packchk1:
    carryforward: true
    paths:
      - tools/packchk
  projmgr1:
    carryforward: true
    paths:
      - tools/projmgr

ignore:
  - /test/.*
  - /docs/*

comment:
  layout: "reach, diff, flags, files"

Renamed: `connects:` -> `connections:`
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Compiler agnostic build: added example, removed build-types from cdef… (#628)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

PackChk: Pack name must always match topmost release version
  tools/packchk/src/PackChk.cpp
  tools/packchk/test/data/PackNameFile/Arm.PackNameFile_DFP.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

[projmgr] Introduce `connections` replacing `interfaces`
  libs/rtemodel/test/src/RteModelTest.cpp
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board2.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/board3.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/config1.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/config2.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/incompatible.clayer.yml
  test/packs/ARM/RteTest_DFP/0.2.0/Layers/testvariant.clayer.yml
  tools/projmgr/include/ProjMgrParser.h
  tools/projmgr/include/ProjMgrUtils.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/config.clayer.yml
  tools/projmgr/test/data/TestLayers/config.cproject.yml
  tools/projmgr/test/data/TestLayers/config.csolution.yml
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/interfaces.cproject.yml
  tools/projmgr/test/data/TestLayers/interfaces.csolution.yml
  tools/projmgr/test/data/TestLayers/interfaces1.clayer.yml
  tools/projmgr/test/data/TestLayers/interfaces2.clayer.yml
  tools/projmgr/test/data/TestLayers/ref/interfaces/interfaces.CompatibleInterfaces.cprj
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

[buildmgr] Update versions
  tools/buildmgr/cbuildgen/installer/create_installer.sh
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/docs/doxygen/Build/src/General.txt
Due: none

[projmgr] Extend connections matches
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Introduce keywords `for-context` and `not-for-context`
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrYamlParser.cpp
  tools/projmgr/test/data/TestLayers/genericlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/testlayers.cproject.yml
  tools/projmgr/test/data/TestLayers/testlayers.cproject_no_device_name.yml
  tools/projmgr/test/data/TestSolution/TestProject1/test1.cproject.yml
  tools/projmgr/test/data/TestSolution/contexts.csolution.yml
  tools/projmgr/test/data/TestSolution/pack_contexts.cproject.yml
  tools/projmgr/test/data/TestSolution/pack_contexts.csolution.yml
  tools/projmgr/test/data/TestSolution/pack_path.cproject.yml
  tools/projmgr/test/data/TestSolution/test.csolution.yml
  tools/projmgr/test/data/TestSolution/test.csolution_filtered_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_invalid_pack.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_file_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path.yml
  tools/projmgr/test/data/TestSolution/test.csolution_local_pack_path_not_found.yml
  tools/projmgr/test/data/TestSolution/test.csolution_missing_project.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_buildtypes.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_device_name.yml
  tools/projmgr/test/data/TestSolution/test.csolution_no_packs.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pack_selection.yml
  tools/projmgr/test/data/TestSolution/test.csolution_pname.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/NonSecure.cproject.yml
  tools/projmgr/test/data/TrustZoneSolutionLayersTypes/Secure.cproject.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

[projmgr] Handle multiple common `connect` nodes
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/config.clayer.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr1

added option "--allow-suppress-error" (#413)
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/test/data/AllowSuppressError/Files/header1.h
  tools/packchk/test/data/AllowSuppressError/Files/test1.c
  tools/packchk/test/data/AllowSuppressError/TestVendor.TestInvalidPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

added option "--allow-suppress-error"
  tools/packchk/include/PackOptions.h
  tools/packchk/include/ParseOptions.h
  tools/packchk/src/PackOptions.cpp
  tools/packchk/src/ParseOptions.cpp
  tools/packchk/test/data/AllowSuppressError/Files/header1.h
  tools/packchk/test/data/AllowSuppressError/Files/test1.c
  tools/packchk/test/data/AllowSuppressError/TestVendor.TestInvalidPack.pdsc
  tools/packchk/test/integtests/src/PackChkIntegTests.cpp
Due: packchk1

- Documented layer `type:` and `variables:` - Removed Q3Features as they have been implemented
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Q3Features/Pack2CSolution.md
Due: projmgr1

Reflect changes to CMSIS-Toolbox 1.4.0 (#642)
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Q3Features/Pack2CSolution.md
Due: projmgr1

Documentation Improvement: - Linker Script Handling added - YML CBuild Format reflects current status of tools
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
  tools/projmgr/docs/Manual/images/scatter-file.png
  tools/projmgr/docs/images/CMSIS-Toolbox-Development-Workflow.png
  tools/projmgr/docs/images/CMSIS-Toolbox-Overview.png
  tools/projmgr/docs/images/Overview.png
  tools/projmgr/docs/images/Solution.png
  tools/projmgr/docs/images/TargetBuild-Types.png
Due: projmgr1

- Consistent name: linker script file
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Linker Script File (Proposal).md refinement
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Linker Script File (Proposal).md revised after initial feedback
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

*.md file now updated
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
Due: projmgr1

Added: mapping of filename extensions to categories
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Added information about the build process which includes the process to add new compiler toolchains
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/cbuild-operation.png
  tools/projmgr/docs/Manual/images/csolution-operation.png
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
Due: projmgr1

Linker Script File (Proposal).md - incorporated early feedback
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
Due: projmgr1

Completed: file extensions Added: for variables - where they can be applied
  tools/projmgr/docs/Manual/YML-Input-Format.md
Due: projmgr1

Manual Improvements and Proposal for Linker Script Generation (#650)
  tools/projmgr/docs/Manual/Build-Operation.md
  tools/projmgr/docs/Manual/Linker Script File (Proposal).md
  tools/projmgr/docs/Manual/Overview.md
  tools/projmgr/docs/Manual/YML-CBuild-Format.md
  tools/projmgr/docs/Manual/YML-Format.md
  tools/projmgr/docs/Manual/YML-Input-Format.md
  tools/projmgr/docs/Manual/images/cbuild-operation.png
  tools/projmgr/docs/Manual/images/csolution-operation.png
  tools/projmgr/docs/Manual/images/linker-script-file.png
  tools/projmgr/docs/Manual/images/overview.pptx
  tools/projmgr/docs/images/CMSIS-Toolbox-Development-Workflow.png
  tools/projmgr/docs/images/CMSIS-Toolbox-Overview.png
  tools/projmgr/docs/images/Overview.png
  tools/projmgr/docs/images/Solution.png
  tools/projmgr/docs/images/TargetBuild-Types.png
Due: projmgr1

[projmgr] Fix CodeQL findings
  tools/projmgr/src/ProjMgr.cpp
Due: projmgr1

Added csolution and dependencies in debian package
  tools/buildmgr/cbuildgen/installer/make_deb.sh
  tools/buildmgr/test/integrationtests/src/DebPkgTests.cpp
Due: none

Run coverage job on push event
  .github/workflows/buildmgr.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  codecov.yml
Due: none

[projmgr] Validate combined connections sharing same set 'select'
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestLayers/select.clayer.yml
  tools/projmgr/test/data/TestLayers/select.cproject.yml
  tools/projmgr/test/data/TestLayers/select.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
  tools/projmgr/test/src/ProjMgrWorkerUnitTests.cpp
Due: projmgr1

Add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

[projmgr] Align RTE target directory name (#419)
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test1.Release+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM0.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/cbuild/test2.Debug+CM3.cbuild.yml
  tools/projmgr/test/data/TestSolution/ref/pre-include+CM0.cbuild.yml
Due: projmgr1
