Repository Open-CMSIS-Pack/devtools: changes, and which Codecov flags are due for each by the changed paths.
All: packchk-cov, projmgr-cov, packgen-cov, buildmgr-cov, svdconv-cov

Add suggestions
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[projmgr] Add `list npus` to filter devices with NPUs (#2449)
  test/packs/ARM/RteTest_DFP/0.2.0/ARM.RteTest_DFP.pdsc
  test/packs/ARM/RteTest_DFP/0.2.0/Scripts/vela/vela_deviceLevel.ini
  test/packs/ARM/RteTest_DFP/0.2.0/Scripts/vela/vela_subfamilyLevel.ini
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

CI(workflows): Increase job timeouts and improve nightly workflow control
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  codecov.yml
Due: none

Use Options Resolve
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

Update tools/projmgr/test/src/ProjMgrRpcTests.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: none

Update tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/src/ProjMgrRpcServer.cpp
Due: projmgr-cov

Use Options Resolve (#2452)
  tools/projmgr/CMakeLists.txt
  tools/projmgr/src/ProjMgrRpcServer.cpp
  tools/projmgr/test/src/ProjMgrRpcTests.cpp
Due: projmgr-cov

[Schema] Extention for debugger RTT
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestRunDebug/invalid_telnet_rtt_schema.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[Schema] Extention for debugger RTT (#2453)
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestRunDebug/invalid_telnet_rtt_schema.cbuild-run.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
Due: projmgr-cov

[projmgr] Add NPU info in cbuild.yml
  .gitignore
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
Due: projmgr-cov

Small improvement
  .gitignore
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
Due: projmgr-cov

Remove redundant code
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Remove redundant code
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

[projmgr] Update schema: add `rtt` to `TargetSetDebuggerType`
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

Add description
  tools/projmgr/include/ProjMgrWorker.h
Due: projmgr-cov

Add suggestion
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
Due: projmgr-cov

[projmgr] Add NPU info in cbuild.yml (#2454)
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/include/ProjMgrYamlParser.h
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/src/ProjMgrCbuild.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core0.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/ExternalGenerator/ref/MultiCore/core1.Debug+MultiCore.cbuild-gen.yml
  tools/projmgr/test/data/TestSolution/TestProject4/test_board_and_device+TEST_TARGET.cbuild.yml
Due: projmgr-cov

[projmgr] Update schema: Added debugger systemview
  tools/projmgr/schemas/common.schema.json
  tools/projmgr/test/data/TestRunDebug/invalid_telnet_rtt_schema.cbuild-run.yml
  tools/projmgr/test/data/TestRunDebug/telnet.csolution.yml
  tools/projmgr/test/src/ProjMgrSchemaCheckerUnitTests.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

switch to actions/download-artifact to fetch all artifacts from the current run
  .github/workflows/nightly.yml
Due: none

Removing default values
  tools/projmgr/schemas/common.schema.json
Due: projmgr-cov

CI(workflows): Increase job timeouts and improve nightly workflow control (#2451)
  .github/workflows/buildmgr.yml
  .github/workflows/nightly.yml
  .github/workflows/packchk.yml
  .github/workflows/packgen.yml
  .github/workflows/projmgr.yml
  .github/workflows/svdconv.yml
  .github/workflows/test_libs.yml
  .github/workflows/unit_test_results.yml
  codecov.yml
Due: none

Update buildmgr main branch documentation
  buildmgr/main/cmsis.js
Due: none

Add `check` command for potential pack updates
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  test/packs/.Local/ARM.RteTestBoard.pdsc
  test/packs/.Local/local_repository.pidx
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo1.FLM
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo2.FLM
  test/packs/ARM/RteTestBoard/0.0.1/Documents/README.md
  tools/projmgr/include/ProjMgr.h
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgr.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd.cproject.yml
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Small fix
  test/packs/.Local/ARM.RteTestBoard.pdsc
  test/packs/.Local/local_repository.pidx
Due: none

Refine workflow
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  test/packs/.Local/ARM.RteTestBoard.pdsc
  test/packs/.Local/local_repository.pidx
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd.csolution.yml
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Refine workflow
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Small fix
  libs/rtemodel/include/RteKernel.h
  libs/rtemodel/src/RteKernel.cpp
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo1.FLM
  test/packs/ARM/RteTestBoard/0.0.1/Board/Flash/BoardAlgo2.FLM
  test/packs/ARM/RteTestBoard/0.1.0/ARM.RteTestBoard.pdsc
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fix unit tests
  libs/rtemodel/src/RteKernel.cpp
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Fix unit tests
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

Update unit tests
  libs/rtemodel/test/src/RteChkTest.cpp
  libs/rtemodel/test/src/RteModelTest.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: none

[projmgr] Throw warning when multiple packs versions are simultaneously selected
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Small improvement
  libs/rtemodel/include/RteKernel.h
  test/packs/ARM/RteTestBoard/0.0.1/ARM.RteTestBoard.pdsc
  tools/projmgr/include/ProjMgrWorker.h
  tools/projmgr/src/ProjMgrWorker.cpp
Due: projmgr-cov

Small improvement2
  libs/rtemodel/include/RteKernel.h
Due: none

Clean-up left overs
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Add test data
  tools/projmgr/test/data/TestSolution/pack_multiple_versions.csolution.yml
Due: none

Additionally check packs required via `path:` node
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/checkPackVerCmd_my-packs.csolution.yml
  tools/projmgr/test/data/TestSolution/CheckPackVerCmd/my-packs/RteTestPack/ARM.RteTestBoard.pdsc
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

[buildmgr] CLANG support: re-add `-mfpu` option
  tools/buildmgr/cbuildgen/config/CLANG.17.0.1.cmake
Due: buildmgr-cov

Refine code
  tools/projmgr/src/ProjMgrWorker.cpp
  tools/projmgr/test/src/ProjMgrUnitTests.cpp
Due: projmgr-cov

Path conditions:
  packchk-cov: any of: tools/packchk, but not: **/test/**, /docs/*
  projmgr-cov: any of: tools/projmgr, but not: **/test/**, /docs/*
  packgen-cov: any of: tools/packgen, but not: **/test/**, /docs/*
  buildmgr-cov: any of: tools/buildmgr, but not: **/test/**, /docs/*
  svdconv-cov: any of: tools/svdconv, but not: **/test/**, /docs/*
